.tco-post-teaser {
  margin-top: -$spacing-stack-64;

  &-eyebrow {
    display: block;
    margin-bottom: 9px;
  }

  &-title {
    margin-bottom: 0;
  }

  &-link {
    @include type-link(
      $font-family: $font-stack-serif-bold,
      $line-height: 25px
    );
    display: block;
  }

  @include wider-than($breakpoint-tablet-portrait) {
    display: flex;
    flex-flow: row nowrap;

    &.tco-post-teaser--align-right {
      justify-content: flex-end;
    }

    &.tco-post-teaser--align-center {
      justify-content: center;
    }
  }

  .tco--content {
    @include wider-than($breakpoint-tablet-portrait) {
      width: 50%;
    }
  }
}
