.tco-post-teaser {
  &-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &-eyebrow {
    @include type-eyebrow;
    display: block;
    margin-bottom: $spacing-stack-12;
  }

  &-title {
    display: inline-block;
    margin-bottom: 0;
  }

  &-link {
    @include type-link(
      $font-family: $font-stack-sans-serif-bold,
      $line-height: 1.5,
      $show-initial: true
    );
    @include type-body-small($font-color: $color-classic-blue);
    display: block;
  }

  &-author {
    @include type-sans-bold;
  }

  .tco-text-media-content & {
    margin-top: $spacing-stack-32;
  }

  .tco-text-media-content-text--right & {
    justify-content: flex-end;
  }

  .tco-text-media-content-text--center & {
    justify-content: center;
  }

  @include wider-than($breakpoint-tablet-portrait) {
    display: flex;
    flex-flow: row nowrap;

    &.tco-post-teaser--align-right {
      justify-content: flex-end;
    }

    &.tco-post-teaser--align-center {
      justify-content: center;
    }
  }

  .tco--content {
    @include wider-than($breakpoint-tablet-portrait) {
      width: 50%;
    }
  }
}
