/* stylelint-disable selector-max-pseudo-class, max-line-length, selector-max-specificity,  max-nesting-depth, selector-max-combinators, selector-max-compound-selectors, no-duplicate-selectors */

$current-size: 28px;
$list-space-mobile: 10px;
$list-space: 14px;
$pagination-break-point: 518px;

.tco-pagination {
  margin-top: $spacing-stack-50;

  &-list {
    @include list-plain;
    display: flex;
    flex-flow: row wrap;
    gap: $spacing-inline-20;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 0;

    @include wider-than($breakpoint-phone-landscape) {
      gap: $spacing-inline-24;
    }

    &-item {
      @include type-eyebrow;
      list-style: none;

      a {
        border-bottom-color: transparent;
        color: $color-classic-gray-dark;

        .tco-container-wrapper--navy &,
        .tco-container-wrapper--blue & {
          color: $color-foreground-on-tint;
        }

        &:hover {
          border-bottom-color: transparent;
        }

        .tco-lights-out & {
          border-bottom-color: transparent;
          color: $color-foreground-on-tint;

          .tco-icon {
            fill: $color-classic-blue;
          }
        }
      }

      &--current {
        display: flex;
        width: $current-size;
        height: $current-size;
        border-radius: $border-radius-round;
        background-color: $color-tint-blue-primary;
        color: $color-foreground-on-tint;

        .tco-container-wrapper--navy &,
        .tco-container-wrapper--blue & {
          background: $color-foreground-on-tint;
          color: $color-classic-blue;
        }

        .tco-lights-out & {
          background-color: $color-foreground-on-tint;
          color: $color-classic-blue;
        }
      }
    }
  }

  &-list-item--next,
  &-list-item--prev {
    width: 100%;
    margin: $list-space-mobile;
    text-align: center;

    @include wider-than($breakpoint-tablet-portrait) {
      width: auto;
      margin: 0 $list-space;
    }

    a {
      @include type-link-cta;
      border-bottom-color: transparent;
      color: $color-classic-blue;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    svg {
      .tco-container-wrapper--navy &,
      .tco-container-wrapper--blue & {
        fill: $color-foreground-on-tint;
      }

      .tco-lights-out & {
        fill: $color-dark-theme-blue;
      }
    }
  }

  &-list-item--prev a {
    svg {
      transform: scaleX(-1) translate(-12px, 3px);
    }

    &:hover {
      svg {
        transform: scaleX(-1) translate(-7px, 3px);
      }
    }
  }

  &-page--current {
    margin: auto;
  }

  &-page--ellipsis {
    .tco-container-wrapper--navy &,
    .tco-container-wrapper--blue & {
      color: $color-foreground-on-tint;
    }

    .tco-lights-out & {
      color: $color-foreground-on-tint;
    }
  }
}
