.tco-background {
  &--white {
    background-color: $color-foreground-on-tint;
  }

  &--tan {
    background-color: $color-background-secondary;
  }

  &--glass {
    background-color: $color-tint-blue-tertiary;
  }

  &--primary-blue {
    background-color: $color-tint-blue-primary;
  }

  &--midnight-blue {
    background-color: $color-background-tertiary;
  }
}
