/* stylelint-disable declaration-no-important */

$color-dark-theme-black: #23272a;
$color-foreground-on-tint: #fff;

.sb-show-main {
  &.tco-lights-out {
    background-color: $color-dark-theme-black !important;
  }
}

.tco-lights-out {
  color: $color-foreground-on-tint;

  .tco-container-wrapper {
    background-color: $color-dark-theme-black;
    color: $color-foreground-on-tint;
  }
}
