/* stylelint-disable declaration-no-important */

$color-dark-theme-black: #010d15;
$color-foreground-on-tint: #fff;

.sb-show-main {
  &.tco-lights-out {
    background-color: $color-dark-theme-black !important;

    .sbdocs-subtitle,
    .sbdocs-p {
      color: $color-foreground-on-tint;
    }
  }

  &.sb-main-fullscreen {
    .sbdocs-wrapper {
      padding: 0;
    }

    &.tco-lights-out {
      .innerZoomElementWrapper {
        > div {
          background-color: $color-dark-theme-black;
        }
      }
    }
  }
}

.tco-lights-out {
  color: $color-foreground-on-tint;
}
