* {
  box-sizing: border-box;
}

body {
  background-color: $color-system-white;
  @include type-style-body;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 rem($spacing-stack-8) 0;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  display: block;
}

svg {
  max-width: 100%;
}

.accessibly-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
