* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  @include type-body-default($color-foreground-primary);
  overflow-x: hidden;
  background-color: $color-foreground-on-tint;
}

@supports (overflow-x: clip) {
  body {
    overflow-x: clip;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 rem($spacing-stack-8) 0;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  max-width: 100%;
}

a {
  @include type-link($show-initial: true);
}

ul {
  @include list-plain;
}

.tco-accessibly-hidden,
%tco-accessibly-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
