@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:400,400i,600,600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,900,900i&display=swap');
// Kievit Pro
@font-face {
  font-family: 'Kievit Pro';
  font-weight: normal;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-display: swap;
  src: url('../fonts/1473320/1aa8755b-3491-4d68-9249-915b84637e5c.eot?#iefix');
  src: url('../fonts/1473320/1aa8755b-3491-4d68-9249-915b84637e5c.eot?#iefix')
      format('eot'),
    url('../fonts/1473320/a2ad63a7-56d4-4ef1-bbd2-936695fc7b1f.woff2')
      format('woff2'),
    url('../fonts/1473320/ce815d31-f40f-4377-af70-aae345bea5cf.woff')
      format('woff'),
    url('../fonts/1473320/345cadd5-fd66-45aa-8735-e5ddf6457d54.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Kievit Pro';
  font-weight: normal;
  font-style: italic;
  font-variant-numeric: lining-nums;
  font-display: swap;
  src: url('../fonts/1473283/6a0750db-ffe8-4200-9823-a1c91adc1ca3.eot?#iefix');
  src: url('../fonts/1473283/6a0750db-ffe8-4200-9823-a1c91adc1ca3.eot?#iefix')
      format('eot'),
    url('../fonts/1473283/0811c0f1-a9da-43b6-8e6b-7b3b1dcb2094.woff2')
      format('woff2'),
    url('../fonts/1473283/b9b375fa-c12e-461f-9c73-245cd5d1a4d4.woff')
      format('woff'),
    url('../fonts/1473283/6494f5d1-8fae-4cdf-a207-13f033363efc.ttf')
      format('truetype');
}

// Medium
@font-face {
  font-family: 'Kievit Pro';
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-display: swap;
  src: url('../fonts/1473295/2adcd26a-1976-42fe-a53b-58b4bb023e71.eot?#iefix');
  src: url('../fonts/1473295/2adcd26a-1976-42fe-a53b-58b4bb023e71.eot?#iefix')
      format('eot'),
    url('../fonts/1473295/ada2ab33-e8a1-46ad-bb29-7f14c50209db.woff2')
      format('woff2'),
    url('../fonts/1473295/828846f6-6e09-4745-82a9-a17c1042e12b.woff')
      format('woff'),
    url('../fonts/1473295/9c713b73-bc7c-4e97-a956-19d38b6b950d.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Kievit Pro';
  font-weight: 500;
  font-style: italic;
  font-variant-numeric: lining-nums;
  font-display: swap;
  src: url('../fonts/1473299/118da576-31c8-4ca5-b254-d23f3d688d61.eot?#iefix');
  src: url('../fonts/1473299/118da576-31c8-4ca5-b254-d23f3d688d61.eot?#iefix')
      format('eot'),
    url('../fonts/1473299/478c7b47-005b-442a-9625-0a5cc4db6e33.woff2')
      format('woff2'),
    url('../fonts/1473299/cd0f2325-53a0-4d90-adbf-f3f37185d495.woff')
      format('woff'),
    url('../fonts/1473299/a3afef04-e397-48d5-9cd2-99daf65e125c.ttf')
      format('truetype');
}

// Bold
@font-face {
  font-family: 'Kievit Pro';
  font-weight: 700;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-display: swap;
  src: url('../fonts/1473259/bb94c1b9-8e3a-4be4-9806-a334a6211ddc.eot?#iefix');
  src: url('../fonts/1473259/bb94c1b9-8e3a-4be4-9806-a334a6211ddc.eot?#iefix')
      format('eot'),
    url('../fonts/1473259/0d096877-d31b-4b43-b54c-18eefae0a26a.woff2')
      format('woff2'),
    url('../fonts/1473259/a2dc5105-304a-4e4a-8b33-afb9153b36cc.woff')
      format('woff'),
    url('../fonts/1473259/23954f93-7c28-47d1-ba24-1684bfa076e0.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Kievit Pro';
  font-weight: 700;
  font-style: italic;
  font-variant-numeric: lining-nums;
  font-display: swap;
  src: url('../fonts/1473263/b5d7ce7d-e8e2-446c-afcd-be3182d95c04.eot?#iefix');
  src: url('../fonts/1473263/b5d7ce7d-e8e2-446c-afcd-be3182d95c04.eot?#iefix')
      format('eot'),
    url('../fonts/1473263/bcfae296-4ebb-456c-bcd0-69a79086451e.woff2')
      format('woff2'),
    url('../fonts/1473263/6db49c8f-12f2-4a5e-a9c3-72210c26c773.woff')
      format('woff'),
    url('../fonts/1473263/643c404d-0899-4639-ad20-467a8ac5ac17.ttf')
      format('truetype');
}

// Kievit Slab
@font-face {
  font-family: 'Kievit Slab';
  font-weight: 800;
  font-style: italic;
  font-variant-numeric: lining-nums;
  font-display: swap;
  src: url('../fonts/5352360/8894c406-4cfa-4802-a8cb-900dc3436adb.eot?#iefix');
  src: url('../fonts/5352360/8894c406-4cfa-4802-a8cb-900dc3436adb.eot?#iefix')
      format('eot'),
    url('../fonts/5352360/ced4b75e-4244-41f6-bd07-28fbd4c76f66.woff2')
      format('woff2'),
    url('../fonts/5352360/6879dd4c-c5b8-470c-8389-c99fb1019d47.woff')
      format('woff'),
    url('../fonts/5352360/bc676dc5-3b2b-4c5c-a686-cf15f387ef0d.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Kievit Slab';
  font-weight: 800;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-display: swap;
  src: url('../fonts/5357320/442eabe8-c390-40cd-abf0-a9f97d79517d.eot?#iefix');
  src: url('../fonts/5357320/442eabe8-c390-40cd-abf0-a9f97d79517d.eot?#iefix')
      format('eot'),
    url('../fonts/5357320/248bda77-9f71-4169-872a-84e57d799548.woff2')
      format('woff2'),
    url('../fonts/5357320/d86dedcf-0a6f-4a8e-92af-1c44219be749.woff')
      format('woff'),
    url('../fonts/5357320/8b1f6870-7285-4534-b25d-c9492e752ab2.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Kievit Slab';
  font-variant-numeric: lining-nums;
  font-display: swap;
  src: url('../fonts/1473175/55aa70f5-633e-4542-b9ae-be955bd48129.eot?#iefix');
  src: url('../fonts/1473175/55aa70f5-633e-4542-b9ae-be955bd48129.eot?#iefix')
      format('eot'),
    url('../fonts/1473175/0c3dbab2-d92d-42a2-9ec7-1167734c9961.woff2')
      format('woff2'),
    url('../fonts/1473175/5d1c520f-fe60-400b-8824-c68f5fd85c89.woff')
      format('woff'),
    url('../fonts/1473175/c61be365-1aff-4033-98fe-7bd7f9a56059.ttf')
      format('truetype');
}
