/* stylelint-disable selector-max-combinators,
  selector-max-specificity, selector-max-compound-selectors,
  declaration-no-important, selector-no-qualifying-type
*/

$select-height: 35px;
$opacity--disabled: 0.4;
$field-space: 36px;
$textarea-height: 80px;
$color-hover: #08519a;

/* ----------------------------------------------*\
    Form Row
\*---------------------------------------------- */

.tco-form-row,
%tco-form-row {
  width: 100%;
  margin-bottom: $field-space;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--split {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &-group {
      width: 100%;

      &:first-of-type {
        margin-bottom: $field-space;

        @include wider-than($breakpoint-phone-landscape) {
          margin-bottom: 0;
        }
      }

      @include wider-than($breakpoint-phone-portrait) {
        width: 100%;
      }

      @include wider-than($breakpoint-phone-landscape) {
        width: calc(50% - #{$spacing-inline-8});
      }
    }

    &--textarea {
      margin-bottom: $field-space - 10px;
    }
  }

  &.tco-form-row--button {
    margin: $spacing-stack-40 0;
  }
}

.tco-form-row--group {
  position: relative;
  margin-bottom: $spacing-inline-12;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tco-form-fieldset {
  &.disabled {
    opacity: $opacity--disabled;
  }
}

/* ----------------------------------------------*\
      Form controls
\*---------------------------------------------- */

.tco-form-input,
%tco-form-input {
  @include type-eyebrow($weight: $font-weight-400);
  width: 100%;
  padding: 1px 2px;
  padding-top: calc(#{$spacing-stack-20} + #{$spacing-stack-2});
  padding-bottom: calc(#{$spacing-stack-4} + #{$spacing-stack-2});
  border: 0;
  border-bottom: $border-default;
  border-radius: 0;
  background-color: $color-foreground-on-tint;
  background-image: none;
  color: $color-foreground-primary;

  &::placeholder {
    color: $color-foreground-tertiary;
  }

  // fixes hidden focus ring on mac firefox
  &:focus {
    box-shadow: 0 0 0 3px -moz-mac-focusring;
  }

  &:disabled {
    opacity: $opacity--disabled;
    pointer-events: none;
  }

  &.is-error {
    border-color: $color-tint-red-primary;
  }

  &.is-success {
    border-color: $color-tint-green-primary;
  }

  .tco-lights-out & {
    border-bottom: 1px solid $color-foreground-on-tint;
    background-color: transparent;
    color: $color-foreground-on-tint;

    &:focus {
      outline: 2px solid $color-foreground-on-tint;
    }
  }
}

.tco-form-state-icon {
  position: absolute;
  left: rem(8px);
  width: rem(16px);
  height: rem(16px);
  padding: rem(3px);
  border-radius: 100%;

  &--error {
    background-color: $color-tint-red-primary;
    fill: $color-foreground-on-tint;
  }

  &--success {
    background-color: $color-tint-green-primary;
    fill: $color-foreground-on-tint;
  }
}

/* ----------------------------------------------*\
      Form controls for labels and legends
\*---------------------------------------------- */

.tco-form-label,
%tco-form-label {
  @include type-eyebrow($font-color: $color-classic-blue);
  position: relative;
  display: block;
  padding: 0 $spacing-inline-4;

  .tco-form-label-text {
    display: block;
    margin-bottom: 0.5rem;
  }

  .tco-form-label-optional {
    font-style: italic;
  }

  &.tco-form-label--multiline {
    margin-bottom: 0;
  }
}

/* ----------------------------------------------*\
      Controls for pseudo element inputs
\*---------------------------------------------- */
%tco-form-input--pseudo {
  &:focus + label::before {
    outline: 2px solid $color-tint-blue-primary;
  }

  + label {
    @include type-eyebrow($font-color: $color-classic-navy);
    position: relative;
    margin-right: $spacing-inline-32;
    padding-left: rem(24px);

    @include wider-than($breakpoint-phone-landscape) {
      line-height: initial;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: rem(16px);
      height: rem(16px);
      border: 1px solid $color-foreground-primary;
      border-radius: 2px;
      background: $color-foreground-on-tint;
    }
  }
}

// hubspot version with spans instead of labels
%tco-form-input--pseudo-span {
  &:focus + span::before {
    outline: 2px solid $color-tint-blue-primary;
  }

  + span {
    @include type-eyebrow($font-color: $color-classic-navy);
    position: relative;
    margin-right: $spacing-inline-32;
    padding-left: rem(24px);

    @include wider-than($breakpoint-phone-landscape) {
      line-height: initial;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: rem(16px);
      height: rem(16px);
      border: 1px solid $color-foreground-primary;
      border-radius: 2px;
      background: $color-foreground-on-tint;
    }
  }
}

/* ----------------------------------------------*\
      Error States
\*---------------------------------------------- */

.tco-form-input-error-msg {
  margin-top: $spacing-stack-4;
  border-radius: $border-radius-xsmall;
  color: $color-tint-red-primary;
  font-weight: 400;
  text-transform: none;

  + .tco-form-row {
    margin-top: rem(8px);
  }

  .tco-lights-out & {
    color: $color-dark-theme-error;
  }
}

// hubspot forms
.tco-form--hubspot {
  &.tco-form--hubspot-component {
    padding: $spacing-stack-16 $spacing-inline-16 0;
  }

  .tco-column & {
    padding: $spacing-stack-16 $spacing-inline-16;
    background-color: $color-foreground-on-tint;

    @include wider-than($breakpoint-tablet-portrait) {
      padding: $spacing-stack-32 $spacing-inline-32;
    }
  }

  [class*='form-columns-'] {
    max-width: 100%;

    .hs-form-field .input {
      margin: 0 0 $field-space;
    }
  }

  .hs-form {
    .form-columns-2 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .hs-form-field {
        width: 100%;

        @include wider-than($breakpoint-phone-landscape) {
          width: calc(50% - (#{$spacing-inline-16} / 2));
        }
      }
    }
  }

  input:not([type='submit']),
  textarea,
  select {
    @extend %tco-form-input;
    width: 100% !important; // :shame
    background-color: transparent;

    &.invalid,
    &.error {
      border: 1px solid $color-tint-red-primary;
    }
  }

  label {
    @extend %tco-form-label;
  }

  [type='checkbox'] {
    @extend %tco-accessibly-hidden;
  }

  .hs-fieldtype-booleancheckbox {
    > .hs-field-desc {
      @include type-eyebrow($font-color: $color-classic-blue);
      position: relative;
      display: block;
      margin-bottom: $spacing-stack-12;
      padding: 0 $spacing-inline-4;
    }
  }

  .hs-fieldtype-checkbox {
    > label {
      display: block;
      margin-bottom: $spacing-stack-12;
    }

    .hs-form-checkbox {
      margin-bottom: $spacing-stack-4;
    }
  }

  .hs-form-required {
    color: $color-tint-red-primary;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  .hs-error-msgs {
    margin: (-$field-space + 2px) 0 $field-space;

    .hs-error-msg,
    label {
      @include type-body-small($color-tint-red-primary);
      letter-spacing: 0;
      text-transform: initial;
    }
  }

  .submitted-message {
    @include type-display-small;
  }
}
