.tco-icon {
  width: 14px;
  height: 14px;
  color: inherit;
  fill: currentColor;
}

.tco-icon--xs {
  width: 8px;
  height: 8px;
}

.tco-icon--sm {
  width: 10px;
  height: 10px;
}

.tco-icon--md {
  width: 16px;
  height: 16px;
}

.tco-icon--lg {
  width: 20px;
  height: 20px;
}
