/* stylelint-disable no-duplicate-selectors */

/* Display classes */
.tco-type-display--extra-large {
  @include type-display-extra-large;

  &-italic {
    @include type-display-extra-large($italic: true);
  }
}

.tco-type-display--large {
  @include type-display-large;

  &-italic {
    @include type-display-large($italic: true);
  }

  &-64 {
    @include type-display-large($lrg64: true);
  }

  &-80 {
    @include type-display-large($lrg80: true);
  }
}

.tco-type-display--medium {
  @include type-display-medium;

  &-thin {
    @include type-display-medium($weight: 300);
  }

  &-italic {
    @include type-display-medium($italic: true);
  }

  &-42 {
    @include type-display-medium($med42: true);
  }

  &-48 {
    @include type-display-medium($med48: true);
  }

  &-36 {
    @include type-display-medium($med36: true);
  }
}

.tco-type-display--small {
  @include type-display-small;

  &-italic {
    @include type-display-small($italic: true);
  }

  &-24 {
    @include type-display-small($small24: true);
  }
}

.tco-type-eyebrow {
  @include type-eyebrow;

  & {
    margin-bottom: 0;
  }

  &-italic {
    @include type-eyebrow($italic: true);
  }

  &--small {
    @include type-eyebrow($small: true);
  }

  .tco-lights-out & {
    color: $color-dark-theme-blue;
  }
}

/* Body classes */
.tco-type-body--mega {
  @include type-body-large($mega: true);

  & {
    line-height: 1.25;
  }
}

.tco-type-body--jumbo {
  @include type-body-large($jumbo: true);
  line-height: 1.25;
}

.tco-type-body--extra-large {
  @include type-body-large($xl: true);

  &-italic {
    @include type-body-large($italic: true, $xl: true);
  }
}

.tco-type-body--large {
  @include type-body-large;

  &-italic {
    @include type-body-large($italic: true);
  }

  &-tall {
    @include type-body-large($height: tall);
  }

  &-36 {
    @include type-body-large($lrg36: true);
  }

  &-22 {
    @include type-body-large($small: true);
  }

  &-20 {
    @include type-body-large($lrg20: true, $weight: $font-weight-700);
  }
}

.tco-type-body--medium {
  @include type-eyebrow($font-color: $color-classic-navy, $weight: 400);
  line-height: 1.5;

  &-italic {
    @include type-eyebrow($italic: true);
  }

  .tco-lights-out & {
    color: $color-foreground-on-tint;
  }
}

.tco-type-body--default,
.tco-type-body {
  @include type-body-default;

  &-italic,
  em {
    @include type-body-default($italic: true);
  }
}

.tco-type-body--small {
  @include type-body-small($font-color: $color-classic-navy);

  &-italic {
    @include type-body-large($italic: true);
  }

  &-14 {
    @include type-body-small($size: $font-size-14);
  }

  &-10 {
    @include type-body-small($size: $font-size-10);
    line-height: 2;
  }
}

/* Utility classes */
.tco-type-style--bold {
  @include type-style-bold;
}

.tco-type--align-left {
  text-align: left;
}

.tco-type--align-right {
  text-align: right;
}

.tco-type--align-center {
  text-align: center;
}

.tco-type-eyebrow--space-l {
  margin-bottom: $spacing-stack-32;
}
