.tco-type-display--extra-large {
  @include type-display-extra-large;

  &-italic {
    @include type-display-extra-large($italic: true);
  }
}

.tco-type-display--large {
  @include type-display-large;

  &-italic {
    @include type-display-large($italic: true);
  }

  &-small {
    @include type-display-large($small: true);
  }
}

.tco-type-display--medium {
  @include type-display-medium;

  &-italic {
    @include type-display-medium($italic: true);
  }

  &-small {
    @include type-display-medium($small: true);
  }
}

.tco-type-display--64 {
  @include type-display-64;
}

.tco-type-display--sans-80 {
  @include type-display-80;
}

.tco-type-display--sans-48 {
  @include type-display-48;
}

.tco-type-display--sans-48-black {
  @include type-display-48-black;
}

.tco-type-display--junior {
  @include type-display-junior;
}

.tco-type-display--sans {
  @include type-display-sans;
}

.tco-type-display--sans-large {
  @include type-display-sans-large;
}

.tco-type-display--small {
  @include type-display-small;

  &-italic {
    @include type-display-small($italic: true);
  }
}

.tco-type-display--thin {
  @include type-display-thin;
}

.tco-type-display--extra-small {
  @include type-display-extra-small;

  &-italic {
    @include type-display-extra-small($italic: true);
  }
}

.tco-type-cursive--large {
  @include type-cursive;
  font-size: $font-size-36;
}

.tco-type-eyebrow {
  @include type-eyebrow;

  &-italic {
    @include type-eyebrow($italic: true);
  }
}

.tco-type-eyebrow--space-xl {
  margin-bottom: $spacing-stack-24;

  @include wider-than($breakpoint-laptop) {
    margin-bottom: $spacing-stack-40;
  }
}

.tco-type-body--default {
  @include type-body-default;

  &-italic {
    @include type-body-default($italic: true);
  }
}

.tco-type-body--large {
  @include type-body-large;

  &-italic {
    @include type-body-large($italic: true);
  }

  &-tall {
    @include type-body-large($height: tall);
  }
}

.tco-type-body--large-sans {
  @include type-body-large-sans;
}

.tco-type-body--sans-small {
  @include type-body-small;

  &-italic {
    @include type-body-small($italic: true);
  }
}

.tco-type-body--sans-small-light {
  @include type-body-small-light;
}

.tco-type-body--sans-xsmall {
  @include type-body-xsmall;

  &-italic {
    @include type-body-xsmall($italic: true);
  }
}

.tco-type-style--bold {
  @include type-style-bold;
}

.tco-type--align-left {
  text-align: left;
}

.tco-type--align-right {
  text-align: right;
}

.tco-type--align-center {
  text-align: center;
}

.tco-type-eyebrow--space-l {
  margin-bottom: $spacing-stack-32;
}
