.tco-quote {
  margin: 0;
  padding: 0 $spacing-inline-24;
  text-align: center;

  @include wider-than($breakpoint-tablet-portrait) {
    padding: 0 0 0 $spacing-inline-64;
    text-align: left;
  }

  &-wrapper {
    display: flex;
    padding: $spacing-stack-32 0;
  }

  &-text {
    @include type-display-medium;
    position: relative;
    margin-bottom: $spacing-stack-32;

    &::before {
      @include type-display-extra-large;
      content: "\201c";
      position: relative;
      top: 16px;
      display: block;
      text-align: center;

      @include wider-than($breakpoint-tablet-portrait) {
        position: absolute;
        top: -16px;
        left: -64px;
      }
    }
  }

  &-author-name,
  &-author-title {
    display: block;
  }

  &-author-name {
    @include type-display-small;
    font-style: normal;
  }

  &-author-title {
    @include type-body-medium;
  }
}

.tco-quote-image-wrapper {
  display: none; // Hidden on mobile
  flex-shrink: 0;
  max-width: 300px;
  margin-left: $spacing-inline-64;

  @include wider-than($breakpoint-tablet-portrait) {
    display: block;
  }
}

.tco-quote-image {
  margin-bottom: $spacing-stack-32;
  border-radius: $border-radius-round;
}
