:root {
  --duration: 1s; /* duration */
}

$bar-width: 180px;
$bar-height: 3px;
$quote-width: 200px;
$quote-width-mobile: 138px;
$lquo-offset: 70px;
$bullet-size: 12px;

.tco-quote {
  margin: $spacing-stack-4 0 0;

  &-text {
    @include type-body-large;
    line-height: 46 / 28;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-wrapper-center {
    text-align: center;
  }

  &-wrapper-right {
    text-align: right;
  }

  &-name,
  &-title {
    @include type-eyebrow;
    font-style: normal;
  }

  &-title {
    &::before {
      content: ', ';
      display: inline-block;
      transform: translateX(-#{$spacing-inline-4});
    }
  }

  &-footer {
    margin-top: $spacing-stack-18;
  }
}

.tco-quote-wrapper--carousel {
  position: relative;
  display: grid;
  margin-top: $lquo-offset * 0.75;

  @include wider-than($breakpoint-tablet-portrait) {
    margin-top: $lquo-offset;
  }
}

.tco-quote--slide {
  position: relative;
  grid-area: 1/1;
  margin: 0;
  background: $color-classic-glass;
  opacity: 0;
  transition: opacity var(--duration);

  .tco-lights-out & {
    background-color: $color-classic-navy;
  }

  &:nth-of-type(1) {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: -$lquo-offset * 0.75;
    left: -14px;
    z-index: 2;
    display: block;
    width: $quote-width-mobile;
    height: auto;
    background: url('/svg/lquo.svg') no-repeat center / cover;
    aspect-ratio: 197 / 154;

    @include wider-than($breakpoint-tablet-portrait) {
      top: -$lquo-offset;
      width: $quote-width;
    }

    .tco-lights-out & {
      background: url('/svg/lquo-dark.svg') no-repeat center / cover;
    }
  }

  .tco-type-display--small {
    position: relative;
    z-index: 3;
    margin-bottom: 0;
  }

  .tco-type-body--large {
    display: block;
    margin-bottom: $spacing-stack-4;
    font-style: normal;
  }

  .tco-quote-footer {
    position: relative;
    margin-top: $spacing-stack-32;
    padding-top: $spacing-stack-32;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: $bar-width;
      height: $bar-height;
      background-color: $color-classic-blue;
      transform: translateX(-50%);

      .tco-lights-out & {
        background-color: $color-dark-theme-blue;
      }
    }
  }
}

.tco-quote-carousel {
  position: relative;
}

.tco-bullet-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $spacing-stack-32 0 0;
}

.tco-bullet {
  width: $bullet-size;
  height: $bullet-size;
  margin: 0 $spacing-inline-16;
  padding: 0;
  border: 2px solid $color-classic-navy;
  border-radius: 50%;
  background-color: transparent;
  text-indent: -999em;
  cursor: pointer;
  transition: background ease-in-out 0.2s;

  &--active {
    background-color: $color-classic-navy;
  }

  .tco-lights-out & {
    border-color: $color-dark-theme-blue;

    &--active {
      background-color: $color-dark-theme-blue;
    }
  }
}

@keyframes fader {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
