.tco-quote {
  margin: $spacing-stack-4 0 0;

  &-text {
    @include type-body-large;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-wrapper-center {
    text-align: center;
  }

  &-wrapper-right {
    text-align: right;
  }

  &-name,
  &-title {
    @include type-eyebrow;
    font-style: normal;
  }

  &-title {
    &::before {
      content: ', ';
      display: inline-block;
      transform: translateX(-#{$spacing-inline-4});
    }
  }

  &-footer {
    margin-top: $spacing-stack-18;
  }
}
