$header-max: 320px;
$circle-offset: 146px;

.tco-split-panel {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;

  &-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: $spacing-stack-50;

    @include wider-than($breakpoint-tablet-portrait) {
      gap: $spacing-stack-100;
    }
  }

  @include wider-than($breakpoint-tablet-portrait) {
    grid-template-columns: 42% 1fr;
    gap: $spacing-inline-64;
  }

  &--header {
    @include wider-than($breakpoint-tablet-portrait) {
      justify-self: end;
      width: min(88%, $header-max);
    }
  }

  &--title {
    margin-bottom: 0;
    text-wrap: nowrap;
  }

  &--eyebrow {
    margin-bottom: $spacing-stack-8;
    line-height: 1.75;

    @include wider-than($breakpoint-phone-landscape) {
      margin-bottom: $spacing-stack-12;
    }
  }
}


.tco-split-panel-body {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacing-stack-24;
  align-items: flex-start;
  margin: $spacing-stack-24 0 0;

  @include wider-than($breakpoint-phone-landscape) {
    gap: $spacing-stack-32;
    width: min(100%, 540px);
    margin: $spacing-stack-32 0 0;
  }

  @include wider-than($breakpoint-tablet-portrait) {
    margin: 0;
  }

  .tco-type-body--extra-large {
    margin-bottom: 0;
  }

  .tco-btn {
    margin-top: $spacing-stack-24;

    @include wider-than($breakpoint-laptop) {
      margin-top: $spacing-stack-32;
    }
  }
}

.tco-list {
  padding-left: $spacing-inline-32;

  li {
    @include type-body-large;
    position: relative;
    margin-bottom: 0.75em;
    line-height: 1.2;

    &::before {
      content: '\00b7';
      position: absolute;
      top: 0.35em;
      left: -18px;
      display: inline-block;
      margin-right: $spacing-stack-16;
      font-size: 160%;
      line-height: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
