$header-max: 490px;
$circle-offset: 96px;

.tco-split-panel {
  padding-top: $circle-offset;

  + .tco-split-panel {
    margin-top: $spacing-stack-50;

    @include wider-than($breakpoint-tablet-portrait) {
      margin-top: $spacing-stack-100;
    }
  }

  @include wider-than($breakpoint-phone-landscape) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.tco-split-panel-header {
  @include wider-than($breakpoint-phone-landscape) {
    flex: 0 42%;
    max-width: $header-max;
    padding-top: calc(#{$spacing-stack-8} - #{$spacing-stack-2});
    padding-right: min(5vw, 64px);
    padding-left: min(8vw, 100px);
  }

  .tco-type-eyebrow {
    @include wider-than($breakpoint-phone-landscape) {
      margin-left: 2px;
    }
  }
}

.tco-texture {
  position: relative;

  .tco-type-eyebrow,
  .tco-split-panel-heading {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: -$circle-offset;
    left: 0;
    z-index: 0;
    display: block;
    width: min(34vw, 225px);
    height: min(34vw, 225px);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--a {
    &::before {
      background-image: url('/img/split-panel/circle-a.png');
    }
  }

  &--b {
    &::before {
      background-image: url('/img/split-panel/circle-b.png');
    }
  }

  &--c {
    &::before {
      background-image: url('/img/split-panel/circle-c.png');
    }
  }
}

.tco-split-panel-body {
  position: relative;
  z-index: 1;
  margin-bottom: $spacing-stack-16;

  @include wider-than($breakpoint-phone-landscape) {
    width: min(100%, 540px);
    margin-bottom: 0;
  }

  .tco-type-body--large {
    margin-bottom: $spacing-stack-16;
    line-height: 1.3;

    &:last-of-type {
      margin-bottom: $spacing-stack-32;
    }
  }

  .tco-btn {
    margin-top: $spacing-stack-50;

    @include wider-than($breakpoint-laptop) {
      margin-top: $spacing-stack-64;
    }
  }
}

.tco-list-sans-large {
  padding-left: $spacing-inline-32;

  li {
    position: relative;
    margin-bottom: 1em;

    &::before {
      content: '\00b7';
      position: absolute;
      top: 10px;
      left: -18px;
      display: inline-block;
      margin-right: $spacing-stack-16;
      font-size: 160%;
      line-height: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
