$author-image-max: 480px;
$speaker-image-size: 120px;
$spacing-stack-jumbo: 200px;

.tco-author {
  position: relative;
  padding-top: $spacing-stack-50;

  @include wider-than($breakpoint-tablet-portrait) {
    padding-top: 0;
  }

  &.tco-text-media--align-right {
    padding-right: 0;
  }

  .tco-text-media-content {
    &-media {
      align-items: flex-start;
      max-width: $author-image-max;
    }
  }

  &.tco-author--no-image {
    .tco-text-media-content-text {
      width: 100%;
    }
  }

  + {
    .tco-author {
      margin-top: $spacing-stack-40;
    }
  }

  &-eyebrow {
    @include type-eyebrow;
    position: absolute;
    top: 0;
    display: block;

    @include wider-than($breakpoint-tablet-portrait) {
      position: initial;
      margin-bottom: $spacing-stack-12;
    }
  }

  &-heading {
    @include type-display-medium;
  }

  &-title {
    @include type-body-large;
    margin-bottom: $spacing-stack-20;
  }

  &-social {
    margin-top: $spacing-stack-24;
  }

  &-social-heading {
    @include type-eyebrow;
    margin-bottom: $spacing-stack-20;
  }

  &-container-media {
    overflow: hidden;
    border-radius: 50%;
  }
}

.tco-author-contact {
  display: flex;
  flex-direction: column;
  grid-area: contact;
  align-items: center;

  > img,
  .tco-author-social {
    max-width: 100%;
  }

  .tco-author-social {
    text-align: center;
  }

  > img {
    margin-bottom: 10px;
    border: 5px solid $color-foreground-quanternary;
    border-radius: $border-radius-round;
  }
}

.tco-speaker {
  &[class*='tco-text-media--align-'] {
    @include wider-than($breakpoint-tablet-portrait) {
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 0;
    }

    .tco-text-media-content-media {
      margin-bottom: $spacing-stack-20;

      @include wider-than($breakpoint-tablet-portrait) {
        width: auto;
        padding-top: $spacing-stack-12;
      }
    }

    .tco-text-media-content-text {
      @include wider-than($breakpoint-tablet-portrait) {
        flex: 1;
        width: auto;

        &.tco-text-media-content-text--has-image {
          padding-left: $spacing-inline-32;
        }
      }
    }

    .tco-type-body {
      &--large {
        line-height: calc(36 / 28);
      }

      &--default {
        margin-bottom: 0;
      }
    }
  }

  .tco-speaker-image {
    width: $speaker-image-size;
    height: $speaker-image-size;
    border-radius: 50%;

    @include wider-than($breakpoint-tablet-portrait) {
      width: $speaker-image-size * 1.4;
      height: $speaker-image-size * 1.4;
    }
  }

  + .tco-speaker {
    margin-top: $spacing-stack-100;

    @include wider-than($breakpoint-desktop) {
      margin-top: $spacing-stack-jumbo;
    }
  }
}
