.tco-section-arrow {
  position: relative;

  &--full-right {
    padding-top: $spacing-stack-50;

    @include wider-than($breakpoint-laptop) {
      padding-top: $spacing-stack-100;
    }
  }
}

.tco-arrow {
  position: absolute;
  animation: drawline 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  animation-play-state: paused;
  animation-delay: 0.3s;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;

  &.active {
    animation-play-state: running;
  }
}

.tco-arrow--full-right {
  right: 0;
  bottom: 0;
  display: block;
  height: 100%;
  stroke: $color-classic-blue;
  stroke-width: 5px;
  aspect-ratio: 327 / 819;

  .tco-lights-out & {
    stroke: $color-dark-theme-blue;
  }
}

@keyframes drawline {
  0% {
    opacity: 0.33;
    stroke-dashoffset: 1;
  }

  33% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
