.tco-section-arrow {
  position: relative;

  &--full-right {
    padding-top: $spacing-stack-100;

    @include wider-than($breakpoint-laptop) {
      padding-top: calc(#{$spacing-stack-100} * 2);
    }
  }
}

.tco-arrow {
  position: absolute;
  animation: drawline 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  animation-play-state: paused;
  animation-delay: 0.3s;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;

  &.active {
    animation-play-state: running;
  }
}

.tco-arrow--full-right {
  top: -50px;
  right: 0;
  display: block;
  height: 176px;
  stroke: $color-classic-blue;
  stroke-width: 5px;
  aspect-ratio: 327 / 819;

  @include wider-than($breakpoint-phone-landscape) {
    height: 200px;
  }

  @include wider-than($breakpoint-tablet-portrait) {
    top: auto;
    right: 0;
    bottom: 0;
    height: 100%;
  }

  @include wider-than($breakpoint-laptop) {
    right: min(4vw, 54px);
  }

  .tco-lights-out & {
    stroke: $color-dark-theme-blue;
  }
}

.tco-text-only--capabilities {
  br {
    display: none;

    @include wider-than($breakpoint-tablet-portrait) {
      display: block;
    }
  }
}

@keyframes drawline {
  0% {
    opacity: 0.33;
    stroke-dashoffset: 1;
  }

  33% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
