$check: 20px;
$checklist-title-spacing: 25px;

.tco-checklist {
  .tco-checklist-eyebrow {
    @include type-eyebrow;
    display: block;
    margin-bottom: $spacing-stack-18;

    @include wider-than($breakpoint-tablet-portrait) {
      margin-bottom: $checklist-title-spacing;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    @include type-body-small;
    position: relative;
    margin-bottom: $spacing-stack-18;
    padding-left: $spacing-inline-40;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      vertical-align: bottom;
      width: $check;
      height: $check;
      margin-right: $spacing-inline-18;
      background: url('/svg/checkmark.svg') no-repeat center / cover;
    }
  }

  &--alt-checkmark {
    li {
      &::before {
        background: url('/svg/checkmark-alt.svg') no-repeat center / cover;
      }
    }
  }

  &--no-checkmark {
    li {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }

  &:not(:first-of-type) {
    margin-top: $spacing-stack-50;
  }

  &-offset-top {
    @include wider-than($breakpoint-tablet-portrait) {
      margin-top: $offset;
    }
  }
}
