$check: 21px;

.tco-checklist {
  &-eyebrow {
    @include type-eyebrow;
    display: block;
    margin-bottom: $spacing-stack-18;

    @include wider-than($breakpoint-tablet-portrait) {
      margin-bottom: $spacing-stack-40;
    }
  }

  li {
    @include type-body-small;
    position: relative;
    margin-bottom: $spacing-stack-18;
    padding-left: $spacing-inline-40;
    list-style: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      vertical-align: bottom;
      width: $check;
      height: $check;
      margin-right: $spacing-inline-18;
      background: url('/svg/checkmark.svg') no-repeat center;
    }
  }
}
