$check: 20px;
$checklist-title-spacing: 25px;

.tco-checklist {
  .tco-checklist-eyebrow {
    @include type-eyebrow;
    display: block;
    margin-bottom: $spacing-stack-18;

    @include wider-than($breakpoint-tablet-portrait) {
      margin-bottom: $checklist-title-spacing;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    @include type-body-small;
    position: relative;
    margin-bottom: $spacing-stack-18;
    padding-left: $spacing-inline-40;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      vertical-align: bottom;
      width: $check;
      height: $check;
      margin-right: $spacing-inline-18;
      background: url('./assets/svg/checkmark.svg') no-repeat center / cover;
    }
  }

  &--alt-checkmark {
    li {
      &::before {
        background: url('./assets/svg/checkmark-alt.svg') no-repeat center / cover;
      }
    }
  }

  &--no-checkmark {
    li {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }

  &--large {
    .tco-checklist-eyebrow {
      @include type-display-small;
      margin-bottom: $spacing-stack-50;
      letter-spacing: 0;
      text-align: center;
      text-transform: initial;
    }

    li {
      @include type-body-large;
      padding-left: $spacing-inline-50;

      &::before {
        top: 6px;
        width: $check * 1.3;
        height: $check * 1.3;
      }
    }
  }

  .tco-lights-out & {
    li {
      &::before {
        background: url('./assets/svg/checkmark-dark-theme.svg') no-repeat center / cover;
      }
    }

    &--alt-checkmark {
      li {
        &::before {
          background: url('./assets/svg/checkmark-alt-dark-theme.svg') no-repeat center / cover;
        }
      }
    }
  }

  &:not(:first-of-type) {
    margin-top: $spacing-stack-50;
  }

  &-offset-top {
    @include wider-than($breakpoint-tablet-portrait) {
      margin-top: $offset;
    }
  }
}
