.tco-card-grid {
  display: grid;
  grid-gap: $spacing-inline-32;
  justify-content: center;

  &-header {
    margin: 0 auto;
    padding-bottom: $spacing-stack-40;
  }

  &-heading {
    margin-bottom: $spacing-stack-12;
  }

  &--2-column {
    @include wider-than($breakpoint-tablet-portrait) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3-column {
    @include wider-than($breakpoint-tablet-portrait) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--4-column {
    @include wider-than($breakpoint-tablet-portrait) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--5-column {
    @include wider-than($breakpoint-tablet-portrait) {
      grid-template-columns: repeat(5, 1fr);
    }
    grid-template-columns: repeat(2, 1fr);
  }
}
