.tco-form-textarea,
.textarea,
.tco-form--hubspot textarea {
  @extend %tco-form-input;
  overflow: hidden;
  max-height: $textarea-height;
  padding: $spacing-stack-8 $spacing-inline-4;
  resize: none;

  + .tco-form-state-icon {
    top: rem(34px);
  }
}
