$author-image-max: 480px;

.tco-author {
  position: relative;
  padding-top: $spacing-stack-50;

  @include wider-than($breakpoint-tablet-portrait) {
    padding-top: 0;
  }

  &.tco-text-media--align-right {
    padding-right: 0;
  }

  .tco-text-media-content {
    &-media {
      align-items: flex-start;
      max-width: $author-image-max;
    }
  }

  &-eyebrow {
    @include type-eyebrow;
    position: absolute;
    top: 0;
    display: block;

    @include wider-than($breakpoint-tablet-portrait) {
      position: initial;
      margin-bottom: $spacing-stack-12;
    }
  }

  &-heading {
    @include type-display-medium;
  }

  &-title {
    @include type-body-large;
    margin-bottom: $spacing-stack-20;
  }

  &-social {
    margin-top: $spacing-stack-24;
  }

  &-social-heading {
    @include type-eyebrow;
    margin-bottom: $spacing-stack-20;
  }

  &-container-media {
    overflow: hidden;
    border-radius: 50%;
  }
}

.tco-author-contact {
  display: flex;
  flex-direction: column;
  grid-area: contact;
  align-items: center;

  > img,
  .tco-author-social {
    max-width: 100%;
  }

  .tco-author-social {
    text-align: center;
  }

  > img {
    margin-bottom: 10px;
    border: 5px solid $color-foreground-quanternary;
    border-radius: $border-radius-round;
  }
}
