.tco-author {
  &-eyebrow {
    @include type-eyebrow;
    margin-bottom: $spacing-stack-32;
  }

  &-heading {
    @include type-display-medium;
  }

  &-title {
    @include type-body-large;
    margin-bottom: $spacing-stack-20;
  }

  &-social {
    margin-top: $spacing-stack-32;
  }

  &-social-heading {
    @include type-eyebrow;
    margin-bottom: $spacing-stack-20;
  }

  &-container-media {
    overflow: hidden;
    border-radius: 50%;
  }
}

.tco-author-contact {
  display: flex;
  flex-direction: column;
  grid-area: contact;
  align-items: center;

  > img,
  .tco-author-social {
    max-width: 100%;
  }

  .tco-author-social {
    text-align: center;
  }

  > img {
    margin-bottom: 10px;
    border: 5px solid $color-foreground-quanternary;
    border-radius: $border-radius-round;
  }
}
