.tco-author-heading {
  margin-bottom: $spacing-stack-8;
}

.tco-author-info {
  &--with-image {
    @include wider-than($breakpoint-phone-landscape) {
      display: grid;
      grid-template: '100px auto' '1fr 1fr';
      grid-template-areas: 'body contact' 'body contact';
      grid-gap: 10px 70px;
    }
  }
}

.tco-author-eyebrow {
  grid-area: header;
  align-self: flex-end;
}

.tco-author-body {
  @include type-body-large;
  grid-area: body;

  .tco-author-body-name,
  .tco-author-body-description {
    margin-bottom: 1em;
  }
}

.tco-author-contact {
  display: flex;
  flex-direction: column;
  grid-area: contact;
  align-items: center;

  > img,
  .tco-author-social {
    max-width: 100%;
  }

  .tco-author-social {
    text-align: center;
  }

  > img {
    margin-bottom: 10px;
    border: 5px solid $color-foreground-quanternary;
    border-radius: $border-radius-round;
  }
}

.tco-author-social-heading {
  @include type-eyebrow;
}

// Profile Page Styles
.tco-author--profile {
  .tco-author-info--with-image {
    grid-template: 0 auto / auto 500px;
    grid-template-areas: 'header contact' 'body contact';
  }

  .tco-author-contact > img {
    max-width: 100%;
  }

  .tco-author-body-name {
    grid-area: header;
    color: $color-foreground-primary;
  }

  .tco-author-body-name-title {
    @include type-display-small;
  }
}
