/* ----------------------------------------------*\
    Breakpoints
\*---------------------------------------------- */

$breakpoint-phone-portrait: 448px;
$breakpoint-phone-landscape: 38em;
$breakpoint-tablet-portrait: 832px;
$breakpoint-laptop: 1080px;
$breakpoint-desktop: 1280px;
$breakpoint-xl: 1300px;

/* ----------------------------------------------*\
    Container Widths
\*---------------------------------------------- */

$container-max: 1168px;
$container-large: 1080px;
$container-medium: 968px;
$container-small: 768px;
