/*----------------------------------------------*\
    Breakpoints
\*----------------------------------------------*/

$breakpoint-phone-portrait: 28em;
$breakpoint-phone-landscape: 38em;
$breakpoint-tablet-portrait: 52em;
$breakpoint-desktop: 66em;
