/* ----------------------------------------------*\
    Breakpoints
\*---------------------------------------------- */

$breakpoint-phone-portrait: 448px;
$breakpoint-phone-landscape: 38em;
$breakpoint-tablet-portrait: 832px;
$breakpoint-desktop: 1280px;
$breakpoint-xl: 1300px;

/* ----------------------------------------------*\
    Container Widths
\*---------------------------------------------- */

$container-max: 1370px;
$container-large: 1168px;
$container-medium: 980px;
$container-small: 940px;
$container-xsmall: 780px;
