// ========================================================
// = BASE CONTAINER
// ========================================================
.tco-container-wrapper {
  @include type-base-style;
  padding: 0 $spacing-stack-24;
  background-color: $color-foreground-on-tint;

  > .tco-container {
    padding: $spacing-stack-50 0;

    @include wider-than($breakpoint-desktop) {
      padding: $spacing-stack-100 0;
    }
  }

  &--bleed {
    padding: 0;
  }

  &--bleed-top {
    > .tco-container {
      padding-top: 0;
    }
  }

  &--bleed-bottom {
    > .tco-container {
      padding-bottom: 0;
    }
  }

  &--footer {
    @include pseudo-curve;
    background-color: $color-classic-navy;

    > .tco-container {
      @include pseudo-think-bubble;

      @include wider-than($breakpoint-tablet-portrait) {
        padding: calc(#{$spacing-stack-50} + #{$spacing-stack-32}) 0
          $spacing-stack-32;
      }
    }
  }

  .tco-lights-out & {
    background-color: $color-dark-theme-black;
    color: $color-foreground-on-tint;

    &--footer {
      background-color: $color-classic-navy;
    }
  }

  // Size variants
  .tco-container {
    width: 100%;
    max-width: $container-max;
    margin: 0 auto;

    &--default {
      max-width: $container-large;
    }

    &--mid {
      max-width: $container-medium;
    }

    &--narrow {
      max-width: $container-small;
    }

    &--max {
      max-width: $container-max;
    }

    &--image-only {
      max-width: $container-super-max;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &--left {
      text-align: left;
    }
  }

  // Color variants
  &--tan {
    background-color: $color-background-secondary;
    color: $color-foreground-primary;
  }

  &--glass {
    background-color: $color-tint-blue-tertiary;
    color: $color-foreground-primary;
  }

  &--blue {
    background-color: $color-tint-blue-primary;
    color: $color-foreground-on-tint;

    .tco-btn {
      &--primary {
        @extend %tco-btn--secondary;
      }

      &--secondary {
        color: $color-foreground-primary;
      }

      &--tertiary {
        color: $color-foreground-primary;
      }
    }
  }

  &--navy {
    @include type-base-style($color-foreground-on-tint);
    background-color: $color-background-tertiary;

    .tco-btn {
      &--secondary {
        color: $color-foreground-primary;
      }

      &--tertiary {
        color: $color-foreground-primary;
      }
    }
  }

  &--tan,
  &--glass,
  &--blue,
  &--navy {
    .tco-btn {
      // unset "link" style on buttons
      background-image: none;
      @include type-style-bold;
    }
  }

  &--blue,
  &--navy {
    a {
      @include type-link;
    }
  }
}
