// ========================================================
// = BASE CONTAINER
// ========================================================
.tco-container-wrapper {
  @include type-base-style;
  padding: 0 $spacing-stack-24;
  background-color: $color-background-primary;

  // Size variants
  .tco-container {
    width: 100%;
    max-width: $container-max;
    margin: 0 auto;
    padding: $spacing-stack-50 0;

    @include wider-than($breakpoint-desktop) {
      padding: $spacing-stack-100 0;
    }

    &--default {
      max-width: $container-large;
    }

    &--mid {
      max-width: $container-medium;
    }

    &--narrow {
      max-width: $container-xsmall;
    }
  }

  // Color variants
  &--tan {
    background-color: $color-background-secondary;
    color: $color-foreground-primary;
  }

  &--glass {
    background-color: $color-tint-blue-tertiary;
    color: $color-foreground-primary;
  }

  &--blue {
    background-color: $color-tint-blue-primary;
    color: $color-background-primary;

    .tco-btn {
      &--primary {
        @extend %tco-btn--secondary;
      }

      &--secondary {
        color: $color-foreground-primary;
      }

      &--tertiary {
        color: $color-foreground-primary;
      }
    }
  }

  &--navy {
    @include type-base-style($color-background-primary);
    background-color: $color-background-tertiary;

    .tco-btn {
      &--secondary {
        color: $color-foreground-primary;
      }

      &--tertiary {
        color: $color-foreground-primary;
      }
    }
  }

  &--tan,
  &--glass,
  &--blue,
  &--navy {
    .tco-btn {
      // unset "link" style on buttons
      background-image: none;
      @include type-style-bold;
    }
  }

  &--blue,
  &--navy {
    a {
      @include type-link;
      @include type-highlight($color-background-primary);
    }
  }
}
