$color-disabled: #c8d9ea;
$color-hover: #08519a;

.tco-btn,
%tco-btn {
  @include type-eyebrow;
  position: relative;
  border: none;
  border-radius: 0;
  background: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;
  appearance: none;

  &[href] {
    display: inline-block;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    border-color: $color-hover;
    background: $color-hover;
  }

  &[disabled],
  &:disabled {
    border-color: $color-disabled;
    background: $color-disabled;
    color: $color-disabled;
    cursor: default;
  }
}

.tco-btn--primary,
%tco-btn--primary {
  padding: $spacing-stack-12 $spacing-stack-18;
  border: 1px solid $color-tint-blue-primary;
  background: $color-tint-blue-primary;
  color: $color-classic-white;

  &:active {
    border-color: $color-background-tertiary;
  }

  &[disabled],
  &:disabled {
    color: $color-classic-white;
  }
}

.tco-btn--secondary,
%tco-btn--secondary {
  padding: $spacing-stack-12 $spacing-stack-18;
  border: 1px solid $color-tint-blue-primary;
  background: transparent;
  color: $color-tint-blue-primary;

  &:hover,
  &:focus {
    color: $color-classic-white;
  }

  &:active {
    border-color: $color-hover;
  }

  &[disabled],
  &:disabled {
    background-color: transparent;
  }
}

.tco-text-link {
  &--arrow {
    @include type-link-cta;
    color: $color-classic-blue;
  }

  &:active {
    color: $color-hover;

    .tco-text-link-icon {
      fill: $color-hover;
    }
  }
}
