$color-disabled: #c8d9ea;
$color-hover: #08519a;
$arrow-translate: 5px;

.tco-btn {
  @include type-eyebrow;
  position: relative;
  padding: $spacing-stack-12 $spacing-stack-18;
  border: none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;
  appearance: none;

  &[href] {
    display: inline-block;
    text-decoration: none;
  }
}

.tco-btn--primary,
%tco-btn--primary {
  border: 1px solid $color-tint-blue-primary;
  background: $color-tint-blue-primary;
  color: $color-foreground-on-tint;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-hover;
    background: $color-hover;
  }

  &[disabled],
  &:disabled {
    border-color: $color-disabled;
    background: $color-disabled;
    cursor: default;
  }
}

.tco-btn--secondary,
%tco-btn--secondary {
  border: 1px solid $color-tint-blue-primary;
  background: transparent;
  color: $color-tint-blue-primary;

  &:hover,
  &:focus {
    border-color: $color-tint-blue-primary;
    background-color: $color-tint-blue-primary;
    color: $color-foreground-on-tint;
  }

  &:active {
    border-color: $color-hover;
    color: $color-hover;
  }

  &[disabled],
  &:disabled {
    border-color: $color-disabled;
    color: $color-disabled;
    cursor: default;
  }
}

.tco-btn-link {
  @include type-body-default($font-color: $color-tint-blue-primary);
  position: relative;
  background-color: transparent;
  text-transform: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: calc(100% + #{$arrow-translate});
    height: 1px;
    background-color: $color-tint-blue-primary;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  &-icon {
    display: inline-block;
    width: $spacing-inline-16;
    height: 14px;
    fill: $color-tint-blue-primary;
    transition: transform 0.2s linear;
    transform: translate(0, 1px);
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }

    .tco-btn-link-icon {
      transform: translate(#{$arrow-translate}, 1px);
    }
  }

  &[disabled],
  &:disabled {
    color: $color-disabled;

    .tco-btn-link-icon {
      fill: $color-disabled;
    }
  }

  &:active {
    color: $color-hover;

    .tco-btn-link-icon {
      fill: $color-hover;
    }
  }
}
