/* stylelint-disable selector-max-pseudo-class, max-line-length, selector-max-specificity,  max-nesting-depth, selector-max-combinators, selector-max-compound-selectors, no-duplicate-selectors */

$color-disabled: #c8d9ea;
$color-hover: #08519a;
$big-arrow-width: calc((21 / 18) * 1em);

.tco-btn,
%tco-btn {
  @include type-body-default($weight: 500);
  position: relative;
  padding: calc(#{$spacing-stack-12} - #{$spacing-stack-4}) $spacing-stack-24
    calc(#{$spacing-stack-12} - #{$spacing-stack-2});
  border: none;
  border-radius: $border-radius-radius30;
  background: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s linear;
  appearance: none;

  &[href] {
    display: inline-block;
    text-decoration: none;
  }

  &:hover {
    border-color: $color-hover;
    background: $color-hover;
  }

  &:focus {
    box-shadow: 0 0 20px 0 rgba($color-hover, 0.5);
    outline: 2px solid $color-hover;
    outline-offset: 2px;
  }

  &:active,
  &:focus {
    border-color: $color-hover;
    background-color: $color-hover;
  }

  &[disabled] {
    border-color: $color-disabled;
    background: $color-disabled;
    color: $color-disabled;
    cursor: default;
  }
}

.tco-btn--primary,
%tco-btn--primary {
  border: 2px solid $color-classic-blue;
  background: $color-classic-blue;
  color: $color-foreground-on-tint;

  &[disabled] {
    color: $color-foreground-on-tint;
  }

  .tco-lights-out & {
    border-color: $color-dark-theme-dark-blue;
    background: $color-dark-theme-dark-blue;

    &:hover {
      border-color: $color-classic-blue;
      background: $color-classic-blue;
    }

    &:disabled {
      border-color: $color-disabled;
      background: $color-disabled;
      cursor: default;
    }
  }
}

.tco-btn--secondary,
%tco-btn--secondary {
  border: 2px solid $color-classic-blue;
  background: transparent;
  color: $color-classic-blue;

  &:hover {
    color: $color-foreground-on-tint;
  }

  &:active {
    border-color: $color-classic-blue;
  }

  &:focus {
    color: $color-foreground-on-tint;
  }

  &:disabled {
    background-color: transparent;
  }

  .tco-lights-out & {
    border-color: $color-foreground-on-tint;
    color: $color-foreground-on-tint;

    &:hover {
      border-color: $color-classic-blue;
      background: $color-classic-blue;
    }

    &:disabled {
      border-color: $color-disabled;
      background-color: $color-disabled;
      cursor: default;
    }
  }
}

.tco-btn--tertiary,
%tco-btn--tertiary {
  border: 2px solid $color-foreground-on-tint;
  background: $color-foreground-on-tint;
  color: $color-classic-blue;

  &:hover {
    border-color: $color-classic-blue;
    background-color: $color-classic-blue;
    color: $color-foreground-on-tint;
  }

  &:active {
    border-color: $color-classic-blue;
  }

  &:focus {
    color: $color-foreground-on-tint;
  }

  &:disabled {
    background-color: transparent;
  }

  .tco-lights-out & {
    border-color: $color-foreground-on-tint;
    color: $color-classic-blue;

    &:hover {
      border-color: $color-classic-blue;
      background: $color-classic-blue;
      color: $color-foreground-on-tint;
    }

    &:disabled {
      border-color: $color-disabled;
      background-color: $color-disabled;
      cursor: default;
    }
  }
}

.tco-text-link {
  &--arrow,
  &--big-arrow {
    @include type-link-cta;
    color: $color-classic-navy;
  }

  &:active {
    color: $color-classic-blue;

    .tco-text-link-icon {
      fill: $color-classic-blue;
    }
  }

  .tco-lights-out & {
    color: $color-foreground-on-tint;

    &:hover,
    &:focus {
      border-bottom-color: transparent;
    }

    &--arrow {
      border-bottom-color: transparent;

      &:hover {
        border-bottom-color: $color-classic-blue;
      }
    }
  }

  &.tco-text-link--big-arrow {
    @include clamp(
      font-size,
      $breakpoint-phone-portrait,
      $breakpoint-desktop,
      $font-size-16,
      $font-size-18
    );
    border-bottom-width: 0;
    color: $color-classic-navy;

    svg {
      width: $big-arrow-width;
      height: auto;
      transform: translate(5px, 4px);
    }

    &:hover,
    &:focus {
      svg {
        transform: translate(10px, 4px);
      }
    }

    .tco-lights-out & {
      color: $color-foreground-on-tint;

      svg {
        fill: $color-classic-blue;
      }
    }
  }
}

.tco-btn--space-xl {
  margin-top: $spacing-stack-50;

  @include wider-than($breakpoint-laptop) {
    margin-top: $spacing-stack-76;
  }
}

.tco-btn--space-l {
  margin-top: $spacing-stack-50;
}

// hubspot buttons
.hs-button {
  @extend %tco-btn;
  @extend %tco-btn--primary;
}
