$icon-size: 18px;
$icon-size-small: 16px;
$color-icon-green: #004638;

.tco-icon-set {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacing-stack-16;
  align-items: flex-start;
  margin-bottom: $spacing-stack-16;
  list-style: none;

  &.tco-icon-set--horizontal {
    flex-flow: row wrap;
  }

  .tco-card--job:not(.tco-card--job-deluxe-preview) & {
    @include wider-than($breakpoint-tablet-portrait) {
      flex-flow: row wrap;
    }
  }
}

.tco-icon-meta {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: $icon-size 1fr;
  gap: $spacing-inline-16;
  align-items: center;
  justify-items: center;

  .tco-icon-set--horizontal &,
  .tco-card--job & {
    margin-right: $spacing-inline-50;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .tco-icon {
    width: $icon-size;
    height: auto;
  }

  .tco-icon--clock {
    width: $icon-size-small;
    fill: $color-classic-purple;
  }

  .tco-icon--location-alt {
    fill: $color-dark-theme-blue;
  }

  .tco-icon--dollar-bill {
    fill: $color-icon-green;
  }
}
