$circle-offset: 0.6em;

[class*='tco-type-treatment--'] {
  position: relative;
  display: inline;

  svg {
    position: absolute;
    stroke: $color-classic-blue;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;

    .tco-lights-out & {
      stroke: $color-dark-theme-blue;
    }
  }
}

.tco-type-treatment--underline {
  padding-right: $spacing-inline-8;

  svg {
    bottom: -0.7em;
    left: -4px;
    width: calc(100% + 18px);
    animation: drawline 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
    animation-play-state: paused;
    animation-delay: 0.3s;
    stroke-width: 5px;
  }

  &.active {
    svg {
      animation-play-state: running;
    }
  }
}

.tco-type-treatment--circle {
  margin-right: -$circle-offset;
  padding-right: $circle-offset;
  font-weight: 900;

  svg {
    top: 0.09em;
    left: -0.5em;
    width: calc(100% + #{$circle-offset});
    animation: drawline 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
    animation-play-state: paused;
    animation-delay: 0.3s;
    stroke-width: 3px;
    stroke-linecap: round;
  }

  &.active {
    svg {
      animation-play-state: running;
    }
  }
}

@keyframes drawline {
  0% {
    opacity: 0.33;
    stroke-dashoffset: 1;
  }

  33% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
