$panel-mobile-max: 814;
$panel-mobile-max-h: 984;
$panel-mobile-max-px: $panel-mobile-max + px;
$panel-width-mobile: 201; // vw
$panel-width: 119; // vw
$panel-max: 1518; // px
$panel-max-px: $panel-max + px;
$panel-max-h: 845; // px intended size of panel at $panel-max
$bp-a: 390px; // $panel-mobile-max / $panel-width-mobile
$bp-b: 1280px; // $panel-max / $panel-width
$border-radius-image: 4px;
$mobile-max-width: calc(var(--width) * 0.77);

.tco-image-panel {
  position: relative;
  width: $panel-mobile-max-px;
  height: $panel-mobile-max-h + px;
  margin: 0 auto;
  transform: translateX(calc(((#{$panel-width-mobile} - 100) / 2) * -1vw));

  @supports (aspect-ratio: $panel-mobile-max / $panel-mobile-max-h) {
    width: min(#{$panel-width-mobile} * 1vw, #{$panel-mobile-max-px});
    height: auto;
    aspect-ratio: $panel-mobile-max / $panel-mobile-max-h;
  }

  @include wider-than($bp-a) {
    transform: translateX(calc((100vw - #{$panel-mobile-max-px}) / 2));
  }

  @include wider-than($panel-mobile-max-px) {
    transform: translateX(0);
  }

  @include wider-than($breakpoint-tablet-portrait) {
    width: 987px; // fallback for aspect ratio on old safari
    height: 832px;
    transform: translateX(calc(((#{$panel-width} - 100) / 2) * -1vw));

    @supports (aspect-ratio: $panel-max / $panel-max-h) {
      width: min(#{$panel-width} * 1vw, #{$panel-max-px});
      height: auto;
      aspect-ratio: $panel-max / $panel-max-h;
    }
  }

  @include wider-than($bp-b) {
    transform: translateX(calc((100vw - #{$panel-max-px}) / 2));
  }

  @include wider-than($panel-max-px) {
    transform: translateX(0);
  }
}

.tco-panel-item {
  position: absolute;
  left: 0;
  display: inline-block;
  overflow: hidden;
  width: min(((var(--width) * 0.77) / #{$panel-mobile-max}) * 100%, var(--width) * 1px);
  margin: 0;
  border-radius: $border-radius-image;
  box-shadow: $box-shadow-image;
  transform-origin: 0 0;

  @include wider-than($breakpoint-tablet-portrait) {
    width: min((var(--width) / #{$panel-max}) * 100%, var(--width) * 1px);
  }

  .tco-lights-out & {
    box-shadow: $box-shadow-dark;
  }

  &--d,
  &--f,
  &--g {
    bottom: 0;
  }

  &--a,
  &--b,
  &--c,
  &--e {
    top: 0;
  }

  &--c,
  &--d,
  &--e,
  &--f,
  &--g {
    left: 50%;
  }

  &--a {
    @include wider-than($breakpoint-tablet-portrait) {
      transform: translate(0, 10%);
    }
  }

  &--b {
    transform: translate(0, 112%);

    @include wider-than($breakpoint-tablet-portrait) {
      transform: translate(0, 121%);
    }
  }

  &--c {
    z-index: 2;
    transform: translate(-60%, 16%);

    @include wider-than($breakpoint-tablet-portrait) {
      transform: translate(-192%, 24%);
    }
  }

  &--d {
    z-index: 2;
    transform: translate(-35%, -142%);

    @include wider-than($breakpoint-tablet-portrait) {
      transform: translate(-84%, 0);
    }
  }

  &--e {
    z-index: 1;
    transform: translate(7%, 62%);

    @include wider-than($breakpoint-tablet-portrait) {
      transform: translate(-41%, 72%);
    }
  }

  &--f {
    transform: translate(-34%, 0);

    @include wider-than($breakpoint-tablet-portrait) {
      z-index: 1;
      transform: translate(27%, -32%);
    }
  }

  &--g {
    transform: translate(-66%, -66%);

    @include wider-than($breakpoint-tablet-portrait) {
      right: 0;
      left: auto;
      z-index: 2;
      transform: translate(0, -122%);
    }
  }

  &--h {
    top: 0;
    right: 0;
    left: auto;
    z-index: 4;
    transform: translate(-170%, 160%);

    @include wider-than($breakpoint-tablet-portrait) {
      transform: translate(-52%, 0);
    }
  }
}

.tco-panel-image {
  display: block;
  width: 100%;
  height: auto;
}
