$byline-img-width: 44px;

.tco-byline {
  display: grid;
  grid-template-columns: $byline-img-width 1fr;
  grid-gap: $spacing-inline-16;
  align-items: center;
  margin-top: $spacing-stack-16;
  color: $color-classic-gray-dark;

  .tco-lights-out & {
    color: $color-foreground-on-tint;
  }

  &--link {
    @include type-not-link;
  }

  &-image-container {
    overflow: hidden;
    width: $byline-img-width;
    border-radius: $border-radius-round;
  }

  &-content-container {
    display: flex;
    flex-flow: column nowrap;
    align-self: stretch;
    justify-content: space-between;

    &--multiple {
      flex-flow: row wrap;
      align-self: center;
    }
  }

  &-name {
    @include type-sans-bold;
    line-height: 1.25;
  }

  &-description {
    @include type-body-small;
  }

  &-name,
  &-description {
    margin-bottom: 0;
  }

  &--multiple {
    display: flex;
    flex-flow: column nowrap;
    grid-gap: 0;
    margin: 0;

    .tco-byline-image-container {
      margin: 0 $spacing-inline-8 $spacing-stack-16;
    }
  }

  &-images {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &--no-image {
    display: block;
    grid-template-columns: 1fr;

    ul {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
    }

    .tco-byline-name {
      @include type-body-small;
      display: inline;
      color: $color-classic-gray-dark;
      list-style-type: none;

      &:not(:first-of-type) {
        margin-left: 3px;
      }
    }
  }
}

.tco-byline-link--multiple {
  margin-left: $spacing-inline-2;

  &:first-of-type {
    margin-left: 0;
  }
}
