.tco-content-item {
  @include spacing-inset-24;
  @include wider-than($breakpoint-phone-portrait) {
    flex-flow: row nowrap;
  }
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background: $color-tint-blue-tertiary;

  .tco-content-column {
    @include wider-than($breakpoint-phone-portrait) {
      margin-top: 0;
      margin-right: $spacing-inline-64;

      &:last-child {
        margin-right: 0;
      }
    }
    margin-top: $spacing-stack-16;

    &:first-child {
      margin-top: 0;
    }
  }

  &-image {
    @include wider-than($breakpoint-phone-portrait) {
      min-width: 200px;
      max-width: 380px;
    }
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: $border-radius-medium;
  }

  &-footer {
    margin-top: $spacing-stack-16;
  }

  &-meta {
    @include wider-than($breakpoint-phone-portrait) {
      flex-wrap: nowrap;
    }
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    > span {
      margin-right: $spacing-inline-12;
    }
  }

  &-excerpt {
    @include type-body-large;
    margin-top: $spacing-stack-16;
  }
}

.tco-content-category {
  @include wider-than($breakpoint-phone-portrait) {
    width: auto;
    margin-right: $spacing-inline-12;
    margin-bottom: 0;
  }
  display: block;
  width: 100%;
}

// These should be their own components

.tco-tag {
  @include spacing-squish-4-8;
  border-radius: $border-radius-large;
  background: $color-foreground-quanternary;
}

.tco-heading {
  @include type-display-medium;
  margin-top: $spacing-stack-16;
}

.tco-content-hosts {
  margin-top: $spacing-stack-16;
}

.tco-content-authors {
  @include type-display-small;
}
