.tco-content-item {
  @include spacing-inset-24;
  @include wider-than($breakpoint-tablet-portrait) {
    grid-template-areas: "body media" "body media";
  }
  display: grid;
  grid-template-areas: "media" "body";
  align-items: center;
  justify-content: space-between;
  background: $color-tint-blue-tertiary;

  &-image {
    @include wider-than($breakpoint-tablet-portrait) {
      min-width: 245px;
      max-width: 380px;
    }
    overflow: hidden;
    width: 100%;
    min-width: 100px;
    height: auto;
    border-radius: $border-radius-medium;
  }

  &-footer {
    margin-top: $spacing-stack-16;
  }

  &-meta {
    @include wider-than($breakpoint-tablet-portrait) {
      flex-wrap: nowrap;
    }
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    > .tco-type-body {
      margin-right: $spacing-inline-12;
    }
  }

  &-excerpt {
    @include type-body-large;
    margin-top: $spacing-stack-16;
  }
}

.tco-content-column {
  @include wider-than($breakpoint-tablet-portrait) {
    margin-top: 0;

    &:last-child {
      margin-right: 0;
    }
  }
  margin-top: $spacing-stack-16;

  &:first-child {
    margin-top: 0;
  }

  &-media {
    grid-area: media;
    margin-left: $spacing-inline-64;
  }

  &-body {
    grid-area: body;
  }
}

.tco-content-category {
  @include wider-than($breakpoint-tablet-portrait) {
    width: auto;
    margin-right: $spacing-inline-12;
    margin-bottom: 0;
  }
  display: block;
  width: 100%;
}

// These should be their own components

.tco-tag {
  @include spacing-squish-4-8;
  border-radius: $border-radius-large;
  background: $color-foreground-quanternary;
}

.tco-heading {
  @include type-display-medium;
  margin-top: $spacing-stack-12;
}

.tco-content-hosts {
  margin-top: $spacing-stack-16;
}

.tco-content-authors {
  @include type-display-small;
}

// Modifiers ==============
.tco-content-item--featured {
  background: $color-background-tertiary;

  .tco-heading {
    @include type-display-medium;
    // Changes font type when featured
    font-family: $font-stack-serif;
  }

  .tco-heading,
  .tco-type-body,
  .tco-content-item-date {
    color: $color-foreground-on-tint;
  }

  .tco-link {
    @include type-link($color-foreground-on-tint, $color-foreground-on-tint);
  }
}

.tco-content-item--media-left {
}
