$bullet-offset: 15px;

.tco-content-item {
  padding-left: 0;

  &.tco-content-item--align {
    &-left,
    &-right {
      padding: 0;
    }
  }

  .tco-text-media-content-text--right {
    .tco-content-item-meta {
      justify-content: flex-end;
    }
  }

  &-meta {
    @include type-body-small;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @include wider-than($breakpoint-tablet-portrait) {
      margin-bottom: $spacing-stack-20;
    }

    span {
      margin-bottom: $spacing-stack-12;

      @include wider-than($breakpoint-tablet-portrait) {
        margin-bottom: 0;
      }
    }
  }

  &-heading {
    @include type-display-small;
    margin-bottom: $spacing-stack-8;
    color: $color-classic-blue;
  }

  &-location {
    position: relative;
    margin-left: $spacing-inline-24;

    &::before {
      content: '\2022';
      position: absolute;
      top: 50%;
      left: -$bullet-offset;
      display: inline-block;
      transform: translateY(-50%);
    }
  }

  &-author-heading {
    @include type-eyebrow;
    display: block;
    margin-bottom: $spacing-stack-4;
  }

  &-authors {
    @include type-body-small;
    display: block;
  }

  .tco-tag {
    margin-right: $spacing-inline-12;
  }

  .tco-link {
    @include type-link($show-initial: false);
  }

  .tco-text-media-lede {
    margin-bottom: $spacing-stack-12;

    @include wider-than($breakpoint-tablet-portrait) {
      margin-bottom: $spacing-stack-20;
    }
  }

  .tco-btn {
    margin-top: $spacing-stack-20;
  }
}

.tco-tag {
  @include spacing-squish-6-10;
  display: inline-block;
  background: $color-classic-gray-light;
}
