@use 'sass:math';
/* stylelint-disable max-line-length, max-nesting-depth , selector-max-combinators, selector-max-compound-selectors, selector-max-specificity , selector-no-qualifying-type */

$opacity--disabled: 0.4;
$field-space: 36px;
$textarea-height: 80px;

/* ----------------------------------------------*\
      Radio Buttons
\*---------------------------------------------- */

.tco-form-radio,
input[type='radio'] {
  @extend %tco-accessibly-hidden;
  @extend %tco-form-input--pseudo;

  &:checked + label::after {
    opacity: 1;
  }

  + label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(4px);
      left: rem(4px);
      width: rem(10px);
      height: rem(10px);
      border-radius: 100%;
      background-color: $color-tint-blue-primary;
      opacity: 0;
    }
  }

  .is-error & {
    + label {
      &::before {
        content: '';
        position: absolute;
        top: rem(2px);
        left: 0;
        width: rem(16px);
        height: rem(16px);
        border: 1px solid $color-foreground-tertiary;
        border-radius: $border-radius-round;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(6px);
      left: rem(4px);
      width: rem(10px);
      height: rem(10px);
      border-radius: $border-radius-round;
      background-color: $color-tint-blue-primary;
      opacity: 0;
    }
  }

  &:disabled + label {
    opacity: $opacity--disabled;
  }

  .theme-dark & {
    + label {
      &::before {
        border-color: #000;
      }
    }

    &:checked {
      + label {
        &::before {
          border-color: #000;
        }
      }
    }

    &:disabled + label::before {
      border-color: #000;
      background-color: #000;
    }
  }
}

/* ----------------------------------------------*\
      Toggle
\*---------------------------------------------- */

.tco-form-toggle {
  @extend %tco-accessibly-hidden;
  @extend %tco-form-input--pseudo;

  + label {
    padding-left: rem(48px);
    line-height: 1.7;

    &::before {
      top: rem(2px);
      width: rem(36px);
      height: rem(20px);
      border-width: 0;
      border-radius: rem(100px);
      background-color: $color-foreground-tertiary;
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(4px);
      left: rem(2px);
      width: rem(16px);
      height: rem(16px);
      border-radius: 100%;
      background-color: #fff;
      transition: left 0.1s linear;
    }
  }

  &:checked {
    + label::after {
      left: rem(18px);
    }

    + label::before {
      background-color: $color-tint-blue-primary;
    }
  }

  .is-error & {
    + label {
      &::before {
        content: '';
        position: absolute;
        top: rem(2px);
        left: 0;
        width: rem(36px);
        height: rem(20px);
        border-radius: rem(100px);
        background-color: $color-foreground-tertiary;
      }

      &::after {
        content: '';
        position: absolute;
        top: rem(4px);
        left: rem(2px);
        width: rem(16px);
        height: rem(16px);
        border-radius: $border-radius-round;
        background-color: #fff;
        transition: left 0.1s linear;
      }
    }

    &:checked {
      + label::after {
        left: rem(18px);
      }

      + label::before {
        background-color: $color-tint-blue-primary;
      }
    }

    .theme-dark & {
      + label {
        &::before {
          border-color: #000;
        }
      }

      &:checked {
        + label {
          &::before {
            border-color: #000;
          }
        }
      }
    }
  }

  &:disabled + label {
    opacity: $opacity--disabled;
  }
}

/* ----------------------------------------------*\
      Select
\*---------------------------------------------- */
.select,
.tco-form--hubspot select {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23939ab4' fill-rule='evenodd' viewBox='0 0 24 24'%3E%3Cpath d='M11.0673126,19.1021479 L0.386350391,8.10198065 C-0.128783464,7.57145453 -0.128783464,6.71133772 0.386350391,6.18086821 L1.63211366,4.89788139 C2.14636816,4.3682609 2.97982649,4.36724207 3.4952901,4.89561733 L12.0000275,13.6134412 L20.5047099,4.89561733 C21.0201735,4.36724207 21.8536318,4.3682609 22.3678863,4.89788139 L23.6136496,6.18086821 C24.1287835,6.71139433 24.1287835,7.57151113 23.6136496,8.10198065 L12.9327424,19.1021479 C12.4176085,19.6326174 11.5824464,19.6326174 11.0673126,19.1021479 Z' /%3E%3C/svg%3E");
  background-position-x: calc(100% - 8px);
  background-position-y: 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // inherits inset spacing from text input
  &.tco-form-input--large {
    background-position-x: calc(100% - 16px);
    background-size: 16px;
  }

  &.tco-form-input--medium {
    background-position-x: calc(100% - 12px);
    background-size: 14px;
  }
}

.tco-form--hubspot {
  select {
    @extend %tco-form-input;
  }
}

// /* ----------------------------------------------*\
//       Expanding text input
// \*---------------------------------------------- */
// .tco-input--expand {
//   textarea {
//     overflow: hidden;
//     height: 35px;
//     max-height: 200px;
//     resize: none;
//   }

//   &-jumbo {
//     textarea {
//       height: 48px;
//       padding-top: 10px;
//     }
//   }
// }

// /* ----------------------------------------------*\
//       Error States
// \*---------------------------------------------- */

// .tco-form-input-error-msg {
//   margin-top: $spacing-stack-4;
//   border-radius: $border-radius-xsmall;
//   color: $color-tint-red-primary;
//   font-weight: 400;
//   text-transform: none;

//   + .tco-form-row {
//     margin-top: rem(8px);
//   }

//   .theme-dark & {
//     color: #000;
//   }
// }
