/* stylelint-disable max-line-length, max-nesting-depth , selector-max-combinators, selector-max-compound-selectors, selector-max-specificity , selector-no-qualifying-type */

$opacity--disabled: 0.4;
$field-space: 36px;
$textarea-height: 80px;

// /* ----------------------------------------------*\
//     Form Row
// \*---------------------------------------------- */

// .tco-form-row,
// %tco-form-row {
//   width: 100%;
//   margin-bottom: $field-space;

//   &:last-of-type {
//     margin-bottom: 0;
//   }

//   &--split {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-between;

//     &-group {
//       width: 100%;

//       &:first-of-type {
//         margin-bottom: $field-space;

//         @include wider-than($breakpoint-phone-landscape) {
//           margin-bottom: 0;
//         }
//       }

//       @include wider-than($breakpoint-phone-portrait) {
//         width: 100%;
//       }

//       @include wider-than($breakpoint-phone-landscape) {
//         width: calc(50% - #{$spacing-inline-8});
//       }
//     }

//     &--textarea {
//       margin-bottom: $field-space - 10px;
//     }
//   }

//   &.tco-form-row--button {
//     margin: $spacing-stack-40 0;
//   }
// }

// .tco-form-row--group {
//   position: relative;
//   margin-bottom: $spacing-inline-12;

//   &:last-of-type {
//     margin-bottom: 0;
//   }
// }

// .tco-form-fieldset {
//   &.disabled {
//     opacity: $opacity--disabled;
//   }
// }

// .gfield {
//   @extend %tco-form-row;
// }

// /* ----------------------------------------------*\
//       Form controls
// \*---------------------------------------------- */

// .tco-form-input,
// %tco-form-input {
//   @include type-body-default;
//   width: 100%;
//   padding: 1px 2px;
//   border: 0;
//   border-bottom: $border-default;
//   border-radius: 0;
//   background-color: $color-foreground-on-tint;
//   background-image: none;
//   color: $color-foreground-primary;

//   &::placeholder {
//     color: $color-foreground-tertiary;
//   }

//   // fixes hidden focus ring on mac firefox
//   &:focus {
//     box-shadow: 0 0 0 3px -moz-mac-focusring;
//   }

//   &:disabled {
//     opacity: $opacity--disabled;
//     pointer-events: none;
//   }

//   &.is-error,
//   &.is-success {
//     padding-left: rem(32px);
//   }

//   &.is-error {
//     border-color: $color-tint-red-primary;
//   }

//   &.is-success {
//     border-color: $color-tint-green-primary;
//   }
// }

// .tco-form-state-icon {
//   position: absolute;
//   left: rem(8px);
//   width: rem(16px);
//   height: rem(16px);
//   padding: rem(3px);
//   border-radius: 100%;

//   &--error {
//     background-color: $color-tint-red-primary;
//     fill: $color-foreground-on-tint;
//   }

//   &--success {
//     background-color: $color-tint-green-primary;
//     fill: $color-foreground-on-tint;
//   }
// }

// /* ----------------------------------------------*\
//       Text Area
// \*---------------------------------------------- */

// .tco-form-textarea,
// .textarea {
//   @extend %tco-form-input;
//   max-height: $textarea-height;
//   padding: $spacing-stack-8 $spacing-inline-4;

//   + .tco-form-state-icon {
//     top: rem(34px);
//   }
// }

// /* ----------------------------------------------*\
//       Form controls for labels and legends
// \*---------------------------------------------- */

// .tco-form-label,
// %tco-form-label {
//   @include type-eyebrow;
//   position: relative;
//   display: block;
//   padding: 0 $spacing-inline-4;
//   font-weight: $font-weight-600;

//   .tco-form-label-text {
//     display: block;
//     margin-bottom: 0.5rem;
//   }

//   .tco-form-label-optional {
//     font-style: italic;
//   }

//   &.tco-form-label--multiline {
//     margin-bottom: 0;
//   }
// }

// .gfield_label,
// .gfield_radio label,
// .gfield_checkbox label {
//   @extend %tco-form-label;
// }

// .gfield_label_before_complex {
//   margin-bottom: $spacing-stack-12;
// }

// /* ----------------------------------------------*\
//       Controls for pseudo element inputs
// \*---------------------------------------------- */
// %tco-form-input--pseudo {
//   &:focus + label::before {
//     outline: 2px solid $color-tint-blue-primary;
//   }

//   + label {
//     position: relative;
//     margin-right: $spacing-inline-32;
//     padding-left: rem(24px);
//     font-weight: 400;
//     font-size: $font-size-14;

//     @include wider-than($breakpoint-phone-landscape) {
//       line-height: initial;
//     }

//     &::before {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: rem(16px);
//       height: rem(16px);
//       border: 1px solid $color-foreground-primary;
//       border-radius: 2px;
//       background: $color-foreground-on-tint;
//     }
//   }
// }

/* ----------------------------------------------*\
      Checkbox
\*---------------------------------------------- */

// .tco-form-checkbox,
// .gfield-choice-input {
//   @extend %tco-accessibly-hidden;
//   @extend %tco-form-input--pseudo;

//   &:checked + label,
//   &:checked + input + label {
//     // sass-lint:disable-block nesting-depth
//     &::before {
//       content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 3.35l2.82 2.83L9 1'/%3E%3C/svg%3E");
//       background-color: $color-tint-blue-primary;
//       line-height: 12px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
//       text-align: center;
//     }
//   }

//   &:indeterminate + label,
//   &:indeterminate + input + label {
//     &::before {
//       content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 1L8.5 1'/%3E%3C/svg%3E");
//       background-color: $color-tint-blue-primary;
//       line-height: 1.44;
//       text-align: center;
//     }
//   }

//   &:disabled + label {
//     opacity: $opacity--disabled;
//   }

//   .is-error & {
//     + label {
//       &::before {
//         border: 1px solid $color-tint-red-primary;
//       }
//     }

//     .theme-dark & {
//       + label {
//         &::before {
//           border-color: #000;
//         }
//       }
//     }
//   }

//   .theme-dark & {
//     .is-error & {
//       + label {
//         &::before {
//           border-color: #000;
//         }
//       }
//     }

//     &:disabled + label {
//       color: #000;

//       &::before {
//         border-color: #000;
//         background-color: #000;
//       }
//     }
//   }
// }

/* ----------------------------------------------*\
      Radio Buttons
\*---------------------------------------------- */

.tco-form-radio,
input[type='radio'] {
  @extend %tco-accessibly-hidden;
  @extend %tco-form-input--pseudo;

  &:checked + label::after {
    opacity: 1;
  }

  + label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(4px);
      left: rem(4px);
      width: rem(10px);
      height: rem(10px);
      border-radius: 100%;
      background-color: $color-tint-blue-primary;
      opacity: 0;
    }
  }

  .is-error & {
    + label {
      &::before {
        content: '';
        position: absolute;
        top: rem(2px);
        left: 0;
        width: rem(16px);
        height: rem(16px);
        border: 1px solid $color-foreground-tertiary;
        border-radius: $border-radius-round;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(6px);
      left: rem(4px);
      width: rem(10px);
      height: rem(10px);
      border-radius: $border-radius-round;
      background-color: $color-tint-blue-primary;
      opacity: 0;
    }
  }

  &:disabled + label {
    opacity: $opacity--disabled;
  }

  .theme-dark & {
    + label {
      &::before {
        border-color: #000;
      }
    }

    &:checked {
      + label {
        &::before {
          border-color: #000;
        }
      }
    }

    &:disabled + label::before {
      border-color: #000;
      background-color: #000;
    }
  }
}

/* ----------------------------------------------*\
      Toggle
\*---------------------------------------------- */

.tco-form-toggle {
  @extend %tco-accessibly-hidden;
  @extend %tco-form-input--pseudo;

  + label {
    padding-left: rem(48px);
    line-height: 1.7;

    &::before {
      top: rem(2px);
      width: rem(36px);
      height: rem(20px);
      border-width: 0;
      border-radius: rem(100px);
      background-color: $color-foreground-tertiary;
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(4px);
      left: rem(2px);
      width: rem(16px);
      height: rem(16px);
      border-radius: 100%;
      background-color: #fff;
      transition: left 0.1s linear;
    }
  }

  &:checked {
    + label::after {
      left: rem(18px);
    }

    + label::before {
      background-color: $color-tint-blue-primary;
    }
  }

  .is-error & {
    + label {
      &::before {
        content: '';
        position: absolute;
        top: rem(2px);
        left: 0;
        width: rem(36px);
        height: rem(20px);
        border-radius: rem(100px);
        background-color: $color-foreground-tertiary;
      }

      &::after {
        content: '';
        position: absolute;
        top: rem(4px);
        left: rem(2px);
        width: rem(16px);
        height: rem(16px);
        border-radius: $border-radius-round;
        background-color: #fff;
        transition: left 0.1s linear;
      }
    }

    &:checked {
      + label::after {
        left: rem(18px);
      }

      + label::before {
        background-color: $color-tint-blue-primary;
      }
    }

    .theme-dark & {
      + label {
        &::before {
          border-color: #000;
        }
      }

      &:checked {
        + label {
          &::before {
            border-color: #000;
          }
        }
      }
    }
  }

  &:disabled + label {
    opacity: $opacity--disabled;
  }
}

/* ----------------------------------------------*\
      Select
\*---------------------------------------------- */
.select,
.tco-form--hubspot select {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23939ab4' fill-rule='evenodd' viewBox='0 0 24 24'%3E%3Cpath d='M11.0673126,19.1021479 L0.386350391,8.10198065 C-0.128783464,7.57145453 -0.128783464,6.71133772 0.386350391,6.18086821 L1.63211366,4.89788139 C2.14636816,4.3682609 2.97982649,4.36724207 3.4952901,4.89561733 L12.0000275,13.6134412 L20.5047099,4.89561733 C21.0201735,4.36724207 21.8536318,4.3682609 22.3678863,4.89788139 L23.6136496,6.18086821 C24.1287835,6.71139433 24.1287835,7.57151113 23.6136496,8.10198065 L12.9327424,19.1021479 C12.4176085,19.6326174 11.5824464,19.6326174 11.0673126,19.1021479 Z' /%3E%3C/svg%3E");
  background-position-x: calc(100% - 8px);
  background-position-y: 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // inherits inset spacing from text input
  &.tco-form-input--large {
    background-position-x: calc(100% - 16px);
    background-size: 16px;
  }

  &.tco-form-input--medium {
    background-position-x: calc(100% - 12px);
    background-size: 14px;
  }
}

.tco-form--hubspot {
  select {
    @extend %tco-form-input;
  }
}

// /* ----------------------------------------------*\
//       Expanding text input
// \*---------------------------------------------- */
// .tco-input--expand {
//   textarea {
//     overflow: hidden;
//     height: 35px;
//     max-height: 200px;
//     resize: none;
//   }

//   &-jumbo {
//     textarea {
//       height: 48px;
//       padding-top: 10px;
//     }
//   }
// }

// /* ----------------------------------------------*\
//       Error States
// \*---------------------------------------------- */

// .tco-form-input-error-msg {
//   margin-top: $spacing-stack-4;
//   border-radius: $border-radius-xsmall;
//   color: $color-tint-red-primary;
//   font-weight: 400;
//   text-transform: none;

//   + .tco-form-row {
//     margin-top: rem(8px);
//   }

//   .theme-dark & {
//     color: #000;
//   }
// }
