$bubble-max: 600px;

.tco-text-only {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacing-stack-20;
  align-items: flex-start;

  &--right {
    align-items: flex-end;
    text-align: right;
  }

  &--center {
    align-items: center;
    text-align: center;
  }

  &-content,
  &--content {
    width: 100%;
    padding-top: $spacing-stack-4;

    @include wider-than($breakpoint-tablet-portrait) {
      padding-top: $spacing-stack-12;
    }
  }

  &--heading,
  &--eyebrow,
  &--lede:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--cta {
    margin-top: $spacing-stack-12;

    @include wider-than($breakpoint-tablet-portrait) {
      margin-top: $spacing-stack-16;
    }
  }

  &-eyebrow {
    .tco-lights-out & {
      color: $color-dark-theme-blue;
    }
  }

  &--bubble {
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
      display: block;
      width: $bubble-max;
      height: $bubble-max;
      border-radius: 50%;
      background-color: $color-tint-blue-tertiary;
      transform: translate(-50%, -50%);

      @include wider-than($breakpoint-desktop) {
        width: 62%;
        height: 0;
        padding-bottom: 62%;
        transform: translate(-28%, -50%);
      }

      .tco-lights-out & {
        background-color: $color-classic-navy;
      }
    }

    .tco-container-wrapper--glass & {
      &::before {
        background-color: $color-foreground-on-tint;
      }
    }

    &.tco-text-only--right {
      &::before {
        right: 0;
        left: auto;
        transform: translate(50%, -50%);

        @include wider-than($breakpoint-desktop) {
          transform: translate(28%, -50%);
        }
      }
    }
  }
}
