.tco-cta-banner {
  display: flex;
  flex-flow: column nowrap;
  gap: min(5.5vw, calc(#{$spacing-stack-32} - #{$spacing-stack-2}));
  align-items: center;
  justify-content: center;
  text-align: center;

  &--headline,
  &--eyebrow {
    margin-bottom: 0;
  }

  &--lede {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
