/* stylelint-disable property-disallowed-list */
@font-face {
  font-style: normal;
  font-family: 'KievitSlabWeb W03 Regul1473175'; // name in abstract -> KievitSlabPro
  src: url('./1473175/55aa70f5-633e-4542-b9ae-be955bd48129.eot?#iefix');
  src: url('./1473175/55aa70f5-633e-4542-b9ae-be955bd48129.eot?#iefix')
    format('eot'),
    url('./1473175/0c3dbab2-d92d-42a2-9ec7-1167734c9961.woff2') format('woff2'),
    url('./1473175/5d1c520f-fe60-400b-8824-c68f5fd85c89.woff') format('woff'),
    url('./1473175/c61be365-1aff-4033-98fe-7bd7f9a56059.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: bold;
  font-family: 'Kievit Slab W05 Bold';
  src: url('./5366961/4ade4a0f-b443-4211-b990-96b1f2feb09e.eot?#iefix');
  src: url('./5366961/4ade4a0f-b443-4211-b990-96b1f2feb09e.eot?#iefix')
    format('eot'),
    url('./5366961/9788ec0d-c3f6-4397-b0b8-2ecb03b055d3.woff2') format('woff2'),
    url('./5366961/2e7319b3-71f6-4d4b-a3de-88125356007c.woff') format('woff'),
    url('./5366961/0bb2655d-d363-4879-9f89-7222599e7a7b.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-family: 'Kievit Slab W05 Italic';
  src: url('./5354469/1d6bd435-d93c-4b34-a3e5-65201d72a3a4.eot?#iefix');
  src: url('./5354469/1d6bd435-d93c-4b34-a3e5-65201d72a3a4.eot?#iefix')
    format('eot'),
    url('./5354469/ca4cabd7-8fd5-42d8-bbef-d9d02db12925.woff2') format('woff2'),
    url('./5354469/7a7572b8-522a-4b0e-89b6-a24d73c8d58d.woff') format('woff'),
    url('./5354469/4c269939-8919-4e0d-9552-0e68822809bc.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-family: 'Kievit Slab W05 Extralight'; // KievitSlabPro-Extlight
  src: url('./5353859/dbcf3cb8-be90-4248-bbdc-0e0f3c2a06b4.eot?#iefix');
  src: url('./5353859/dbcf3cb8-be90-4248-bbdc-0e0f3c2a06b4.eot?#iefix')
    format('eot'),
    url('./5353859/9d48d52a-e166-4ffe-9e88-a849bd004e77.woff2') format('woff2'),
    url('./5353859/c0562ff8-a912-4092-8bee-bd0b04771105.woff') format('woff'),
    url('./5353859/939a69fc-fad9-4541-b944-6e191ec265cd.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-family: 'Kievit Slab W05 Extralight It';
  src: url('./5359559/e02e73a9-69b1-4278-af39-009c15664e80.eot?#iefix');
  src: url('./5359559/e02e73a9-69b1-4278-af39-009c15664e80.eot?#iefix')
    format('eot'),
    url('./5359559/7054505c-ca18-4a2a-a190-b95c88daacf9.woff2') format('woff2'),
    url('./5359559/0f79c132-69f2-4486-b79c-18ccd74fef38.woff') format('woff'),
    url('./5359559/5e6302e9-2cc5-44ba-86f3-7a3e19be7289.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-family: 'Kievit Slab W05 Book'; // KievitSlabPro-Book
  src: url('./5365705/e41a5a29-5e00-4365-b8eb-3eb74a850ac3.eot?#iefix');
  src: url('./5365705/e41a5a29-5e00-4365-b8eb-3eb74a850ac3.eot?#iefix')
    format('eot'),
    url('./5365705/016539b8-6711-4e07-be25-6a2ae04a4dcd.woff2') format('woff2'),
    url('./5365705/a77004a0-d714-40c4-b6ec-38c020e8f85d.woff') format('woff'),
    url('./5365705/e12492e2-9ee6-4bfc-8ee3-a4400092ac37.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-family: 'Kievit Slab W05 Book Italic';
  src: url('./5353156/9a0206d7-237e-40ce-96e8-a049fb70003f.eot?#iefix');
  src: url('./5353156/9a0206d7-237e-40ce-96e8-a049fb70003f.eot?#iefix')
    format('eot'),
    url('./5353156/1661d8e3-3c1c-470c-b0e5-8548d1b26d05.woff2') format('woff2'),
    url('./5353156/ea6cb46a-5ce4-46a6-854b-fe7b177365bd.woff') format('woff'),
    url('./5353156/a28189a0-dda3-433b-8242-304fb88a120a.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-family: 'KievitWeb W07 Medi'; // KievitPro-Medium
  src: url('./1473295/2adcd26a-1976-42fe-a53b-58b4bb023e71.eot?#iefix');
  src: url('./1473295/2adcd26a-1976-42fe-a53b-58b4bb023e71.eot?#iefix')
    format('eot'),
    url('./1473295/ada2ab33-e8a1-46ad-bb29-7f14c50209db.woff2') format('woff2'),
    url('./1473295/828846f6-6e09-4745-82a9-a17c1042e12b.woff') format('woff'),
    url('./1473295/9c713b73-bc7c-4e97-a956-19d38b6b950d.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-family: 'KievitWeb W07 MediIta';
  src: url('./1473299/118da576-31c8-4ca5-b254-d23f3d688d61.eot?#iefix');
  src: url('./1473299/118da576-31c8-4ca5-b254-d23f3d688d61.eot?#iefix')
    format('eot'),
    url('./1473299/478c7b47-005b-442a-9625-0a5cc4db6e33.woff2') format('woff2'),
    url('./1473299/cd0f2325-53a0-4d90-adbf-f3f37185d495.woff') format('woff'),
    url('./1473299/a3afef04-e397-48d5-9cd2-99daf65e125c.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-family: 'KievitWeb W07 Bold';
  src: url('./1473259/bb94c1b9-8e3a-4be4-9806-a334a6211ddc.eot?#iefix');
  src: url('./1473259/bb94c1b9-8e3a-4be4-9806-a334a6211ddc.eot?#iefix')
    format('eot'),
    url('./1473259/0d096877-d31b-4b43-b54c-18eefae0a26a.woff2') format('woff2'),
    url('./1473259/a2dc5105-304a-4e4a-8b33-afb9153b36cc.woff') format('woff'),
    url('./1473259/23954f93-7c28-47d1-ba24-1684bfa076e0.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-family: 'KievitWeb W07 BoldIta';
  src: url('./1473263/b5d7ce7d-e8e2-446c-afcd-be3182d95c04.eot?#iefix');
  src: url('./1473263/b5d7ce7d-e8e2-446c-afcd-be3182d95c04.eot?#iefix')
    format('eot'),
    url('./1473263/bcfae296-4ebb-456c-bcd0-69a79086451e.woff2') format('woff2'),
    url('./1473263/6db49c8f-12f2-4a5e-a9c3-72210c26c773.woff') format('woff'),
    url('./1473263/643c404d-0899-4639-ad20-467a8ac5ac17.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-family: 'KievitWeb W07 Black'; // KievitPro-Black
  src: url('./1473251/59eab69b-68f2-4d29-ae25-e836b5dd6a70.eot?#iefix');
  src: url('./1473251/59eab69b-68f2-4d29-ae25-e836b5dd6a70.eot?#iefix')
    format('eot'),
    url('./1473251/94b9f486-9b9d-48ab-8119-1f0bcd1c4dfc.woff2') format('woff2'),
    url('./1473251/2ed9e3ef-8450-4b86-8c33-c3e403cede04.woff') format('woff'),
    url('./1473251/6dc76d3b-ff9d-481a-b1ca-ce92d8fa5ae0.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-family: 'KievitWeb W07 BlackIta';
  src: url('./1473255/28ec041c-897e-4f7a-8490-e67d8c3f08ec.eot?#iefix');
  src: url('./1473255/28ec041c-897e-4f7a-8490-e67d8c3f08ec.eot?#iefix')
    format('eot'),
    url('./1473255/7291fda6-7bf3-4fe4-a705-f6bbff5cb21d.woff2') format('woff2'),
    url('./1473255/ba9ff0c4-97ce-4ad7-b367-7252002e56a6.woff') format('woff'),
    url('./1473255/2acc4ff1-3066-4c6d-9be7-c3e84590816b.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}
