/* stylelint-disable property-blacklist */
// Kievit Pro
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Kievit Pro';
  src: url('./Kievit-Pro_Normal/Kievit-Pro_Normal.eot?#iefix');
  src: url('./Kievit-Pro_Normal/Kievit-Pro_Normal.eot?#iefix') format('eot'),
    url('./Kievit-Pro_Normal/Kievit-Pro_Normal.woff2') format('woff2'),
    url('./Kievit-Pro_Normal/Kievit-Pro_Normal.woff') format('woff'),
    url('./Kievit-Pro_Normal/Kievit-Pro_Normal.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'Kievit Pro';
  src: url('./Kievit-Pro_Italic/Kievit-Pro_Italic.eot?#iefix');
  src: url('./Kievit-Pro_Italic/Kievit-Pro_Italic.eot?#iefix') format('eot'),
    url('./Kievit-Pro_Italic/Kievit-Pro_Italic.woff2') format('woff2'),
    url('./Kievit-Pro_Italic/Kievit-Pro_Italic.woff') format('woff'),
    url('./Kievit-Pro_Italic/Kievit-Pro_Italic.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

// Medium
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Kievit Pro';
  src: url('./Kievit-Pro_Medium/Kievit-Pro_Medium.eot?#iefix');
  src: url('./Kievit-Pro_Medium/Kievit-Pro_Medium.eot?#iefix') format('eot'),
    url('./Kievit-Pro_Medium/Kievit-Pro_Medium.woff2') format('woff2'),
    url('./Kievit-Pro_Medium/Kievit-Pro_Medium.woff') format('woff'),
    url('./Kievit-Pro_Medium/Kievit-Pro_Medium.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: 'Kievit Pro';
  src: url('./Kievit-Pro_Medium_Italic/Kievit-Pro_Medium_Italic.eot?#iefix');
  src: url('./Kievit-Pro_Medium_Italic/Kievit-Pro_Medium_Italic.eot?#iefix')
    format('eot'),
    url('./Kievit-Pro_Medium_Italic/Kievit-Pro_Medium_Italic.woff2')
    format('woff2'),
    url('./Kievit-Pro_Medium_Italic/Kievit-Pro_Medium_Italic.woff')
    format('woff'),
    url('./Kievit-Pro_Medium_Italic/Kievit-Pro_Medium_Italic.ttf')
    format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

// Bold
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Kievit Pro';
  src: url('./Kievit-Pro_Bold/Kievit-Pro_Bold.eot?#iefix');
  src: url('./Kievit-Pro_Bold/Kievit-Pro_Bold.eot?#iefix') format('eot'),
    url('./Kievit-Pro_Bold/Kievit-Pro_Bold.woff2') format('woff2'),
    url('./Kievit-Pro_Bold/Kievit-Pro_Bold.woff') format('woff'),
    url('./Kievit-Pro_Bold/Kievit-Pro_Bold.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'Kievit Pro';
  src: url('./Kievit-Pro_Bold_Italic/Kievit-Pro_Bold_Italic.eot?#iefix');
  src: url('./Kievit-Pro_Bold_Italic/Kievit-Pro_Bold_Italic.eot?#iefix')
    format('eot'),
    url('./Kievit-Pro_Bold_Italic/Kievit-Pro_Bold_Italic.woff2') format('woff2'),
    url('./Kievit-Pro_Bold_Italic/Kievit-Pro_Bold_Italic.woff') format('woff'),
    url('./Kievit-Pro_Bold_Italic/Kievit-Pro_Bold_Italic.ttf')
    format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

// Kievit Slab
@font-face {
  font-weight: 800;
  font-style: italic;
  font-family: 'Kievit Slab';
  src: url('./Kievit-Slab_Bold_Italic/Kievit-Slab_Bold_Italic.eot?#iefix');
  src: url('./Kievit-Slab_Bold_Italic/Kievit-Slab_Bold_Italic.eot?#iefix')
    format('eot'),
    url('./Kievit-Slab_Bold_Italic/Kievit-Slab_Bold_Italic.woff2')
    format('woff2'),
    url('./Kievit-Slab_Bold_Italic/Kievit-Slab_Bold_Italic.woff') format('woff'),
    url('./Kievit-Slab_Bold_Italic/Kievit-Slab_Bold_Italic.ttf')
    format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: 'Kievit Slab';
  src: url('./Kievit-Slab_Bold/Kievit-Slab_Bold.eot?#iefix');
  src: url('./Kievit-Slab_Bold/Kievit-Slab_Bold.eot?#iefix') format('eot'),
    url('./Kievit-Slab_Bold/Kievit-Slab_Bold.woff2') format('woff2'),
    url('./Kievit-Slab_Bold/Kievit-Slab_Bold.woff') format('woff'),
    url('./Kievit-Slab_Bold/Kievit-Slab_Bold.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}

@font-face {
  font-family: 'Kievit Slab';
  src: url('./Kievit-Slab/Kievit-Slab.eot?#iefix');
  src: url('./Kievit-Slab/Kievit-Slab.eot?#iefix') format('eot'),
    url('./Kievit-Slab/Kievit-Slab.woff2') format('woff2'),
    url('./Kievit-Slab/Kievit-Slab.woff') format('woff'),
    url('./Kievit-Slab/Kievit-Slab.ttf') format('truetype');
  font-variant-numeric: lining-nums;
  font-display: swap;
}
