/* stylelint-disable selector-no-qualifying-type */
.tco-form-radio,
input[type='radio'] {
  @extend %tco-accessibly-hidden;
  @extend %tco-form-input--pseudo;

  &:checked + label::after {
    opacity: 1;
  }

  + label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(4px);
      left: rem(4px);
      width: rem(10px);
      height: rem(10px);
      border-radius: 100%;
      background-color: $color-tint-blue-primary;
      opacity: 0;
    }
  }

  .is-error & {
    + label {
      &::before {
        content: '';
        position: absolute;
        top: rem(2px);
        left: 0;
        width: rem(16px);
        height: rem(16px);
        border: 1px solid $color-foreground-tertiary;
        border-radius: $border-radius-round;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(6px);
      left: rem(4px);
      width: rem(10px);
      height: rem(10px);
      border-radius: $border-radius-round;
      background-color: $color-tint-blue-primary;
      opacity: 0;
    }
  }

  &:disabled + label {
    opacity: $opacity--disabled;
  }

  .theme-dark & {
    + label {
      &::before {
        border-color: #000;
      }
    }

    &:checked {
      + label {
        &::before {
          border-color: #000;
        }
      }
    }

    &:disabled + label::before {
      border-color: #000;
      background-color: #000;
    }
  }
}

.tco-form--hubspot {
  .hs-form-radio {
    margin-bottom: $spacing-stack-8;
  }

  .hs-fieldtype-radio {
    > label {
      margin-bottom: $spacing-stack-12;
    }
  }

  [type='radio'] {
    @extend %tco-form-input--pseudo-span;

    &:checked + span::after {
      opacity: 1;
    }

    + span {
      &::before {
        border-radius: 50%;
      }

      &::after {
        content: '';
        position: absolute;
        top: rem(4px);
        left: rem(4px);
        width: rem(10px);
        height: rem(10px);
        border-radius: 100%;
        background-color: $color-tint-blue-primary;
        opacity: 0;
      }
    }
  }
}
