/* stylelint-disable selector-max-pseudo-class, max-line-length, selector-max-specificity,  max-nesting-depth, selector-max-combinators, selector-max-compound-selectors, selector-max-class */
// ========================================================
// = BASE CARD
// ========================================================
$color-hover: #08519a;
$job-content-max: 704px;

.tco-card {
  @include card-base;
  overflow: hidden;
  max-width: 368px;

  &-link {
    @include type-link-cta($padding-right: 0);
    height: 100%;
  }

  &.tco-card-container--flat,
  &.tco-card-container--none {
    box-shadow: none;
  }

  .tco-card-content-heading {
    @include type-body-large;
    @include type-link;
    display: inline;
  }

  &-image {
    &:not(.tco-card-image--summary):not(.tco-card-image--callout) {
      @include center-absolute(true);
      object-fit: cover;
    }
  }

  > {
    .tco-card-link {
      display: block;

      &:focus {
        outline: 4px solid $color-tint-blue-primary;
        outline-offset: -4px;
      }

      &:hover {
        border-bottom-color: transparent;

        .tco-card-content-heading {
          border-bottom-color: $color-classic-blue;
        }
      }

      .tco-lights-out & {
        &:hover {
          .tco-card-content-heading {
            border-bottom-color: $color-dark-theme-blue;
          }
        }
      }
    }
  }

  &-content-container {
    padding: $spacing-stack-24;
    color: $color-classic-gray-dark;

    .tco-lights-out & {
      color: $color-foreground-on-tint;
    }

    @include wider-than($breakpoint-desktop) {
      padding: $spacing-stack-32;
    }
  }

  &-content-description {
    @include type-body-default($font-color: $color-classic-gray-dark);
    margin-top: $spacing-stack-8;

    .tco-lights-out & {
      color: $color-foreground-on-tint;
    }
  }

  &-eyebrow {
    @include type-eyebrow;
    display: block;
    margin-bottom: $spacing-stack-8;
  }

  &-content-link {
    @include type-link-cta;
  }

  .tco-card-grid--no-link & {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
}

// ========================================================
// = SERVICE CARD
// ========================================================
$device-width-dark-theme: 42%;
$device-offset-v: 58px;

.tco-card--service {
  max-width: none;
  border: 1px solid $color-classic-gray-light;
  border-width: 0 0 1px;
  box-shadow: none;
  transition: background-color 0.2s linear;

  .tco-lights-out & {
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: $color-foreground-on-tint;
    box-shadow: none;
  }

  &:nth-last-child(2) {
    border-bottom-width: 0;
  }

  &:hover {
    background-color: $color-classic-glass;

    .tco-card-content-heading {
      border-bottom-color: $color-classic-blue;
    }

    .tco-card-image-container {
      .tco-lights-out & {
        &::before {
          transform: translate(-50%, -50%) scale(1.05);
        }
      }

      .tco-card-image {
        transform: translate(-50%, -50%) scale(1.05);
      }
    }

    .tco-lights-out & {
      background-color: $color-classic-navy;
    }
  }

  @include wider-than($breakpoint-phone-landscape) {
    &:nth-of-type(odd) {
      border-width: 0 1px 1px 0;
    }

    &:nth-of-type(even) {
      .tco-lights-out & {
        border-width: 0 0 1px;
      }
    }
  }

  @include wider-than($breakpoint-tablet-portrait) {
    border-width: 0 1px 1px 0;

    &:nth-of-type(even) {
      .tco-lights-out & {
        border-width: 0 1px 1px 0;
      }
    }
  }

  .tco-card-link {
    padding: $spacing-stack-24 0;

    &:hover {
      border-bottom-color: transparent;
    }

    @include wider-than($breakpoint-phone-landscape) {
      padding: $spacing-stack-24 $spacing-inline-16;
    }

    @include wider-than($breakpoint-desktop) {
      padding: $spacing-stack-24 $spacing-inline-32;
    }
  }

  .tco-card-image-container {
    @include aspect-ratio-box($ratio: 80%);
    margin: 0 auto;

    .tco-lights-out & {
      width: $device-width-dark-theme;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: calc(100% + #{$spacing-inline-64});
        border-radius: 50%;
        background-color: $color-foreground-on-tint;
        transition: transform 0.2s linear;
        transform: translate(-50%, -50%) scale(1);
        aspect-ratio: 1;
      }

      &--product-design {
        width: calc(#{$device-width-dark-theme} - #{$device-offset-v});

        &::before {
          width: calc(100% + #{$spacing-inline-64} + #{$device-offset-v});
        }
      }
    }

    @include wider-than($breakpoint-phone-landscape) {
      width: calc(100% - #{$spacing-inline-24} * 2);
    }

    .tco-card-image {
      @include center-absolute;
      object-fit: contain;
      width: auto;
      height: auto;
      transition: transform 0.2s linear;
      will-change: transform;
    }

    &--product-design {
      @include wider-than($breakpoint-phone-landscape) {
        width: 38%;
      }
    }
  }

  .tco-card-content {
    &-container {
      padding: $spacing-stack-32 $spacing-inline-32 0;

      @include wider-than($breakpoint-desktop) {
        padding: $spacing-stack-40 0 0;
      }
    }

    &-heading {
      @include type-body-large;
      @include type-link;
      display: inline;
      line-height: 1.3;

      .tco-lights-out & {
        color: $color-dark-theme-blue;
      }
    }

    &-description {
      margin-top: $spacing-stack-8;
    }
  }

  &-cta {
    background-color: $color-classic-blue;

    .tco-lights-out & {
      background-color: $color-dark-theme-dark-blue;

      &:hover,
      &:focus {
        background-color: $color-hover;
      }
    }

    &:hover,
    &:focus {
      background-color: $color-hover;
    }

    .tco-card-link {
      @include type-link-cta($padding-right: $spacing-inline-16, $fill: $color-foreground-on-tint);
      display: flex;
      padding-left: $spacing-inline-16;

      @include wider-than($breakpoint-desktop) {
        padding-right: $spacing-inline-32;
        padding-left: $spacing-inline-32;
      }
    }

    .tco-card-content {
      &-container {
        margin: auto 0;
        padding: 0;
        color: $color-foreground-on-tint;
      }

      &-heading {
        margin-bottom: $spacing-stack-24;
        border-bottom-width: 0;
        color: $color-foreground-on-tint;

        .tco-lights-out & {
          color: $color-foreground-on-tint;
        }
      }

      &-description {
        margin-top: $spacing-stack-24;
        color: $color-foreground-on-tint;
      }
    }
  }

  &:not(.tco-card--service-cta) {
    width: calc(100% - 32px);

    @include wider-than($breakpoint-phone-landscape) {
      width: 100%;
    }
  }
}

// ========================================================
// = SUMMARY CARD
// ========================================================
.tco-card--summary {
  .tco-card {
    &-content-container {
      padding: $spacing-stack-24 $spacing-stack-32;
    }

    &-image-container {
      padding: $spacing-stack-24 $spacing-stack-32 0;
    }
  }

  &.tco-card--no-link {
    border-width: 0;
    box-shadow: none;
    text-align: center;

    .tco-card {
      &-content-container {
        padding-right: 0;
        padding-left: 0;
      }

      &-image-container {
        display: flex;
        height: 250px;
        padding: $spacing-stack-32 $spacing-inline-20 0;
      }
    }

    img {
      width: 100%;
    }
  }

  .tco-card-content-heading {
    @include type-display-small($font-color: $color-classic-blue);

    &:hover {
      border-bottom-color: transparent;
    }

    .tco-lights-out & {
      color: $color-dark-theme-blue;
    }
  }

  &.tco-card--summary-reduced {
    min-width: 0;
    min-height: 0;
    padding: $spacing-stack-32 $spacing-inline-24;
    text-align: center;

    @include wider-than($breakpoint-tablet-portrait) {
      padding: $spacing-stack-50 $spacing-inline-32;
    }

    .tco-card-content-container {
      padding: 0;
    }

    .tco-card-content-heading {
      @include clamp(
        font-size,
        $breakpoint-phone-portrait,
        $breakpoint-desktop,
        $font-size-28,
        $font-size-32
      );
      color: $color-classic-gray-dark;

      .tco-lights-out & {
        color: $color-foreground-on-tint;
      }
    }

    .tco-card-image-container {
      display: grid;
      width: min(30vw, 138px);
      margin: 0 auto $spacing-stack-40;
      padding: 0;
      aspect-ratio: 1 / 1;
    }

    .tco-card-image {
      margin: auto;
    }
  }
}

// ========================================================
// = PERSON CARD
// ========================================================
.tco-card--person {
  @include card-scale;

  > .tco-card-link {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 332px;
    border-bottom-width: 0;
    background: none;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(180deg, transparent, #051824);
    }

    &:hover {
      .tco-card-content-heading {
        border-bottom-color: $color-foreground-on-tint;

        .tco-lights-out & {
          border-bottom-color: $color-foreground-on-tint;
        }
      }
    }
  }

  .tco-card-content {
    color: $color-foreground-on-tint;

    &-container {
      @include spacing-inset-16;
      z-index: 1;
      margin-top: auto;
      text-align: left;
    }

    &-heading {
      display: inline;
      color: $color-foreground-on-tint;
      line-height: calc(32 / 28);
    }

    &-description {
      @include type-body-small($font-color: $color-foreground-on-tint);
      margin-top: $spacing-stack-4;
    }
  }

  .tco-person-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
}

// ========================================================
// = POST CARD
// ========================================================
.tco-card--post {
  max-width: 480px;

  &-date,
  &-title,
  .tco-byline {
    margin-top: 0;
    margin-bottom: 0;
  }

  .tco-card-content {
    &-heading {
      @include type-display-small($font-color: $color-classic-blue);
    }

    &-container {
      display: flex;
      flex-flow: column nowrap;
      gap: $spacing-stack-16;

      @include wider-than($breakpoint-desktop) {
        padding: $spacing-stack-32;
      }
    }
  }

  .tco-card-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .tco-byline--no-image .tco-byline-name {
    .tco-lights-out & {
      color: $color-foreground-on-tint;
    }
  }

  .tco-lights-out & {
    .tco-card-link {
      border-bottom-color: transparent;
    }

    .tco-type-body--large {
      color: $color-foreground-on-tint;
    }

    .tco-text-link-icon {
      fill: $color-foreground-on-tint;
    }
  }
}

// ========================================================
// = CALLOUT CARD
// ========================================================
$icon-size: 32px;
$icon-size-large: 44px;

.tco-card--callout {
  max-width: 980px;
  min-height: 0;

  .tco-card-link {
    @include spacing-inset-24;

    @include wider-than($breakpoint-phone-landscape) {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
    }

    @include wider-than($breakpoint-tablet-portrait) {
      @include spacing-inset-32;
    }

    &:hover {
      .tco-card-content-heading {
        border-bottom-color: transparent;
      }

      .tco-card-content-link {
        border-bottom-color: $color-classic-blue;

        .tco-text-link-icon {
          transform: translate(10px, 0);
        }
      }

      .tco-card-image {
        transform: translate(0, 0);
      }
    }
  }

  .tco-lights-out & {
    .tco-card-link {
      &:hover {
        .tco-card-content-heading {
          border-bottom-color: transparent;
        }

        .tco-card-content-link {
          border-bottom-color: $color-dark-theme-blue;
        }
      }
    }
  }

  .tco-card-image-container {
    margin-bottom: $spacing-stack-12;
    padding-top: $spacing-stack-8;

    @include wider-than($breakpoint-phone-landscape) {
      padding-top: $spacing-stack-2;
    }
  }

  .tco-card-image {
    width: $icon-size;
    height: $icon-size;
    transform: translate(0, 0);

    @include wider-than($breakpoint-phone-landscape) {
      width: $icon-size-large;
      height: $icon-size-large;
    }
  }

  .tco-card-content {
    &-container {
      padding: 0;

      @include wider-than($breakpoint-phone-landscape) {
        padding-left: $spacing-inline-24;
      }
    }

    &-heading {
      @include type-display-small;
      margin-bottom: $spacing-stack-4;
    }

    &-link {
      @include type-link-cta($font-color: $color-classic-blue);
      display: inline-block;

      .tco-lights-out & {
        border-bottom-color: transparent;
        color: $color-dark-theme-blue;
      }
    }
  }

  &.tco-card--callout-grid {
    padding: 0 $spacing-inline-16 $spacing-stack-16;
    box-shadow: none;

    .tco-card-link {
      padding: 0;
    }

    .tco-card-content-heading {
      @include type-body-large;
      display: block;
      color: $color-classic-navy;

      .tco-lights-out & {
        color: $color-foreground-on-tint;
      }
    }

    .tco-card-content-description {
      @include type-body-small;
    }

    .tco-card-content-link {
      margin-top: $spacing-stack-24;
      font-size: $font-size-18;
    }

    .tco-card-content-container {
      @include wider-than($breakpoint-phone-landscape) {
        max-width: 450px;
        padding-left: $spacing-inline-40;
      }
    }

    .tco-card-image-container {
      @include wider-than($breakpoint-phone-landscape) {
        padding-top: $spacing-stack-24;
      }
    }
  }
}

// ========================================================
// = JOB CARD
// ========================================================
.tco-card--job {
  max-width: none;
  min-height: 0;
  transition: transform 0.6s ease-out;
  transform: scale(1);

  &:not(.tco-card--job-deluxe-preview) {
    &:hover,
    &:focus {
      transform: scale(1.03);

      .tco-card-link {
        .tco-card-content-heading {
          border-bottom-color: transparent;
        }
      }

      .tco-btn {
        background-color: $color-hover;
        color: $color-foreground-on-tint;
      }
    }
  }

  .tco-lights-out & {
    &:not(.tco-card--job-deluxe):not(.tco-card--job-deluxe-preview) {
      &:hover,
      &:focus {
        .tco-btn--secondary {
          border-color: $color-hover;
        }

        .tco-card-content-container .tco-card-content-heading {
          border-bottom-color: transparent;
        }
      }
    }
  }

  .tco-card-link {
    display: flex;
    flex-flow: row wrap;
    padding: $spacing-stack-24 $spacing-inline-24 $spacing-stack-32;

    @include wider-than($breakpoint-phone-landscape) {
      align-items: center;
      justify-content: space-between;
      padding: $spacing-stack-50 $spacing-inline-32;
    }
  }

  .tco-card-content {
    &-container {
      width: 100%;
      padding: 0;

      @include wider-than($breakpoint-phone-landscape) {
        width: auto;
      }
    }

    &-container:first-of-type {
      padding-bottom: $spacing-stack-24;

      @include wider-than($breakpoint-phone-landscape) {
        padding-bottom: 0;
      }
    }

    &-heading {
      @include type-body-large;
      margin-bottom: $spacing-stack-12;
    }

    &-location {
      @include type-body-small;
      display: block;
    }
  }

  &.tco-card--job-deluxe,
  &.tco-card--job-deluxe-preview {
    .tco-card-content-heading {
      @include type-display-small;
    }
  }

  &.tco-card--job-deluxe {
    .tco-card-content-container {
      &:first-of-type {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 0;

        @include wider-than($breakpoint-tablet-portrait) {
          flex: 1 1 100%;
          max-width: $job-content-max;
          padding-right: $spacing-inline-64;
        }
      }

      &:last-of-type {
        @include wider-than($breakpoint-tablet-portrait) {
          display: flex;
          flex: 1 0 auto;
          flex-flow: column nowrap;
        }
      }
    }

    .tco-card-content-heading {
      display: block;
      order: 0;
      margin-bottom: $spacing-stack-16;
    }

    .tco-deluxe-description {
      order: 2;
      margin: 0;

      @include wider-than($breakpoint-tablet-portrait) {
        order: 1;
        margin-bottom: $spacing-stack-16;
      }
    }

    .tco-icon-set {
      order: 1;

      @include wider-than($breakpoint-tablet-portrait) {
        order: 2;
      }
    }

    .tco-icon-meta {
      @include wider-than($breakpoint-tablet-portrait) {
        margin-bottom: 0;
      }
    }

    .tco-card-link {
      padding: $spacing-stack-32 $spacing-inline-32;

      @include wider-than($breakpoint-tablet-portrait) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
      }

      @include wider-than($breakpoint-laptop) {
        padding: $spacing-stack-48 $spacing-inline-48;
      }

      .tco-icon {
        transform: translate(0, 0);
      }

      .tco-icon--job-cta {
        display: none;

        @include wider-than($breakpoint-tablet-portrait) {
          position: absolute;
          top: 50%;
          right: 48px;
          display: block;
          width: 21px;
          height: 42px;
          fill: $color-classic-blue;
          transform: translateY(-50%);
        }
      }

      &:hover {
        .tco-card-content-heading {
          border-bottom-color: transparent;
        }
      }

      &::after {
        content: '';
      }
    }

    .tco-btn {
      margin-top: $spacing-stack-24;

      @include wider-than($breakpoint-tablet-portrait) {
        display: none;
      }
    }

    .tco-btn--primary {
      margin-right: $spacing-inline-24;

      @include wider-than($breakpoint-tablet-portrait) {
        margin: 0 0 $spacing-stack-20;
      }
    }
  }

  &.tco-card--job-deluxe-preview {
    .tco-card-content-container {
      &:first-of-type {
        padding-bottom: 0;
      }
    }

    .tco-card-content-heading {
      display: block;
      margin-bottom: $spacing-stack-16;
    }

    .tco-deluxe-description {
      margin: 0;
    }

    .tco-card-link {
      padding: $spacing-stack-32 $spacing-inline-32;

      @include wider-than($breakpoint-tablet-portrait) {
        padding: $spacing-stack-48 $spacing-inline-32;
      }

      .tco-icon {
        transform: translate(0, 0);
      }

      &:hover {
        .tco-card-content-heading {
          border-bottom-color: transparent;
        }
      }
    }

    .tco-btn {
      margin-top: $spacing-stack-24;
    }
  }
}

// ========================================================
// = MEDIA CARD
// ========================================================
.tco-card--media {
  .tco-card-content-heading {
    color: $color-classic-gray-dark;

    .tco-lights-out & {
      border-bottom-color: transparent;
      color: $color-foreground-on-tint;
    }
  }

  &.tco-card--media-side {
    max-width: 568px;
    // box-shadow: $box-shadow-default;

    &:not([class*='tco-card-container--shadow']) {
      box-shadow: $box-shadow-default;
    }

    @include wider-than($breakpoint-phone-landscape) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding: $spacing-stack-40 $spacing-inline-16;
    }

    .tco-card-content-container {
      padding: $spacing-stack-24 $spacing-inline-20 $spacing-stack-32;

      @include wider-than($breakpoint-phone-landscape) {
        width: 56%;
        padding: 0;
        text-align: left;
      }
    }

    .tco-card-content-heading {
      @include type-body-large;
    }

    .tco-card-image-container {
      display: block;
      height: auto;

      @include wider-than($breakpoint-phone-landscape) {
        flex: 0 1 46%;
        height: auto;
        padding: 0 $spacing-inline-24 0 0;
      }
    }

    &.tco-card--no-link {
      .tco-lights-out & {
        &.tco-card-container--shadow {
          box-shadow: $box-shadow-dark;
        }

        &.tco-card-container--flat {
          @include card-container-flat;
        }
      }
    }
  }
}

// fixes vertical stretching in safari
.tco-card--summary,
.tco-card--media {
  .tco-card--no-link {
    &:hover {
      .tco-card-content-heading {
        border-bottom-color: transparent;
      }
    }
  }
}

.tco-card--summary:not(.tco-card--media) {
  .tco-card--no-link {
    .tco-card-image-container--summary {
      align-items: flex-start;
    }
  }
}

// ========================================================
// = Work CARD
// ========================================================
$card-break: 940px;

.tco-card--work {
  max-width: none;
  min-height: 0;
  padding: 0;
  border-radius: 16px;

  @include wider-than($card-break) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .tco-card-content-container {
    display: flex;
    flex-flow: column nowrap;
    gap: $spacing-stack-16;
    justify-content: center;
    width: 100%;
    padding: $spacing-stack-64 $spacing-inline-40 0;

    @include wider-than($breakpoint-phone-landscape) {
      padding-bottom: $spacing-stack-40;
    }

    @include wider-than($card-break) {
      width: 50%;
      padding: $spacing-stack-20 $spacing-inline-8 $spacing-stack-20 $spacing-inline-40;
    }
  }

  .tco-text-link--big-arrow {
    margin-top: $spacing-stack-24;
    color: $color-classic-blue;
  }

  &-title,
  &-body {
    margin-bottom: 0;
  }

  &-body {
    font-weight: $font-weight-500;
    font-variation-settings: 'wght' $font-weight-500;
  }
}


// ========================================================
// = Text CARD
// ========================================================
.tco-card--text {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacing-stack-40;
  justify-content: space-between;
  min-height: 0;
  padding: $spacing-stack-16 $spacing-inline-20;
  border: 1.5px solid $color-classic-blue;
  border-radius: $border-radius-large;
  text-decoration: none;

  @include wider-than($breakpoint-tablet-portrait) {
    padding: $spacing-stack-24 $spacing-inline-32;
    aspect-ratio: 1 / 1;
  }

  &:hover,
  &:focus {
    border-bottom-color: inherit;

    .tco-card--text-icon {
      transform: translateX(10px);
    }
  }

  &-title {
    line-height: 1.25;
  }

  &-icon {
    width: 40px;
    fill: $color-classic-blue;
    transition: transform 0.4s ease;
    transform: translateX(0);

    .tco-lights-out & {
      fill: $color-dark-theme-blue;
    }
  }

  .tco-lights-out & {
    &:hover,
    &:focus {
      border-bottom-color: $color-dark-theme-blue;
    }
  }
}
