$offset: $spacing-stack-50;
$offset-xl: 140px;

.tco-container-wrapper--image-only {
  padding: 0;
}

.tco-image-only {
  position: relative;
  z-index: 1;

  &-image {
    margin: 0 auto;
  }

  &--offset-top,
  &--offset-top-xl {
    .tco-image-only-image {
      margin-top: -$offset;
    }
  }

  @include wider-than($breakpoint-desktop) {
    &--offset-top-xl {
      .tco-image-only-image {
        margin-top: -$offset-xl;
      }
    }
  }

  &--offset-bottom {
    .tco-image-only-image {
      transform: translateY($offset);
    }
  }
}
