/* stylelint-disable selector-max-class, selector-max-combinators, selector-max-compound-selectors, max-line-length, max-nesting-depth, selector-max-specificity */
$container-max: 1168px;

.tco-site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: $spacing-stack-12 $spacing-inline-24;
  background-color: transparent;

  @include wider-than($breakpoint-laptop) {
    padding: $spacing-stack-16 $spacing-inline-24;
  }

  &-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: $container-max;
    margin: 0 auto;

    @include wider-than($breakpoint-laptop) {
      flex-flow: row nowrap;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &-logo {
    @include type-not-link;
    @include logo-animation;
    z-index: 3;
    display: inline-block;

    svg {
      display: block;
      width: 97px;
      height: 32px;

      @include wider-than($breakpoint-phone-landscape) {
        width: 151px;
        height: 50px;
      }
    }
  }

  &-toggle {
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 3;
    display: block;
    padding: $spacing-stack-8 $spacing-inline-4;
    border-width: 0;
    background: transparent;
    cursor: pointer;

    @include wider-than($breakpoint-laptop) {
      top: 9px;
    }

    &-icon {
      display: block;
      width: 22px;
      height: 14px;
      fill: $color-classic-blue;

      &--close {
        display: none;
      }
    }

    &:focus {
      outline: 1px solid $color-classic-navy;
    }

    &--open {
      .tco-site-header-toggle-icon {
        display: none;
        fill: $color-foreground-on-tint;

        &--close {
          display: block;
        }
      }

      &:focus {
        outline: 1px solid $color-foreground-on-tint;
      }
    }
  }
}

.tco-site-nav {
  @include nav-animation;

  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    overflow-y: hidden;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    padding: $spacing-stack-120 $spacing-inline-24 $spacing-stack-50;
    background-color: $color-classic-navy;

    @include wider-than($breakpoint-tablet-portrait) {
      padding-top: $spacing-stack-150;
    }
  }

  &-container {
    width: 100%;
    max-width: $container-max;
    margin: 0 auto;
    color: $color-foreground-on-tint;

    @include wider-than($breakpoint-tablet-portrait) {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
    }
  }

  &-menu--primary {
    position: relative;
    z-index: 1;
    display: none;
    grid-area: primary;
    margin-bottom: $spacing-stack-20;

    // .tco-site-nav-link {
    //   display: inline-block;
    //   margin-bottom: $spacing-stack-20;
    //   padding-bottom: 0;
    // }

    &.tco-site-nav-menu--primary-clone {
      position: absolute;
      top: 9px;
      right: 0;
      display: none;
      justify-content: flex-end;
      width: auto;
      visibility: hidden;
    }

    @include wider-than($breakpoint-tablet-portrait) {
      flex-wrap: wrap;
      width: 66.6%;

      .tco-site-nav-menu-item {
        width: 50%;
      }
    }

    @include wider-than($breakpoint-laptop) {
      display: flex;
      width: 100%;
      margin-right: $spacing-inline-50;
      margin-bottom: 0;

      .tco-site-nav-menu-item {
        width: auto;
      }

      .tco-site-nav-link {
        margin-bottom: 0;
      }
    }

    .tco-site-nav-link {
      @include type-link;
      @include type-display-medium;
      @include wider-than($breakpoint-desktop) {
        @include type-eyebrow(
          $font-color: $color-classic-gray-dark,
          $font-size: $font-size-18
        );
      }
      display: block;
      margin-bottom: $spacing-stack-20;
      padding: $spacing-stack-4 $spacing-inline-2 $spacing-stack-12;
      border-bottom-width: 2px;
      line-height: 1;
      transition: all 0.25s ease-in;

      &:hover,
      &:focus,
      .current-menu-item & {
        border-bottom-color: $color-classic-blue;
        color: $color-classic-blue;
      }

      @include wider-than($breakpoint-laptop) {
        margin-right: $spacing-inline-50;
        margin-bottom: 0;
      }
    }
  }

  &-menu--secondary {
    &:first-of-type {
      margin-bottom: $spacing-stack-40;

      @include wider-than($breakpoint-tablet-portrait) {
        margin-bottom: $spacing-stack-76;
      }
    }

    .tco-site-nav-menu-item {
      margin-bottom: $spacing-stack-8;

      @include wider-than($breakpoint-tablet-portrait) {
        margin-bottom: $spacing-stack-20;
      }
    }

    .tco-site-nav-link {
      @include type-link($underline: $color-foreground-on-tint);
      @include type-body-medium;
      text-transform: initial;
    }
  }

  &--open {
    .tco-site-nav-menu--primary {
      display: block;

      @include wider-than($breakpoint-tablet-portrait) {
        display: flex;
      }

      @include wider-than($breakpoint-laptop) {
        &:not(.tco-site-nav-menu--primary-clone) {
          width: 66.6%;
        }

        .tco-site-nav-menu-item {
          width: 50%;
        }

        .tco-site-nav-link {
          display: inline-block;
        }
      }

      &.tco-site-nav-menu--primary-clone {
        @include wider-than($breakpoint-laptop) {
          display: flex;
          flex-wrap: nowrap;
          visibility: visible;
        }

        .tco-site-nav-menu-item {
          width: auto;
        }

        .tco-site-nav-link {
          @include type-eyebrow(
            $font-color: $color-classic-gray-dark,
            $font-size: $font-size-18
          );
          display: block;
          padding: $spacing-stack-4 $spacing-inline-2 $spacing-stack-12;
          border-bottom-width: 2px;

          &:hover,
          &:focus,
          .current-menu-item & {
            border-bottom-color: $color-classic-blue;
            color: $color-classic-blue;
          }

          @include wider-than($breakpoint-laptop) {
            margin-right: $spacing-inline-50;
          }
        }
      }

      .tco-site-nav-link {
        @include type-display-medium;
        text-transform: initial;

        &:hover,
        &:focus {
          border-bottom-color: $color-foreground-on-tint;
          color: $color-foreground-on-tint;
        }
      }
    }

    .tco-site-nav-link {
      color: $color-foreground-on-tint;
    }

    .tco-site-nav-menu-group {
      opacity: 1;
    }
  }

  &-menu-group {
    opacity: 0;

    @include wider-than($breakpoint-tablet-portrait) {
      padding-top: $spacing-stack-16;
    }
  }

  .tco-type-eyebrow {
    display: block;
    margin-bottom: $spacing-stack-20;
  }
}
