$container-max: 1168px;

.tco-site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-overlay;
  width: 100%;
  padding: $spacing-stack-12 $spacing-inline-24;
  background-color: transparent;

  @include wider-than($breakpoint-laptop) {
    padding: $spacing-stack-16 $spacing-inline-24;
  }

  &-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: $container-max;
    margin: 0 auto;

    @include wider-than($breakpoint-laptop) {
      flex-flow: row nowrap;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &-logo {
    @include type-not-link;
    display: inline-block;

    svg {
      display: block;
      width: 97px;
      height: 32px;

      @include wider-than($breakpoint-laptop) {
        width: 151px;
        height: 50px;
      }
    }
  }

  &-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    padding: $spacing-stack-8 $spacing-inline-4;
    border-width: 0;
    background: transparent;
    cursor: pointer;
    transform: translateY(-50%);

    &-icon {
      display: block;
      width: 22px;
      height: 14px;
      fill: $color-classic-blue;
    }
  }
}

.tco-menu-site-nav {
  display: none;

  @include wider-than($breakpoint-laptop) {
    display: flex;
    margin-bottom: $spacing-stack-2;
    padding-right: 30px;
  }

  // .tco-menu-site-nav--open + & {
  //   @include spacing-squish-32-64;
  //
  //   @include wider-than($breakpoint-phone-landscape) {
  //     top: 84px;
  //   }
  //
  //   @include wider-than($breakpoint-xl) {
  //     position: static;
  //     display: flex;
  //     padding: 0;
  //     background: none;
  //   }
  //   position: fixed;
  //   top: 66px;
  //   left: 0;
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background: $color-tint-blue-tertiary;
  // }
}

.tco-menu-site-nav-item {
  @include wider-than($breakpoint-laptop) {
    margin-right: $spacing-inline-50;
  }
}

.tco-menu-site-nav-link {
  @include type-link;
  @include type-eyebrow(
    $font-color: $color-classic-gray-dark,
    $font-size: $font-size-18
  );
  display: block;
  padding: $spacing-stack-4 $spacing-inline-2 $spacing-stack-12;
  border-bottom-width: 2px;
  line-height: 1;

  &:hover,
  &:focus,
  .current-menu-item & {
    border-bottom-color: $color-classic-blue;
    color: $color-classic-blue;
  }
}

.menu-item-has-children {
  // Wordpress automated class
  .tco-menu-site-nav-link {
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 24px;
      margin-left: $spacing-inline-8;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' id='icon-chevron-down' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.293 5.293a1 1 0 011.32-.083l.094.083L12 15.585 22.293 5.293a1 1 0 011.32-.083l.094.083a1 1 0 01.083 1.32l-.083.094-11 11a1 1 0 01-1.32.083l-.094-.083-11-11a1 1 0 010-1.414z' /%3E%3C/svg%3E");
      background-position: center;
      background-size: 12px;
      background-repeat: no-repeat;
    }
  }
}

.tco-menu-site-nav-submenu-link {
  margin: 0;
  padding: $spacing-stack-16 $spacing-stack-8;
  border-bottom: 1px solid $color-foreground-quanternary;

  .tco-menu-site-nav-submenu-item:last-of-type & {
    border-bottom: 0;
  }
}

.tco-menu-site-nav-submenu {
  @include list-plain;
  display: none;
}

.menu-item-has-children > a {
  @include wider-than($breakpoint-xl) {
    &:hover,
    &:focus {
      + .tco-menu-site-nav-submenu {
        position: absolute;
        top: 100%; // height of arrow on submenu
        left: 50%;
        // Wordpress automated class
        display: block;
        min-width: 250px;
        margin-left: -125px;
        padding: 0 $spacing-inline-12;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: $color-foreground-on-tint;
        box-shadow: inset 0 5px 10px 0 rgba(75, 75, 75, 0.05);
      }
    }
  }
}
