$max-width: 478px;
$search-w: 20px;
$search-h: 20px;

.tco-global-search {
  position: absolute;
  top: -34px;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: $container-max;
  margin: 0 auto;

  @include wider-than($container-max) {
    padding: 0;
  }

  @include wider-than($breakpoint-phone-landscape) {
    top: -12px;
  }

  @include wider-than($breakpoint-tablet-portrait) {
    top: -42px;
  }

  @include wider-than($breakpoint-laptop) {
    top: 57px;
    right: -28px;
    left: auto;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-out, visibility 0.15s ease-out;
  }

  &.tco-global-search--open {
    opacity: 1;
    visibility: visible;
  }

  // magnifying glass in search input
  .tco-form-row--search-row {
    .tco-form-input::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      right: 1px;
      display: block;
      width: $search-w;
      height: $search-h;
      background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.6 10.8a7.8 7.8 0 1 1-15.6 0 7.8 7.8 0 0 1 15.6 0Zm-1.408 8.706c-1.79 1.316-4 2.094-6.392 2.094C4.835 21.6 0 16.765 0 10.8 0 4.835 4.835 0 10.8 0c5.965 0 10.8 4.835 10.8 10.8 0 2.49-.843 4.785-2.26 6.612l7.467 7.467L24.686 27l-7.494-7.494Z' fill='%23ffffff'/%3E%3C/svg%3E");
      background-size: cover;
      opacity: 1;

      @include wider-than($max-width) {
        top: -2px;
        right: 3px;
      }

      @include wider-than($breakpoint-laptop) {
        top: 0;
        right: 28px;
        width: $search-w + 4px;
        height: $search-h + 4px;
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.6 10.8a7.8 7.8 0 1 1-15.6 0 7.8 7.8 0 0 1 15.6 0Zm-1.408 8.706c-1.79 1.316-4 2.094-6.392 2.094C4.835 21.6 0 16.765 0 10.8 0 4.835 4.835 0 10.8 0c5.965 0 10.8 4.835 10.8 10.8 0 2.49-.843 4.785-2.26 6.612l7.467 7.467L24.686 27l-7.494-7.494Z' fill='%230062C3'/%3E%3C/svg%3E");
      }

      .tco-lights-out & {
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.6 10.8a7.8 7.8 0 1 1-15.6 0 7.8 7.8 0 0 1 15.6 0Zm-1.408 8.706c-1.79 1.316-4 2.094-6.392 2.094C4.835 21.6 0 16.765 0 10.8 0 4.835 4.835 0 10.8 0c5.965 0 10.8 4.835 10.8 10.8 0 2.49-.843 4.785-2.26 6.612l7.467 7.467L24.686 27l-7.494-7.494Z' fill='%23ffffff'/%3E%3C/svg%3E");
      }
    }
  }
}

.tco-search-form--global {
  width: 100%;
  max-width: $max-width;

  @include wider-than($breakpoint-laptop) {
    transition: transform 0.2s ease-out;
    transform: translateY(-2px);
  }

  .tco-global-search--open & {
    transform: translateY(0);
  }

  .tco-form-row--search-row {
    position: relative;
  }

  .tco-form-input {
    padding: $spacing-stack-2 $spacing-inline-24 $spacing-stack-2 $spacing-inline-2;
    border-bottom: 3px solid $color-foreground-on-tint;
    background-color: transparent;
    color: $color-foreground-on-tint;
    transition: padding 0.1s linear;

    .tco-lights-out & {
      border-bottom-color: $color-foreground-on-tint;

      @include wider-than($breakpoint-laptop) {
        color: $color-foreground-on-tint;
      }
    }

    @include wider-than($breakpoint-laptop) {
      padding: $spacing-stack-2 $spacing-inline-24;
      border-bottom: 3px solid $color-classic-navy;
      color: $color-classic-navy;
      font-size: $font-size-20;
    }
  }
}

// open search button
.tco-site-header-toggle--search {
  top: -4px;
  right: -3px;
  z-index: 2;
  display: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-out 0.1s, visibility 0.2s ease-out 0.1s;

  &-hide {
    opacity: 0;
    visibility: hidden;
  }

  @include wider-than($breakpoint-laptop) {
    display: block;
  }

  svg {
    width: $search-w;
    height: $search-h;
    fill: $color-classic-blue;

    @include wider-than($breakpoint-laptop) {
      width: $search-w + 2px;
      height: $search-h + 2px;
    }

    .tco-lights-out & {
      fill: $color-foreground-on-tint;
    }
  }

  .tco-global-search--open & {
    top: 62px;
  }
}

// close search button
.tco-search-close {
  top: -44px;
  right: 26px;
  display: none;
  padding: $spacing-stack-8 $spacing-inline-4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in 0.1s, visibility 0.2s ease-in 0.1s;

  svg {
    width: $search-w;
    height: $search-h;
    fill: $color-classic-blue;

    .tco-lights-out & {
      fill: $color-foreground-on-tint;
    }
  }

  @include wider-than($breakpoint-phone-landscape) {
    top: -62px;
  }

  @include wider-than($breakpoint-laptop) {
    display: block;
  }

  .tco-global-search--open & {
    opacity: 1;
    visibility: visible;
  }
}
