<div class="tco-site-header" role="banner">
  <div class="tco-site-header-wrapper">
    <a class="tco-site-header-logo" href="//localhost:3000/">
      <span class="accessibly-hidden"><span>Think</span> Company</span>
    </a>
    <nav>
      <button data-mobile-menu-button="" class="btn tco-site-header-nav-toggle">
        <svg
          class="tco-site-header-nav-toggle-icon"
          viewBox="0 0 36 36"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title data-mobile-menu-title="">Open Mobile Navigation</title>
          <path class="tco-hamburger-line-1" d="M10.5 10l17 0"></path>
          <path class="tco-hamburger-line-2" d="M10.5 17l17 0"></path>
          <path class="tco-hamburger-line-3" d="M10.5 24l17 0"></path>
          <path class="tco-hamburger-line-4" d="M19 8.5l0 17"></path>
        </svg>
      </button>
      <ul class="tco-menu-site-nav">
        <li id="menu-item-5730" class="tco-menu-site-nav-item current-menu-item">
          <a class="tco-menu-site-nav-link" href="//localhost:3000/about/">
            Who We Are
          </a>
        </li>
        <li
          id="menu-item-10396"
          class="tco-menu-site-nav-item menu-item-has-children"
        >
          <a class="tco-menu-site-nav-link">What We Do</a>
          <ul class="tco-menu-site-nav-submenu">
            <li id="menu-item-10395" class="tco-menu-site-nav-submenu-item">
              <a class="tco-menu-site-nav-submenu-link" href="//localhost:3000/services/">Our Services</a>
            </li>
            <li id="menu-item-10397" class="tco-menu-site-nav-submenu-item">
              <a class="tco-menu-site-nav-submenu-link" href="//localhost:3000/work/">Our Work</a>
            </li>
          </ul>
        </li>
        <li id="menu-item-5730" class="tco-menu-site-nav-item">
            <a class="tco-menu-site-nav-link" href="//localhost:3000/about/">
              How We Deliver
            </a>
          </li>
        <li id="menu-item-10398" class="tco-menu-site-nav-item">
          <a class="tco-menu-site-nav-link" href="//localhost:3000/events/">Events</a>
        </li>
        <li id="menu-item-5720" class="tco-menu-site-nav-item">
          <a class="tco-menu-site-nav-link" href="//localhost:3000/blog/">Blog</a>
        </li>
        <li id="menu-item-6592" class="tco-menu-site-nav-item">
          <a class="tco-menu-site-nav-link" href="//localhost:3000/careers/">Careers</a>
        </li>
        <li id="menu-item-5719" class="tco-menu-site-nav-item">
          <a class="tco-menu-site-nav-link" href="//localhost:3000/contact/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
