.tco-card--case-study {
  max-width: none;
  border-width: 0 0 1px;
  box-shadow: none;
  transition: background-color 0.2s linear;

  &:nth-last-child(2) {
    border-bottom-width: 0;
  }

  &:hover {
    background-color: $color-think-classic-glass;

    .tco-card-content-heading {
      border-bottom-color: $color-think-classic-think-blue;
    }
  }

  @include wider-than($breakpoint-phone-landscape) {
    &:nth-of-type(odd) {
      border-width: 0 1px 1px 0;
    }
  }

  @include wider-than($breakpoint-tablet-portrait) {
    border-width: 0 1px 1px 0;
  }

  .tco-card-link {
    padding: $spacing-stack-24 0;

    @include wider-than($breakpoint-phone-landscape) {
      padding: $spacing-stack-24 $spacing-inline-16;
    }

    @include wider-than($breakpoint-desktop) {
      padding: $spacing-stack-24 $spacing-inline-32;
    }
  }

  .tco-card-image-container {
    width: calc(100% - #{$spacing-inline-24} * 2);
    margin: 0 auto;

    .tco-card-image {
      @include center-absolute;
      object-fit: contain;
      width: auto;
      height: auto;
    }
  }

  .tco-card-content {
    &-container {
      padding: $spacing-stack-32 0 0;

      @include wider-than($breakpoint-desktop) {
        padding: $spacing-stack-40 0 0;
      }
    }

    &-heading {
      @include type-body-large;
      @include type-link;
      display: inline;
    }

    &-description {
      margin-top: $spacing-stack-8;
    }
  }

  &-cta {
    background-color: $color-think-classic-think-blue;

    &:hover,
    &:focus {
      background-color: $color-think-classic-think-blue;
    }

    .tco-card-link {
      @include type-link-cta(
        $padding-right: $spacing-inline-16,
        $fill: $color-background-primary
      );
      display: flex;
      padding-left: $spacing-inline-16;

      @include wider-than($breakpoint-desktop) {
        padding-right: $spacing-inline-32;
        padding-left: $spacing-inline-32;
      }
    }

    .tco-card-content {
      &-container {
        margin: auto 0;
        padding: 0;
        color: $color-background-primary;
      }

      &-heading {
        margin-bottom: $spacing-stack-24;
        color: $color-background-primary;
      }

      &-description {
        margin-top: $spacing-stack-24;
      }
    }
  }
}
