$max-width-lede: 780px;
$max-width-mobile: 524px;

.tco-text-media {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;

  @include wider-than($breakpoint-tablet-portrait) {
    align-items: center;
  }

  &-content {
    width: 100%;

    &-text {
      order: 1;

      &--right {
        text-align: right;
      }

      &--center {
        text-align: center;
      }
    }

    &-media {
      position: relative;
      display: flex;
      order: 0;
      max-width: $max-width-mobile;
      margin-bottom: $spacing-stack-32;

      @include wider-than($breakpoint-tablet-portrait) {
        justify-content: center;
      }
    }
  }

  &--align-center {
    justify-content: center;
    text-align: center;

    .tco-text-media-content-text {
      max-width: $max-width-lede;
      margin: 0 auto;
    }

    .tco-text-media-content-media {
      justify-content: center;
    }
  }

  &--align-left,
  &--align-right {
    @include wider-than($breakpoint-tablet-portrait) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .tco-text-media-content {
      @include wider-than($breakpoint-tablet-portrait) {
        flex: 0 auto;
        width: calc(50% - #{$spacing-inline-24});

        &-media {
          margin: 0;
        }
      }
    }
  }

  &--align-left {
    @include wider-than($breakpoint-tablet-portrait) {
      padding-left: $spacing-inline-24;
    }
  }

  &--align-right {
    @include wider-than($breakpoint-tablet-portrait) {
      padding-right: $spacing-inline-24;

      .tco-text-media-content {
        &-text {
          order: 0;
        }

        &-media {
          order: 1;
        }
      }
    }
  }

  &-content-media--background {
    &.tco-text-media-content-media--tall {
      width: calc(100% - #{$spacing-inline-60});
      margin-left: $spacing-inline-30;

      @include wider-than($breakpoint-tablet-portrait) {
        margin-left: 0;
      }

      .tco-text-media--align-center & {
        margin-left: 0;
      }
    }
  }

  &-container {
    width: 100%;

    &::before {
      content: '';
      z-index: 0;
      display: block;
      width: calc(100% - #{$spacing-inline-12});
      height: 0;
      margin: auto;
      padding-bottom: calc(100% - #{$spacing-inline-12});
      border-radius: 50%;
      background-color: $color-background-primary;
    }

    .tco-text-media-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--tall {
      position: relative;
      width: auto;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + #{$spacing-inline-60});
        padding-bottom: calc(100% + #{$spacing-stack-60});
        transform: translate(-50%, -50%);

        @include wider-than($breakpoint-desktop) {
          width: calc(100% + #{$spacing-inline-120});
          padding-bottom: calc(100% + #{$spacing-stack-120});
        }
      }

      .tco-text-media-image {
        position: initial;
        top: auto;
        left: auto;
        transform: translate(0, 0);
      }
    }
  }

  &--page-header {
    padding: 0;

    .tco-text-media-content {
      &-text {
        order: 0;
        margin-bottom: $spacing-stack-50;
        padding: 0 $spacing-inline-24;

        @include wider-than($breakpoint-tablet-portrait) {
          margin-bottom: 0;
          padding: 0;
        }
      }

      &-media {
        order: 1;
        max-width: none;
        margin: 0;
      }
    }

    @include wider-than($breakpoint-tablet-portrait) {
      .tco-text-media--align-left,
      .tco-text-media--align-right {
        align-items: flex-start;

        .tco-text-media-content-text {
          width: calc(68% - #{$spacing-inline-50});
        }

        .tco-text-media-content-media {
          width: 32%;
        }
      }
    }
  }

  &-cta {
    display: inline-block;
    margin-top: $spacing-stack-24;
  }

  &-eyebrow {
    @include type-eyebrow;
    display: block;
    margin-bottom: $spacing-stack-12;
  }

  &-heading {
    margin-bottom: $spacing-stack-12;
  }

  &-lede {
    @include type-body-default;
    margin: 0 auto $spacing-stack-32;
  }
}

.tco-background-blob {
  position: relative;
  display: inline-block;
  width: $spacing-stack-36;
  height: $spacing-stack-36;
  margin-bottom: $spacing-stack-12;
  color: $color-background-primary;
  font-size: $font-size-18;
  text-align: center;

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
}
