$max-width-lede: 780px;
$max-width-mobile: 524px;
$bubble-max: 600px;

.tco-text-media {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;

  @include wider-than($breakpoint-tablet-portrait) {
    align-items: center;
  }

  &-content {
    width: 100%;

    &-text {
      order: 1;

      &--right {
        text-align: right;
      }

      &--center {
        text-align: center;
      }
    }

    &-media {
      position: relative;
      display: flex;
      order: 0;
      max-width: $max-width-mobile;
      margin-bottom: $spacing-stack-32;

      @include wider-than($breakpoint-tablet-portrait) {
        justify-content: center;
      }
    }
  }

  &--align-center {
    justify-content: center;
    text-align: center;

    .tco-text-media-content-text {
      max-width: $max-width-lede;
      margin: 0 auto;
    }

    .tco-text-media-content-media {
      justify-content: center;
    }
  }

  &--align-left,
  &--align-right {
    @include wider-than($breakpoint-tablet-portrait) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .tco-text-media-content {
      @include wider-than($breakpoint-tablet-portrait) {
        flex: 0 auto;
        width: calc(50% - #{$spacing-inline-24});

        &-media {
          margin: 0;
        }
      }
    }
  }

  &--align-left {
    @include wider-than($breakpoint-tablet-portrait) {
      padding-left: $spacing-inline-24;
    }
  }

  &--align-right {
    @include wider-than($breakpoint-tablet-portrait) {
      padding-right: $spacing-inline-24;

      .tco-text-media-content {
        &-text {
          order: 0;
        }

        &-media {
          order: 1;
        }
      }
    }
  }

  &-content-media--background {
    &.tco-text-media-content-media--tall {
      width: calc(100% - #{$spacing-inline-60});
      margin-left: $spacing-inline-30;

      @include wider-than($breakpoint-tablet-portrait) {
        margin-left: 0;
      }

      .tco-text-media--align-center & {
        margin-left: 0;
      }
    }
  }

  &-container {
    width: 100%;

    &::before {
      @include pseudo-bubble;
      z-index: 0;
      width: calc(100% - #{$spacing-inline-12});
      height: 0;
      margin: auto;
      padding-bottom: calc(100% - #{$spacing-inline-12});
    }

    .tco-text-media-image {
      @include center-absolute;
    }

    &--tall {
      position: relative;
      width: auto;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + #{$spacing-inline-60});
        padding-bottom: calc(100% + #{$spacing-stack-60});
        transform: translate(-50%, -50%);

        @include wider-than($breakpoint-desktop) {
          width: calc(100% + #{$spacing-inline-120});
          padding-bottom: calc(100% + #{$spacing-stack-120});
        }
      }

      .tco-text-media-image {
        @include center-reset;
      }
    }
  }

  &--page-header {
    position: relative;
    z-index: 1;
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 0;

    &::-webkit-scrollbar {
      width: 0;
    }

    .tco-text-media {
      overflow: initial;
    }

    .tco-text-media-content {
      &-text {
        order: 0;
        margin-bottom: $spacing-stack-50;
        padding: 0 $spacing-inline-24;

        @include wider-than($breakpoint-tablet-portrait) {
          margin-bottom: 0;
          padding: 0;
        }
      }

      &-media {
        order: 1;
        max-width: none;
        margin: 0;
      }
    }

    .tco-text-media-container {
      position: relative;

      &::before {
        @include center-absolute;
        z-index: -1;
        width: $bubble-max;
        height: $bubble-max;
        padding: 0;
        background-color: $color-tint-blue-tertiary;
        transform: translate(-28%, -50%);

        @include wider-than($breakpoint-tablet-portrait) {
          width: 164%;
          height: 0;
          padding-bottom: 164%;
        }
      }

      .tco-text-media-image {
        @include center-reset;
      }
    }

    &.tco-container-wrapper--glass {
      .tco-text-media-container::before {
        background-color: $color-background-primary;
      }
    }

    .tco-image-only {
      margin-top: $spacing-stack-50;

      @include wider-than($breakpoint-tablet-portrait) {
        margin-top: $spacing-stack-100;
      }
    }

    @include wider-than($breakpoint-tablet-portrait) {
      .tco-text-media--align-left,
      .tco-text-media--align-right {
        align-items: flex-start;

        .tco-text-media-content-text {
          width: calc(68% - #{$spacing-inline-50});
        }

        .tco-text-media-content-media {
          width: 32%;
        }
      }
    }
  }

  &--image-only {
    padding: 0 $spacing-inline-24;

    .tco-text-media {
      display: grid;
      grid: 'headline headline' auto
        'lede media' auto
        / 60% 40%;
      row-gap: $spacing-stack-24;
      padding: 0;

      @include wider-than($breakpoint-tablet-portrait) {
        grid: 'headline media' auto
          'lede media' auto
          / 74% 26%;
        row-gap: $spacing-stack-36;
      }

      &-lede {
        margin: 0;
      }
    }

    .tco-text-media-content {
      width: 100%;

      &-headline {
        grid-area: headline;

        @include wider-than($breakpoint-tablet-portrait) {
          align-self: end;
          padding-right: $spacing-inline-50;
        }
      }

      &-lede {
        grid-area: lede;
        align-self: center;
        margin: 0;
        padding-right: $spacing-inline-24;

        @include wider-than($breakpoint-tablet-portrait) {
          align-self: start;
          padding-right: $spacing-inline-50;
        }
      }

      &-media {
        grid-area: media;
        max-width: 140px;
        padding: 0 $spacing-stack-50 / 4;

        @include wider-than($breakpoint-tablet-portrait) {
          width: 100%;
          max-width: none;
          padding: 0 $spacing-stack-50 / 2;
        }
      }
    }

    [class*='tco-text-media--align-'] {
      .tco-text-media-content-media {
        width: 100%;
      }
    }

    .tco-text-media-container {
      width: calc(100% - (#{$spacing-stack-50} / 2));
      margin: 0 auto;

      @include wider-than($breakpoint-tablet-portrait) {
        width: calc(100% - (#{$spacing-stack-100} / 2));
      }

      &::before {
        @include center-absolute;
        width: calc(100% + #{$spacing-inline-50});
        height: 0;
        padding-bottom: calc(100% + #{$spacing-stack-50});

        @include wider-than($breakpoint-tablet-portrait) {
          width: calc(100% + #{$spacing-inline-100});
          padding-bottom: calc(100% + #{$spacing-stack-100});
        }
      }

      .tco-text-media-image {
        @include center-reset;
        width: 100%;
      }
    }
  }

  &-cta {
    display: inline-block;
    margin-top: $spacing-stack-24;
  }

  &-eyebrow {
    @include type-eyebrow;
    display: block;
    margin-bottom: $spacing-stack-12;
  }

  &-heading {
    margin-bottom: $spacing-stack-12;
  }

  &-lede {
    @include type-body-default;
    margin: 0 auto $spacing-stack-32;
  }
}
