.documentation-color {
  justify-content: space-between;
  padding-top: 0;

  footer {
    margin-top: 0;
  }

  .color-block {
    min-height: 150px;
  }

  .text {
    display: flex;
    justify-content: center;
    font-size: 64px;
    text-align: center;

    span {
      align-self: center;
    }
  }

  .a11y-tag-container {
    white-space: nowrap;
  }

  .a11y-tag {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    background: rgba($documentation-black, 50%);
    color: $documentation-white;
  }
}
