/* stylelint-disable property-blacklist */
.documentation-block {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: $documentation-padding;
  border: 1px solid $documentation-gray;

  footer {
    display: flex;
    flex-flow: column wrap;
    justify-self: flex-end;
    width: 100%;
    margin-top: $documentation-padding;
    padding: $documentation-padding / 2;
    border-top: 1px solid $documentation-gray;
    background: rgba($documentation-white, 0.8);
    font-size: 12px;
    font-family: sans-serif;

    p {
      overflow: auto;
      margin: 0 0 2px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
