/* stylelint-disable property-disallowed-list */

.documentation-block {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: $documentation-padding;
  border: 1px solid $documentation-gray;

  footer,
  .doc-footer {
    display: flex;
    flex-flow: column wrap;
    justify-self: flex-end;
    width: 100%;
    margin-top: $documentation-padding;
    padding: $documentation-padding / 2;
    border-top: 1px solid $documentation-gray;
    background: rgba($documentation-white, 0.8);
    font-size: 12px;
    font-family: sans-serif;

    p {
      overflow: auto;
      margin: 0 0 2px;
      line-height: 1.5;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    strong {
      font-weight: 900;
    }
  }
}

.sbdocs.sbdocs-wrapper {
  .sbdocs-content {
    max-width: 1800px;
  }

  .sbdocs-preview {
    margin-top: 0;
    border-width: 0;
    box-shadow: none;
  }

  .docs-story {
    > div {
      margin: 0;
      padding: 0;
    }

    button {
      opacity: 0;
      visibility: hidden;
    }
  }
}

#story--components-text-only--text-only {
  min-height: 60vh;
}
