@use 'sass:math';
/* stylelint-disable property-disallowed-list */

.documentation-block {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: $documentation-padding;
  border: 1px solid $documentation-gray-2;

  footer,
  .doc-footer {
    display: flex;
    flex-flow: column wrap;
    justify-self: flex-end;
    width: 100%;
    margin-top: $documentation-padding;
    padding: math.div($documentation-padding, 2);
    border-top: 1px solid $documentation-gray-2;
    background: rgba($documentation-gray, 0.8);
    font-size: 12px;
    font-family: sans-serif;

    .tco-lights-out & {
      background: rgba($color-classic-navy, 0.9);
    }

    p {
      overflow: auto;
      margin: 0 0 2px;
      line-height: 1.5;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    strong {
      font-weight: 900;
    }
  }
}

.documentation-typography {
  .type-block--demo p {
    .tco-lights-out & {
      background-color: $color-dark-theme-black;
    }
  }
}

.sbdocs.sbdocs-wrapper {
  .sbdocs-content {
    max-width: 1800px;
    padding: 0 40px 40px 0;
  }

  .sbdocs-preview {
    margin-top: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .docblock-code-toggle {
    border-radius: 0;
  }

  .docs-story {
    > div {
      margin: 0;
      padding: 0;
    }
  }

  .sbdocs-title,
  .sbdocs-subtitle,
  .sbdocs-p,
  .sbdocs-h2,
  .sbdocs-h3,
  [id*='anchor--components-'] {
    margin-left: 40px;

    a[aria-hidden='true'] {
      border-bottom-color: transparent;
    }
  }

  [id*='anchor--components-'] {
    .sbdocs-h2,
    .sbdocs-h3 {
      margin-left: 0;
    }
  }

  .sbdocs-title {
    padding-top: 40px;
  }

  .docblock-argstable {
    width: calc(100% - 40px);
    margin-left: 40px;

    label {
      .tco-lights-out & {
        background-color: #3f3f3f;

        &[title='Change to false'] {
          span:first-of-type {
            color: white;
          }
        }

        &[title='Change to true'] {
          span:last-of-type {
            color: white;
          }
        }

        input[type='radio'] {
          + span {
            background-color: #010d15;
          }
        }
      }
    }

    textarea,
    input[type='number'] {
      .tco-lights-out & {
        background-color: #3f3f3f;
        color: white;
      }
    }
  }

  .docblock-argstable-head {
    button {
      .tco-lights-out & {
        background-color: #010d15;
      }
    }

    svg {
      .tco-lights-out & {
        fill: #89D8FF;
      }
    }
  }

  [title='Zoom in'],
  [title='Zoom out'],
  [title='Reset zoom'] {
    svg path {
      fill: #89D8FF;
    }
  }

  .docblock-code-toggle {
    .tco-lights-out & {
      color: #89D8FF;
    }
  }

  .sbdocs-expandable {
    .tco-lights-out & {
      color: #89D8FF;
    }
  }
}

#story--components-text-only--text-only {
  min-height: 60vh;
}

.tco-storybook-welcome {
  position: relative;
  z-index: 1;
}

.tco-sb-welcome-img {
  display: block;
  position: absolute;
  top: 60%;
  right: -10vw;
  z-index: -1;
  margin: 0;
  width: max(70vw, 1054px);
  aspect-ratio: 1254 / 1294;

  @media (min-width: 900px) {
    top: 26%;
  }

  .tco-lights-out & {
    display: none;
  }
}

.tco-sb-welcome-img--dark {
  display: none;

  .tco-lights-out & {
    display: block;
  }
}

.sbdocs .innerZoomElementWrapper {
  &:has(.tco-storybook-welcome) {
    overflow: hidden;

    > * {
      border-width: 0 !important;
    }
  }
}

.sbdocs.sbdocs-wrapper .sbdocs-content {
  &:has(.tco-storybook-welcome) {
    max-width: none;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.sbdocs.sbdocs-wrapper .sbdocs-preview {
  &:has(.tco-storybook-welcome) {
    margin-bottom: 0;
  }
}

.tco-lights-out .tco-container-wrapper--glass {
  &:has(.tco-storybook-welcome) {
    background-color: #010d15;
  }
}
