@use 'sass:math';
// ========================================================
// = CONTACT FORM
// ========================================================
$max-width-fine-print: 380px;

.tco-contact-form-container {
  position: relative;
  z-index: 2;
  border: 1.5px solid $color-classic-blue;
  border-radius: 8px;
  background-color: $color-foreground-on-tint;

  .tco-lights-out & {
    background-color: $color-dark-theme-black;
  }
}

.tco-contact-form {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $spacing-stack-16 $spacing-inline-16 0;

  @include wider-than($breakpoint-tablet-portrait) {
    padding: $spacing-stack-32 $spacing-inline-32 $spacing-stack-32;
  }

  .tco-form-textarea {
    resize: none;
  }

  .tco-form-row {
    @include wider-than($breakpoint-tablet-portrait) {
      margin-bottom: $spacing-stack-40;
    }
  }

  &--small {
    @include wider-than($breakpoint-tablet-portrait) {
      padding-bottom: $spacing-stack-32;
    }

    .tco-form-row {
      @include wider-than($breakpoint-tablet-portrait) {
        margin-bottom: $spacing-stack-32;
      }

      &.tco-form-row--button {
        margin: $spacing-stack-32 0;
      }
    }

    .tco-contact-form-footer {
      max-width: $max-width-fine-print;
    }
  }

  &--full {
    input,
    textarea {
      padding-top: calc(#{$spacing-stack-20} + #{$spacing-stack-2});
      padding-bottom: calc(#{$spacing-stack-4} + #{$spacing-stack-2});
    }
  }
}

.tco-field-required,
.hs-form-required {
  display: inline-block;
  color: $color-tint-red-primary;
  transform: translate(1px, -3px);

  // .tco-lights-out & {
  //   color: $color-dark-theme-blue;
  // }
}

.tco-contact-form-footer {
  padding: $spacing-stack-16 $spacing-inline-16 $spacing-stack-24;

  @include wider-than($breakpoint-tablet-portrait) {
    padding: $spacing-stack-40 $spacing-inline-32 $spacing-stack-50;
  }
}

.tco-contact-form-footer-text {
  @include type-body-small($size: $font-size-14, $weight: $font-weight-400);
  margin-bottom: $spacing-stack-4;
  color: $color-classic-gray-medium;

  .tco-lights-out & {
    color: $color-foreground-on-tint;

    a {
      border-bottom-color: $color-dark-theme-blue;
      color: $color-dark-theme-blue;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.tco-component {
  .gform_fields {
    padding-left: initial;
    list-style-type: none;
  }

  .gfield {
    ul {
      padding-left: $spacing-inline-4;
      list-style: none;
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.ginput_container {
  .gfield_select {
    color: $color-foreground-tertiary;
  }
}

.gfield {
  &.tco-field--grecaptcha {
    overflow: hidden;
    height: 0;
    margin: 0;
    visibility: hidden;
  }
}

.gfield_checkbox,
.gfield_radio {
  .gchoice {
    margin-bottom: $spacing-stack-12;
  }
}

.tco-floating-form {
  .gfield {
    margin-bottom: $spacing-stack-24;
  }
}

.tco-form--glass {
  .ginput_container {
    > input,
    textarea,
    select {
      background-color: transparent;
    }
  }

  .tco-form-input,
  .tco-form-textarea {
    background-color: transparent;
  }
}
