.documentation-card {
  justify-content: space-between;

  .card-block {
    padding-left: $documentation-padding;
    padding-right: $documentation-padding;
    width: 100%;
  }

  .content {
    display: block;
    height: 100px;
    width: 100%;
  }
}
