/* stylelint-disable property-disallowed-list */
.tco-pull-quote {
  margin: $spacing-stack-32 0;
  padding: $spacing-stack-24 $spacing-inline-20;
  border-width: 1px 0;
  border-style: solid;
  border-color: $color-classic-gray-light;

  @include wider-than($breakpoint-phone-portrait) {
    float: left;
    width: auto;
    max-width: 50%;
    margin-right: $spacing-inline-24;
  }

  @include wider-than($breakpoint-tablet-portrait) {
    margin-top: $spacing-stack-40;
    margin-right: $spacing-stack-50;
    margin-bottom: $spacing-stack-40;
    padding: $spacing-stack-32 $spacing-inline-24;
    border-width: 2px 0;
  }

  &.tco-pull-quote--right {
    @include wider-than($breakpoint-phone-portrait) {
      float: right;
      width: 50%;
      margin-right: 0;
      margin-left: $spacing-inline-24;
    }

    @include wider-than($breakpoint-tablet-portrait) {
      margin-left: $spacing-stack-50;
    }
  }
}

.tco-pull-quote-text {
  @include type-display-small($color-classic-navy, true);
  margin-bottom: 0;

  .tco-pull-quote--alt & {
    color: $color-classic-blue;

    .tco-lights-out & {
      color: $color-dark-theme-blue;
    }
  }

  .tco-lights-out & {
    color: $color-foreground-on-tint;
  }
}

.tco-pull-quote-footer {
  margin-top: $spacing-stack-12;
}

.tco-pull-quote-name {
  @include type-base-style($color-classic-blue, 900);
  @include clamp(
    font-size,
    $breakpoint-phone-portrait,
    $breakpoint-desktop,
    $font-size-16,
    $font-size-20
  );
  font-style: normal;
  font-family: $font-stack-sans-serif-black;
  line-height: 1.3;
  letter-spacing: 3px;
  text-transform: uppercase;

  .tco-pull-quote--alt & {
    color: $color-classic-navy;

    .tco-lights-out & {
      color: $color-foreground-on-tint;
    }
  }

  .tco-lights-out & {
    color: $color-dark-theme-blue;
  }
}

.tco-pull-quote-link {
  letter-spacing: initial;

  .tco-pull-quote--alt & {
    a {
      border-bottom-color: $color-classic-navy;
      color: $color-classic-navy;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.tco-pull-quote--alt {
  .tco-lights-out & {
    a {
      border-color: $color-foreground-on-tint;
      color: $color-foreground-on-tint;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.tco-pull-quote--default {
  .tco-lights-out & {
    a {
      border-color: $color-dark-theme-blue;
      color: $color-dark-theme-blue;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}
