.tco-big-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--item {
    position: relative;
    padding: $spacing-stack-12 calc(#{$spacing-inline-4} + #{$spacing-inline-2}) $spacing-stack-24 $spacing-inline-32;
    border-top: 1px solid $color-classic-blue;
    color: $color-classic-navy;
    counter-increment: item;

    @include wider-than($breakpoint-tablet-portrait) {
      padding-left: $spacing-inline-50;
    }

    &::before {
      content: counter(item, decimal-leading-zero);
      position: absolute;
      top: 30%;
      left: 1px;
      @include type-body-large($lrg20: true, $weight: $font-weight-700, $font-color: $color-classic-blue);

      .tco-lights-out & {
        color: $color-dark-theme-blue;
      }
    }

    .tco-lights-out & {
      border-top-color: $color-dark-theme-blue;
    }
  }

  &--heading {
    margin-bottom: 0;
    color: $color-classic-navy;
    transition: color 0.2s linear;

    .tco-lights-out & {
      color: $color-classic-soft-white;
    }
  }
}
