.tco-site-footer {
  @include type-body-large($color-foreground-on-tint);
  padding: $spacing-stack-64 $spacing-inline-24;
  background-color: $color-background-tertiary;
  text-align: center;
}

.tco-site-footer-content {
  @include wider-than($breakpoint-tablet-portrait) {
    @include spacing-inset-32;
    padding-top: 0;
  }
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: $spacing-stack-32;
  text-align: center;

  p {
    @include wider-than($breakpoint-tablet-portrait) {
      margin-bottom: 0;
    }
    margin-bottom: $spacing-stack-24;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tco-site-footer-social {
  &-icon {
    @include spacing-inset-4;
    @include type-not-link;
    color: $color-foreground-on-tint;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    > svg {
      width: 40px;
      height: 40px;
    }
  }
}

.tco-site-footer-divider {
  @include spacing-inset-32;

  > hr {
    width: 80px;
    margin: 0 auto;
    border: 1px solid $color-tint-blue-primary;
  }
}

.tco-site-footer-copyright {
  @include type-body-medium($color-foreground-on-tint);
  letter-spacing: 2px;
  text-transform: uppercase;

  > p {
    margin-bottom: 0;
  }

  .tco-btn-link {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
