$logo-width: 97px;
$logo-height: 32px;
$menu-max-width: 372px;

.tco-site-footer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-row-gap: $spacing-stack-40;

  @include wider-than($breakpoint-tablet-portrait) {
    grid-template-columns: repeat(3, calc(33.33% - (80px / 3)));
    grid-gap: $spacing-stack-40;
  }

  &-menu {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    grid-row-gap: $spacing-stack-4;
    max-width: $menu-max-width;
  }

  &-content:first-of-type {
    padding-top: $spacing-stack-32;

    @include wider-than($breakpoint-tablet-portrait) {
      padding-top: 0;
    }
  }

  &-content--full {
    padding-top: $spacing-stack-32;
    border-top: 1px solid lighten($color-classic-navy, 6);

    @include wider-than($breakpoint-tablet-portrait) {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 50% 50%;
      grid-column: 1 / span 3;
    }
  }

  &-content-group--icons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: $spacing-stack-16;

    @include wider-than($breakpoint-tablet-portrait) {
      flex-flow: row nowrap;
      margin-bottom: 0;
    }

    .tco-site-footer-logo {
      order: 1;

      @include wider-than($breakpoint-tablet-portrait) {
        order: 0;
        margin-right: $spacing-inline-50;
      }
    }

    .tco-social-icons {
      order: 0;

      @include wider-than($breakpoint-tablet-portrait) {
        order: 1;

        &-list {
          margin-bottom: 0;
        }
      }
    }
  }

  &-content-group--fine-print {
    text-align: center;

    @include wider-than($breakpoint-tablet-portrait) {
      align-self: center;
      text-align: right;
    }

    p {
      @include type-body-xsmall;
    }

    a {
      @include type-link(
        $font-color: $color-foreground-on-tint,
        $showInitial: true
      );

      @include wider-than($breakpoint-phone-portrait) {
        margin-left: $spacing-inline-16;
      }
    }
  }

  &-heading {
    @include type-eyebrow;
    display: block;
    margin-bottom: $spacing-stack-20;
  }

  &-logo {
    width: $logo-width;
    height: $logo-height;
  }

  &-cta {
    @include type-body-large;
    margin-bottom: $spacing-stack-12;

    a {
      @include type-link-cta($fill: $color-foreground-on-tint);
    }
  }

  &-post-meta {
    @include type-body-small;
  }

  .tco-menu-item {
    @include type-body-default;

    &-link {
      @include type-link($font-color: $color-foreground-on-tint);
    }
  }
}
