$color-box-shadow: rgba(0, 0, 0, 0.45);
$floating-form-gutter: 14px;
$floating-form-offset: 25px;
$text-area-height: 40px;
$think-bubble-w: 47px;
$think-bubble-h: 51px;

// ========================================================
// = FLOATING BUTTON
// ========================================================
.tco-floating-btn {
  position: fixed;
  right: $floating-form-offset;
  bottom: $floating-form-offset;
  z-index: 31;
  display: inline-flex;
  align-items: center;
  width: auto;
  padding: 14px;
  border: 0;
  border-radius: 33px;
  background: $color-tint-blue-primary;
  color: $color-foreground-on-tint;
  transition: 0.2s ease-in-out;
  animation: 5s infinite pulse;

  @include wider-than($breakpoint-tablet-portrait) {
    padding: $floating-form-gutter;
    border-radius: 40px;
  }

  &-icon {
    line-height: 0;

    svg {
      width: 24px;
      height: 24px;
    }

    &--close {
      display: none; // Hidden by default
      transform: translateY(2px);
    }
  }

  .tco-floating-modal--show & {
    &-icon--chat {
      display: none;
    }

    &-icon--close {
      display: block;
    }
  }

  &-label {
    @include type-body-small($color-foreground-on-tint);
    display: inline-block;
    margin: 0 $spacing-inline-12;
    letter-spacing: normal;
    text-transform: none;

    &:empty {
      display: none;
    }
  }

  &--collapse {
    .tco-floating-btn-label {
      display: none;
    }
  }
}

// ========================================================
// = FLOATING MODAL
// ========================================================
.tco-floating-modal {
  position: relative;
  z-index: $z-index-modal;
  width: auto;
  height: auto;
}

.tco-floating-modal-header {
  @include spacing-inset-20;
  position: relative;
  background-color: $color-tint-blue-primary;
  color: $color-foreground-on-tint;

  .tco-floating-form-btn--close {
    position: absolute;
    top: $floating-form-offset;
    right: $floating-form-offset;
  }
}

.tco-floating-modal-body {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: $border-radius-small;
  background-color: $color-foreground-on-tint;
  box-shadow: 0 2px 12px $color-box-shadow;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

  @media only screen and (orientation: landscape) {
    @include narrower-than($breakpoint-tablet-portrait) {
      position: absolute;
      top: auto;
      right: auto;
      bottom: $floating-form-offset;
      left: $floating-form-offset;
      max-width: 400px;
      max-height: 80vh;
    }
  }

  @include wider-than($breakpoint-tablet-portrait) {
    top: auto;
    right: $floating-form-offset;
    bottom: 116px;
    max-width: 400px;
    height: auto;
    max-height: 80vh;
  }

  .tco-type-display--small {
    color: $color-foreground-on-tint;

    + .tco-type-body {
      margin-bottom: $spacing-stack-24;
    }
  }

  .tco-btn-link {
    margin-bottom: $spacing-stack-24;
  }

  .tco-icon-think-bubble-white {
    width: $think-bubble-w;
    height: $think-bubble-h;
  }

  .gfield_label {
    margin-bottom: $spacing-stack-12;
    line-height: 1.3;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .textarea {
    height: $text-area-height;
    resize: none;
  }

  .gform_footer {
    display: block;
    margin: 0;
  }

  .tco-field-textarea {
    margin-bottom: 0;
  }
}

.tco-floating-modal--show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .tco-floating-modal-body {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transform: scale(1);
  }
}

// .tco-floating-modal-body,
// .tco-contact-form {
//   .gform_button {
//     border: 1px solid $color-classic-blue;
//     background-color: $color-classic-blue;
//     color: $color-foreground-on-tint;

//     &:hover {
//       border-color: $color-hover;
//       background: $color-hover;
//     }

//     &:active,
//     &:focus {
//       border-color: $color-classic-navy;
//     }

//     &[disabled],
//     &:disabled {
//       color: $color-foreground-on-tint;
//     }
//   }
// }

// ========================================================
// = FLOATING FORM
// ========================================================
.tco-floating-form {
  @include spacing-inset-20;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;

  .tco-form-row {
    margin-bottom: $spacing-stack-24;
    text-align: left;
  }

  .tco-form-label {
    @include type-eyebrow;
    margin-bottom: $spacing-stack-12;
  }

  .tco-form-textarea,
  .textarea {
    padding: 0 4px;
    line-height: 1.78;
    resize: none;
  }

  .tco-btn--primary {
    margin: $spacing-stack-24 0 0;
  }

  &-btn--collapse {
    display: none;

    @include wider-than($breakpoint-tablet-portrait) {
      display: inline-flex;
    }
  }

  &-footer {
    margin-top: $spacing-stack-40;

    a {
      @include type-link;
    }
  }
}

@keyframes pulse {
  50% {
    box-shadow: 0 2px 10px $color-box-shadow, 0 0 0 0 rgba(90, 150, 255, 0.5);
  }

  100% {
    box-shadow: 0 2px 10px $color-box-shadow, 0 0 0 15px rgba(90, 150, 255, 0);
  }
}
