$speed: 400ms;
$half-speed: $speed * 0.5;
$item-delay: $speed * 0.9;

@mixin nav-animation {
  .tco-site-nav-wrapper {
    transform: translateX(100%);
    transition: transform $speed ease-out;
  }

  .tco-site-nav-menu--primary {
    .tco-site-nav-menu-item {
      @include wider-than($breakpoint-desktop) {
        opacity: 1;
      }
    }
  }

  &--open {
    .tco-site-nav-wrapper {
      z-index: 2;
      overflow-y: auto;
      transform: translateX(0);
    }

    .tco-site-nav-menu {
      .tco-site-nav-menu-item {
        opacity: 1;
      }
    }
  }
}

@mixin logo-animation {
  &::after {
    opacity: 0;
    transition: opacity 100ms ease-out;

    .tco-site-nav--open & {
      opacity: 1;
      transition-delay: $speed - 50ms;
    }
  }
}

@mixin close-animation {
  transition: opacity $speed ease-out $speed, visibility $speed ease-out $speed;
}

@mixin open-animation {
  transition: opacity $half-speed ease-in, visibility $half-speed ease-in;
}
