@mixin card-base {
  min-width: 222px;
  min-height: 300px;
  border-radius: $border-radius-medium;
  background: $color-background-primary;
}

@mixin card-container-flat {
  @include card-base;
  border: 1px solid rgb(222, 224, 232); //left border on so the card is visiable
}

@mixin card-container-shadow {
  @include card-base;
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.15);
}

 /**
  * Applies zoom effect on hover
  */
@mixin card-scale {
  transition: transform 0.6s ease-out, background-color 0.2s linear;

  &:hover {
    transform: scale(1.03);
  }
}

 /**
  * Applies zoom effect to image elements
  * When hovering over parent anchor or button
  */
@mixin card-image-scale {
  img {
    transform: scale(0.98);
    transition: 0.6s ease-out;
  }

  &:hover {
    img {
      transform: scale(1);
    }
  }
}
