@mixin center-absolute($fill: false) {
  position: absolute;

  @if $fill {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 0);
  } @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin center-reset {
  position: initial;
  top: auto;
  left: auto;
  transform: translate(0, 0);
}

@mixin pseudo-bubble {
  content: '';
  display: block;
  border-radius: 50%;
  background-color: $color-foreground-on-tint;
}

@mixin pseudo-doodle {
  position: relative;
  flex-shrink: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    background-repeat: no-repeat;
  }
}
