/* ----------------------------------------------*\
     Compositional mixins
\*---------------------------------------------- */

// The base style for all fonts.
// Accepts an optional font color parameter and font weight (defaults to normal)
@mixin type-base-style(
  $font-color: $color-foreground-primary,
  $font-weight: normal
) {
  color: $font-color;
  font-weight: $font-weight;
  font-size: $font-size-16;
  font-family: $font-stack-sans;
}

/* ----------------------------------------------*\
     Styling mixins
\*---------------------------------------------- */
@mixin type-style-bold {
  font-weight: $font-weight-600;
}

/* ----------------------------------------------*\
    Type mixins
\*---------------------------------------------- */
@mixin type-display-extra-large($font-color: $color-foreground-primary) {
  @include type-base-style($font-color, 800);
  @include wider-than($breakpoint-tablet-portrait) {
    font-size: 90px;
    line-height: 1.2;
  }
  font-family: $font-stack-serif;
  font-size: 70px;
  line-height: 1.17;
}

@mixin type-display-large($font-color: $color-foreground-primary) {
  @include type-base-style($font-color, $font-weight-600);

  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-48;
    line-height: 1.2;
  }
  font-size: $font-size-34;
  font-family: $font-stack-serif;
  line-height: 1.17;
}

@mixin type-display-medium($font-color: $color-foreground-primary) {
  @include type-base-style($font-color, bold);

  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-34;
    line-height: 1.23;
  }
  font-size: $font-size-28;
  line-height: 1.35;
}

@mixin type-display-small($font-color: $color-foreground-primary) {
  @include type-base-style($font-color, bold);

  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-24;
    line-height: 1.25;
  }
  font-size: $font-size-22;
  line-height: 1.27;
}

@mixin type-body-large($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);

  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-22;
    line-height: 1.45;
  }
  font-size: $font-size-18;
  line-height: 1.33;
}

@mixin type-eyebrow($font-color: $color-foreground-primary) {
  @include type-base-style($font-color, bold);

  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-18;
    line-height: 1.77;
  }
  font-size: $font-size-16;
  line-height: 1.25;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@mixin type-body-medium($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);

  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-18;
    line-height: 1.44;
  }
  font-size: $font-size-16;
  line-height: 1.25;
}

@mixin type-body-default($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);

  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-18;
    line-height: 1.44;
  }
  font-size: $font-size-16;
  line-height: 1.25;
}

@mixin type-body-small($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);

  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-14;
    line-height: 1.28;
  }
  font-size: $font-size-12;
  line-height: 1.33;
}

@mixin list-plain {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin type-highlight(
  $font-color: $color-tint-blue-primary,
  $bg-color: $color-tint-blue-primary
) {
  background-image: linear-gradient(
    180deg,
    transparent 20%,
    rgba($bg-color, 0.18) 0
  );
  background-position: bottom;
  background-size: 100% 33%;
  background-repeat: no-repeat;
  color: $font-color;
  transition: background-size 0.4s ease, color 0.4s ease;
}

/**
  * Link style with highlight transition
  */
@mixin type-link(
  $font-color: $color-tint-blue-primary,
  $bg-color: $color-tint-blue-primary,
  $font-size: inherit,
  $font-weight: inherit
) {
  @include type-highlight($font-color, $bg-color);
  font-weight: $font-weight;
  font-size: $font-size;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    background-size: 100% 106%;
  }
}

/**
  * Makes type wrapped in an anchor
  * NOT have the standard link style
  */
@mixin type-not-link {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  background: none;
}
