/* ----------------------------------------------*\
     Compositional mixins
\*---------------------------------------------- */

// The base style for all fonts. Accepts an optional font color parameter
@mixin type-base-style($font-color: $color-foreground-primary) {
  color: $font-color;
  font-family: $font-stack-sans;
  font-size: $font-size-16;
  line-height: 1.5;
}

/* ----------------------------------------------*\
     Styling mixins
\*---------------------------------------------- */
@mixin type-style-bold {
  font-weight: $font-weight-600;
}

/* ----------------------------------------------*\
    Type mixins
\*---------------------------------------------- */
@mixin type-display-large($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);
  @include type-style-bold;
  font-size: $font-size-34;
  font-family: $font-stack-serif;

  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-48;
  }
}

@mixin type-display-medium($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);
  font-size: $font-size-28;
  font-weight: bold;
  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-34;
  }
}

@mixin type-display-small($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);
  font-size: $font-size-22;
  font-weight: bold;
  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-24;
  }
}

@mixin type-body-default($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);
  font-size: $font-size-16;
  font-weight: normal;
  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-18;
  }
}

@mixin type-body-small($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);
  font-size: $font-size-12;
  font-weight: normal;
  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-14;
  }
}

@mixin type-body-medium($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);
  font-size: $font-size-16;
  font-weight: normal;
  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-18;
  }
}

@mixin type-body-large($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);
  font-size: $font-size-18;
  font-weight: normal;
  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-22;
  }
}

@mixin type-eyebrow($font-color: $color-foreground-primary) {
  @include type-base-style($font-color);
  font-size: $font-size-16;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  @include wider-than($breakpoint-tablet-portrait) {
    font-size: $font-size-18;
  }
}

@mixin list-plain() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin type-highlight(
  $font-color: $color-tint-blue-primary,
  $bg-color: $color-tint-blue-primary
) {
  color: $font-color;
  background-image: linear-gradient(
    180deg,
    transparent 20%,
    rgba($bg-color, 0.18) 0
  );
  background-size: 100% 33%;
  transition: background-size 0.4s ease, color 0.4s ease;
  background-repeat: no-repeat;
  background-position: bottom;
}

/**
  * Link style with highlight transition
  */
@mixin type-link(
  $font-color: $color-tint-blue-primary,
  $bg-color: $color-tint-blue-primary,
  $font-size: inherit,
  $font-weight: inherit
) {
  @include type-highlight($font-color, $bg-color);
  font-size: $font-size;
  font-weight: $font-weight;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    background-size: 100% 106%;
  }
}

/**
  * Makes type wrapped in an anchor
  * NOT have the standard link style
  */
@mixin type-not-link {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}
