@mixin blob(
  $width: 36px,
  $height: 36px,
  $color: $color-foreground-on-tint,
  $font-size: $font-size-18
) {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  margin-bottom: $spacing-stack-12;
  color: $color;
  font-size: $font-size;
  text-align: center;

  &-content {
    @include center-absolute;
    height: 100%;
    font-size: $font-size;
    z-index: 1;
  }
}

@mixin aspect-ratio-box($width: 100%, $ratio: 65.25%) {
  position: relative;
  width: $width;
  height: 0;
  padding-bottom: $ratio;
}
