/* stylelint-disable property-disallowed-list */

$bubble: 856px;
$duration: 10s;
$delay: calc(#{$duration} / 3);
$start: 3%;
$end: 30%;
$timing-fn: cubic-bezier(0.37, 0, 0.63, 1); // ease-in-out-sine
$description-max: 800px;

@keyframes colorFade {
  0% {
    color: $color-classic-navy;
  }

  #{$start} {
    color: $color-classic-blue;
  }

  #{$end} {
    color: $color-classic-blue;
  }

  33.3% {
    color: $color-classic-navy;
  }

  100% {
    color: $color-classic-navy;
  }
}

@keyframes colorFadeDark {
  0% {
    color: $color-foreground-on-tint;
  }

  #{$start} {
    color: $color-dark-theme-blue;
  }

  #{$end} {
    color: $color-dark-theme-blue;
  }

  33.3% {
    color: $color-foreground-on-tint;
  }

  100% {
    color: $color-foreground-on-tint;
  }
}

@keyframes fadeAway {
  0% {
    opacity: 0;
  }

  #{$start} {
    opacity: 1;
  }

  #{$end} {
    opacity: 1;
  }

  33.3% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.tco-page-header-big-bubble {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: -36%;
    bottom: 36%;
    z-index: 0;
    display: block;
    width: min(130vw, #{$bubble});
    height: min(130vw, #{$bubble});
    border-radius: 50%;
    background-color: $color-classic-glass;

    @include wider-than($breakpoint-laptop) {
      right: -26%;
      bottom: 20%;
    }

    .tco-lights-out & {
      background-color: $color-classic-navy;
    }
  }

  .tco-headline-animation {
    position: relative;
    z-index: 1;
    padding-top: $spacing-stack-76;

    @include wider-than($breakpoint-tablet-portrait) {
      padding-top: $spacing-stack-50;
    }

    @include wider-than($breakpoint-laptop) {
      padding-top: $spacing-stack-32;
    }

    @include wider-than($breakpoint-desktop) {
      padding-top: 0;
    }

    &.tco-prefers-reduced {
      padding-top: 0;
    }
  }
}

.tco-motion-headline {
  @include type-display-large($bold: true);
  color: $color-classic-navy;

  .tco-lights-out & {
    color: $color-foreground-on-tint;
  }

  .tco-headline-fragment {
    display: block;
    animation-name: colorFade;
    animation-duration: $duration;
    animation-play-state: paused;
    animation-timing-function: $timing-fn;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    .tco-lights-out & {
      animation-name: colorFadeDark;
    }
  }

  .tco-headline-fragment--b {
    animation-delay: $delay;
  }

  .tco-headline-fragment--c {
    animation-delay: calc(#{$delay} * 2);
  }
}

.tco-headline-support {
  @include clamp(
    font-size,
    $breakpoint-phone-portrait,
    $breakpoint-desktop,
    $font-size-20,
    $font-size-30
  );
  position: absolute;
  top: -20px;
  right: 0;
  display: grid;
  font-weight: 400;
  font-style: normal;
  font-family: 'marydale', sans-serif;
  line-height: 1.4;
  letter-spacing: 0.07em;
  text-align: center;
  text-transform: uppercase;

  .tco-prefers-reduced & {
    position: relative;
    top: initial;
    right: initial;
    display: block;
    max-width: $description-max;
    margin-top: $spacing-stack-24;
    text-align: left;
  }
}

[class*='tco-headline-statement-'] {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  opacity: 0;
  animation-name: fadeAway;
  animation-duration: $duration;
  animation-play-state: paused;
  animation-timing-function: $timing-fn;
  animation-iteration-count: infinite;

  .tco-prefers-reduced & {
    opacity: 1;
    animation-name: none;
  }

  br {
    .tco-prefers-reduced & {
      display: none;
    }
  }
}

.tco-headline-statement-b {
  animation-delay: $delay;
}

.tco-headline-statement-c {
  animation-delay: calc(#{$delay} * 2);
}
