/* stylelint-disable selector-max-combinators, selector-max-compound-selectors */

$color-hover: #08519a;
$blurb-max: 334px;

.tco-newsletter-form {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  padding: $spacing-stack-24 $spacing-inline-24;
  border: 1px solid $color-classic-blue;
  border-radius: 8px;
  background-color: $color-foreground-on-tint;

  .tco-lights-out & {
    background-color: $color-dark-theme-black;
  }

  @include wider-than($breakpoint-phone-landscape) {
    padding: $spacing-stack-32 $spacing-inline-40;
  }

  @include wider-than($breakpoint-tablet-portrait) {
    flex-flow: row nowrap;
    gap: $spacing-inline-24;
    align-items: center;
    justify-content: space-between;
  }

  .tco-container-wrapper--glass & {
    @include wider-than($breakpoint-laptop) {
      align-items: center;
      transform: translateY(0);
    }
  }

  &-content-container {
    margin-bottom: $spacing-stack-24;

    @include wider-than($breakpoint-tablet-portrait) {
      position: relative;
      flex: 1 0 46%;
      max-width: $blurb-max;
      margin-bottom: 0;
    }

    p {
      max-width: $blurb-max;

      @include wider-than($breakpoint-tablet-portrait) {
        max-width: none;
      }
    }
  }

  &-container {
    @include wider-than($breakpoint-tablet-portrait) {
      flex: 0 1 54%;
      max-width: 480px;
    }

    .hs-form {
      display: flex;
      flex-flow: row wrap;
      gap: $spacing-inline-16;
      margin-bottom: $spacing-stack-32;
    }

    .hs-email {
      position: relative;
      flex: 1 0 240px;
      max-width: 380px;
      margin: 0;
    }

    .hs-submit {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin: 0;
    }

    .hs-button {
      padding: $spacing-stack-12 $spacing-inline-18;
      border: 1px solid $color-classic-blue;
      background-color: transparent;
      color: $color-classic-blue;

      &:hover {
        background-color: $color-classic-blue;
        color: $color-foreground-on-tint;
      }

      .tco-lights-out & {
        border-color: $color-foreground-on-tint;
        color: $color-foreground-on-tint;

        &:hover {
          border-color: $color-hover;
        }
      }
    }

    .submitted-message {
      @include type-body-small;
    }

    .hs-error-msgs {
      position: absolute;
      left: 0;
      margin: 0;
    }
  }

  &-disclaimer {
    @include type-body-small($size: $font-size-14);
    color: $color-classic-gray-medium;

    .tco-lights-out & {
      color: $color-classic-gray-light;
    }

    @include wider-than($breakpoint-laptop) {
      max-width: none;
    }
  }

  .tco-form-row {
    margin-bottom: $spacing-stack-24;
  }

  .newsletter-form {
    display: flex;
    flex-flow: column wrap;

    @include wider-than($breakpoint-laptop) {
      flex-flow: row nowrap;
    }

    .validation_error {
      @include type-body-small($color-tint-red-primary);

      @include wider-than($breakpoint-laptop) {
        position: absolute;
        top: $spacing-stack-12;
      }
    }
  }

  .tco-newsletter-form-disclaimer {
    margin-bottom: 0;
    line-height: 1.4;

    &:first-of-type {
      margin-bottom: $spacing-stack-4;
    }
  }

  &--heading {
    color: $color-classic-blue;

    .tco-lights-out & {
      color: $color-dark-theme-blue;
    }
  }

  &--lede {
    margin-bottom: 0;
  }
}
