$container-max: 220px;

.tco-image-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: $spacing-stack-50 0 $spacing-stack-40;
  padding-top: $spacing-stack-50;

  &-container {
    width: 50%;
    max-width: $container-max;
    margin-bottom: $spacing-stack-32;
    padding: 0 $spacing-inline-32;

    @include wider-than($breakpoint-phone-landscape) {
      width: 33.3%;
      margin-bottom: $spacing-stack-50;
    }

    @include wider-than($breakpoint-tablet-portrait) {
      width: 20%;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.tco-image-grid-2,
.tco-image-grid-3 {
  @include wider-than($breakpoint-tablet-portrait) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &-container {
    width: 100%;

    @include wider-than($breakpoint-tablet-portrait) {
      width: calc(50% - #{$spacing-inline-16});
    }

    &:first-of-type {
      margin-bottom: $spacing-stack-32;

      @include wider-than($breakpoint-tablet-portrait) {
        margin-bottom: 0;
      }
    }
  }
}

.tco-image-grid-3 {
  @include wider-than($breakpoint-tablet-portrait) {
    flex-flow: row wrap;
  }

  &-container {
    margin-bottom: $spacing-stack-32;

    @include wider-than($breakpoint-laptop) {
      width: calc(33.3% - (#{$spacing-inline-64} / 3));
      margin-bottom: 0;
    }
  }
}

.tco-image-grid-4 {
  @include wider-than($breakpoint-phone-landscape) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &-container {
    width: 100%;
    margin-bottom: $spacing-stack-16;

    @include wider-than($breakpoint-phone-landscape) {
      width: calc(50% - #{$spacing-inline-8});

      &:nth-child(n + 3) {
        margin-bottom: 0;
      }
    }

    @include wider-than($breakpoint-desktop) {
      width: calc(50% - #{$spacing-inline-16});
      margin-bottom: $spacing-stack-32;
    }
  }
}

.tco-image-grid-media {
  width: 100%;
  aspect-ratio: var(--logo-w) / var(--logo-h);

  &--svg {
    display: block;
    width: 100%;
    height: auto;
    fill: $color-classic-navy;

    .tco-lights-out & {
      fill: $color-foreground-on-tint;
    }
  }
}
