$container-max: 220px;

.tco-image-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-top: $spacing-stack-50;

  &-container {
    width: 50%;
    max-width: $container-max;
    margin-bottom: $spacing-stack-32;
    padding: 0 $spacing-inline-32;

    @include wider-than($breakpoint-phone-landscape) {
      width: 33.3%;
      margin-bottom: $spacing-stack-50;
    }

    @include wider-than($breakpoint-tablet-portrait) {
      width: 20%;
    }
  }
}
