.tco-image-grid-4 {
  @include wider-than($breakpoint-phone-landscape) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &-container {
    width: 100%;
    margin-bottom: $spacing-stack-16;

    @include wider-than($breakpoint-phone-landscape) {
      width: calc(50% - #{$spacing-inline-8});

      &:nth-child(n + 3) {
        margin-bottom: 0;
      }
    }

    @include wider-than($breakpoint-desktop) {
      width: calc(50% - #{$spacing-inline-16});
      margin-bottom: $spacing-stack-32;
    }
  }
}
