@use 'sass:math';

$motion-content-max: 464px;
$mini-card: 260px;
$mini-slide: 174px;
$mini-slide-h: 116px;
$track-height: 240px;
$img-container: 144px;
$scale: 0.85;
$scale-full: 0.9;
$duration: 0.35s;
$duration-full: 0.55s;
$timing-fn: cubic-bezier(0.45, 0.05, 0.55, 0.95);
$container-offset: 4px;

.tco-card--motion {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: $spacing-stack-40;
  max-width: none;
  border-radius: 20px;
  background-color: $color-foreground-on-tint;
  text-align: center;

  @include wider-than($breakpoint-desktop) {
    gap: $spacing-stack-64;
  }

  .tco-card-content-container {
    width: min(100%, #{$motion-content-max});
    margin: 0 auto;
    padding-top: $spacing-stack-40;
    padding-bottom: 0;
    color: $color-classic-gray-dark;

    @include wider-than($breakpoint-desktop) {
      padding-top: $spacing-stack-48;
    }
  }

  .tco-card-description {
    margin-bottom: $spacing-stack-32;
  }

  .tco-text-link-motion {
    @include type-link-cta($color-classic-blue);
    @include clamp(
      font-size,
      $breakpoint-phone-portrait,
      $breakpoint-desktop,
      $font-size-16,
      $font-size-18
    );
    display: inline-flex;
    gap: $spacing-inline-12;
    align-items: center;
    justify-content: center;
    border-bottom: 0;
    cursor: pointer;

    .tco-text-link-icon {
      width: math.div(32, 18) * 1em;
      height: auto;
      fill: $color-classic-blue;
    }
  }

  .tco-lights-out & {
    background-color: $color-foreground-on-tint;
  }
}

.tco-card-motion-container {
  width: 100%;
}

.tco-motion-track--carousel {
  &.flickity-enabled {
    &:focus {
      outline: 2px solid $color-classic-blue;
    }
  }
}

// flickity cell
.tco-mini-card {
  position: absolute;
  width: $mini-card;
  height: $track-height;
  margin: 0 $spacing-inline-2;
  border: none;
  perspective: 1000px;

  .animation-container {
    position: absolute;
    top: $container-offset;
    left: $container-offset;
    overflow: hidden;
    width: calc(100% - #{$container-offset} * 2);
    height: calc(100% - #{$container-offset} * 2);
    border-radius: 16px;
    box-shadow: $box-shadow-mini;
    transition: transform $duration $timing-fn;
    transform: scale3d(#{$scale}, #{$scale}, #{$scale});
  }

  &.is-selected {
    .animation-container {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
}

.tco-mini-card-link {
  position: absolute;
  top: 0;
  left: 0;
  //display: none;
  width: 100%;
  height: 100%;
  border-width: 0;

  .is-selected & {
    display: block;
  }

  &:focus {
    outline: 4px solid $color-classic-blue;
    outline-offset: -4px;
  }
}

.tco-motion-control-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: $spacing-stack-20 $spacing-inline-16 $spacing-stack-16;
}

.tco-motion-control {
  position: relative;
  top: 0;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: $color-classic-navy;

  .tco-motion-control-icon--play {
    display: none;
    transform: translateX(1px);
  }

  .tco-motion-control-icon--pause {
    display: block;
  }

  &.tco-motion-track--paused {
    .tco-motion-control-icon--play {
      display: block;
    }

    .tco-motion-control-icon--pause {
      display: none;
    }
  }
}

.tco-motion-control-icon {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  fill: $color-foreground-on-tint;
}

.tco-mini-card-container {
  display: block;
  overflow: hidden;
  border-width: 0;
}

.tco-mini-image-container {
  width: 100%;
  height: $img-container;
}

.tco-mini-image-container,
.tco-mini-slide {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.tco-mini-content {
  padding: $spacing-stack-16 $spacing-inline-16;
  background-color: $color-classic-navy;
  color: $color-foreground-on-tint;
  text-align: left;

  .tco-type-eyebrow,
  .tco-type-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.tco-motion-row {
  display: flex;
  flex-flow: row nowrap;
  gap: $spacing-inline-8;

  &--top {
    width: calc(var(--slide-count-a) * #{$mini-slide});
    margin-bottom: $spacing-stack-8;
  }

  &--bottom {
    width: calc(var(--slide-count-b) * #{$mini-slide});
  }
}

.tco-motion-track--slider {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.tco-mini-slide {
  flex: 0 0 auto;
  overflow: hidden;
  width: $mini-slide;
  height: $mini-slide-h;
  margin: 0;
  border-radius: 8px;
  box-shadow: $box-shadow-mini;

  .tco-motion-row--bottom & {
    transform: translateX(-50%);
  }

  img {
    object-fit: cover;
  }
}

// full width carousel
.tco-carousel-full-header {
  width: min(100%, 800px);
  margin: 0 auto $spacing-stack-40;
  text-align: center;

  @include wider-than($breakpoint-desktop) {
    margin-bottom: $spacing-stack-76;
  }

  .tco-type-display--medium {
    margin-bottom: 0;
  }
}

.tco-carousel-full {
  position: relative;

  .tco-motion-container {
    width: 100%;
  }

  .tco-motion-control-container {
    position: absolute;
    right: 0;
    bottom: -16px;
  }

  .flickity-viewport {
    overflow: visible;
  }

  .flickity-page-dots {
    @include wider-than($breakpoint-tablet-portrait) {
      margin-top: $spacing-stack-50;
    }

    .flickity-page-dot {
      &.is-selected {
        &::before {
          background: $color-classic-blue;
        }
      }

      &::before {
        border-color: $color-classic-blue;
      }
    }
  }
}

.tco-carousel-card-full {
  position: absolute;
  padding: 0;
  text-align: center;
  perspective: 1000px;

  .tco-animation-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: min((100vw - 100px), 770px);
    height: 100%;
    padding: $spacing-stack-24 $spacing-inline-24;
    border-radius: 20px;
    background-color: $color-foreground-on-tint;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    transition: transform $duration-full $timing-fn;
    transform: scale3d(#{$scale-full}, #{$scale-full}, #{$scale-full});
    transform-origin: center;

    @include wider-than($breakpoint-tablet-portrait) {
      padding: $spacing-stack-50 $spacing-inline-60;
    }
  }

  &.is-selected {
    .tco-animation-container {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .tco-carousel-title {
    margin-bottom: $spacing-stack-24;

    @include wider-than($breakpoint-tablet-portrait) {
      margin-bottom: $spacing-stack-40;
    }
  }

  .tco-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-inline-24;
    align-items: center;
    justify-content: center;

    @include wider-than($breakpoint-tablet-portrait) {
      gap: $spacing-inline-50;
    }
  }

  .tco-grid-item-image {
    width: 100%;
    height: 100%;
    max-height: 62px;
  }

  .tco-btn {
    margin-top: $spacing-stack-40;
  }
}

/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;

  &:focus {
    outline: none;
  }

  &.is-draggable {
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    .flickity-viewport {
      cursor: grab;
    }
  }
}

.flickity-viewport {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: grabbing;
}
