.documentation-block {
  padding-top: $documentation-padding;
  border: 1px solid $documentation-gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;

  footer {
    font-size: rem(12);
    background: rgba($documentation-white, 0.8);
    border-top: 1px solid $documentation-gray;
    justify-self: flex-end;
    padding: $documentation-padding / 2;
    display: flex;
    flex-flow: column wrap;
    margin-top: $documentation-padding;
    font-family: sans-serif;
    width: 100%;

    p {
      overflow: auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0 0 2px 0;
    }
  }
}
