.documentation-grid {
  display: grid;
  grid-gap: $documentation-padding / 2;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.documentation-grid--large {
  display: grid;
  grid-gap: $documentation-padding;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.documentation-grid--list {
  display: grid;
  grid-gap: $documentation-padding;
  grid-template-columns: 1fr;
  justify-items: flex-start;
}

.documentation-grid--feature {
  display: grid;
  grid-gap: $documentation-padding / 2;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
