/* stylelint-disable max-line-length, max-nesting-depth , selector-max-combinators, selector-max-compound-selectors, selector-max-specificity */
/* ----------------------------------------------*\
    Variables
\*---------------------------------------------- */

$form-input-border: 1px solid rgb(208, 214, 219);
$form-input-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
$opacity--disabled: 0.4;

/* ----------------------------------------------*\
    Form Row
\*---------------------------------------------- */

.tco-form-row {
  position: relative;
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tco-form-row--group {
  position: relative;
  margin-bottom: $spacing-inline-12;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tco-form-fieldset {
  &.disabled {
    opacity: $opacity--disabled;
  }
}

/* ----------------------------------------------*\
      Form controls
\*---------------------------------------------- */

.tco-form-input,
%tco-form-input {
  @include type-body-small;
  width: 100%;
  border: $form-input-border;
  border-radius: $border-radius-small;
  background-color: #fff;
  background-image: none;
  box-shadow: $form-input-box-shadow;

  &::placeholder {
    color: $color-foreground-primary;
  }

  // fixes hidden focus ring on mac firefox
  &:focus {
    box-shadow: 0 0 0 3px -moz-mac-focusring;
  }

  &:disabled {
    opacity: $opacity--disabled;
    pointer-events: none;
  }

  &.is-error,
  &.is-success {
    padding-left: rem(32px);
  }

  &.is-error {
    border-color: $color-tint-red-primary;
  }

  &.is-success {
    border-color: $color-tint-green-primary;
  }
}

.tco-form-state-icon {
  position: absolute;
  left: rem(8px);
  width: rem(16px);
  height: rem(16px);
  padding: rem(3px);
  border-radius: 100%;

  &--error {
    background-color: $color-tint-red-primary;
    fill: $color-foreground-on-tint;
  }

  &--success {
    background-color: $color-tint-green-primary;
    fill: $color-foreground-on-tint;
  }
}

.tco-form-input--large {
  @include spacing-inset-16;

  + .tco-form-state-icon {
    top: rem(44px);
  }
}

.tco-form-input--medium {
  @include spacing-inset-8;

  + .tco-form-state-icon {
    top: rem(36px);
  }
}

.tco-form-input--small {
  @include spacing-squish-4-8;
  font-size: $font-size-12;

  + .tco-form-state-icon {
    top: rem(30px);
  }
}

/* ----------------------------------------------*\
      Text Area
\*---------------------------------------------- */

.tco-form-textarea {
  @extend %tco-form-input;

  @include spacing-inset-8;

  + .tco-form-state-icon {
    top: rem(34px);
  }
}

/* ----------------------------------------------*\
      Form controls for labels and legends
\*---------------------------------------------- */

.tco-form-label {
  position: relative;
  display: block;
  font-weight: $font-weight-600;

  .tco-form-label-text {
    display: block;
    margin-bottom: 0.5rem;
  }

  .tco-form-label-optional {
    font-style: italic;
  }
}

/* ----------------------------------------------*\
      Checkbox
\*---------------------------------------------- */

.tco-form-checkbox {
  @extend %tco-accessibly-hidden;

  &:focus + label::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: rem(20px);
    height: rem(20px);
    border: 1px solid #000;
    border-radius: 2px;
  }

  + label {
    position: relative;
    margin-right: $spacing-inline-32;
    padding-left: rem(20px);
    font-weight: 400;
    font-size: $font-size-14;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: rem(16px);
      height: rem(16px);
      border: $form-input-border;
      border-radius: 2px;
      background: none;
      box-shadow: $form-input-box-shadow;
    }
  }

  &:checked + label,
  &:checked + input + label {
    // sass-lint:disable-block nesting-depth
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 3.35l2.82 2.83L9 1'/%3E%3C/svg%3E");
      background-color: $color-tint-blue-primary;
      line-height: 1;
      text-align: center;
    }
  }

  &:indeterminate + label,
  &:indeterminate + input + label {
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 1L8.5 1'/%3E%3C/svg%3E");
      background-color: $color-tint-blue-primary;
      line-height: 1.44;
      text-align: center;
    }
  }

  &:disabled + label {
    opacity: $opacity--disabled;
  }

  .is-error & {
    + label {
      &::before {
        border: 1px solid $color-tint-red-primary;
      }
    }

    .theme-dark & {
      + label {
        &::before {
          border-color: #000;
        }
      }
    }
  }

  .theme-dark & {
    .is-error & {
      + label {
        &::before {
          border-color: #000;
        }
      }
    }

    &:disabled + label {
      color: #000;

      &::before {
        border-color: #000;
        background-color: #000;
      }
    }
  }
}

/* ----------------------------------------------*\
      Radio Buttons
\*---------------------------------------------- */

.tco-form-radio {
  @extend %tco-accessibly-hidden;

  &:checked + label::after {
    opacity: 1;
  }

  + label {
    position: relative;
    margin-right: $spacing-inline-32;
    padding-left: rem(24px);
    font-weight: 400;
    font-size: $font-size-14;

    &::before {
      content: '';
      position: absolute;
      top: rem(2px);
      left: 0;
      width: rem(16px);
      height: rem(16px);
      border: $form-input-border;
      border-radius: 50%;
      box-shadow: $form-input-box-shadow;
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(6px);
      left: rem(4px);
      width: rem(10px);
      height: rem(10px);
      border-radius: 100%;
      background-color: $color-tint-blue-primary;
      opacity: 0;
    }
  }

  .is-error & {
    + label {
      &::before {
        content: '';
        position: absolute;
        top: rem(2px);
        left: 0;
        width: rem(16px);
        height: rem(16px);
        border: 1px solid $color-foreground-tertiary;
        border-radius: $border-radius-round;
        box-shadow: $form-input-box-shadow;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(6px);
      left: rem(4px);
      width: rem(10px);
      height: rem(10px);
      border-radius: $border-radius-round;
      background-color: $color-tint-blue-primary;
      opacity: 0;
    }
  }

  &:disabled + label {
    opacity: $opacity--disabled;
  }

  .theme-dark & {
    + label {
      &::before {
        border-color: #000;
      }
    }

    &:checked {
      + label {
        &::before {
          border-color: #000;
        }
      }
    }

    &:disabled + label::before {
      border-color: #000;
      background-color: #000;
    }
  }
}

/* ----------------------------------------------*\
      Toggle
\*---------------------------------------------- */

.tco-form-toggle {
  @extend %tco-accessibly-hidden;

  + label {
    position: relative;
    margin-right: $spacing-inline-32;
    padding-left: rem(48px);
    font-weight: 400;
    font-size: $font-size-14;

    &::before {
      content: '';
      position: absolute;
      top: rem(2px);
      left: 0;
      width: rem(36px);
      height: rem(20px);
      border-radius: rem(100px);
      background-color: $color-foreground-tertiary;
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(4px);
      left: rem(2px);
      width: rem(16px);
      height: rem(16px);
      border-radius: 100%;
      background-color: #fff;
      transition: left 0.1s linear;
    }
  }

  &:checked {
    + label::after {
      left: rem(18px);
    }

    + label::before {
      background-color: $color-tint-blue-primary;
    }
  }

  .is-error & {
    + label {
      &::before {
        content: '';
        position: absolute;
        top: rem(2px);
        left: 0;
        width: rem(36px);
        height: rem(20px);
        border-radius: rem(100px);
        background-color: $color-foreground-tertiary;
      }

      &::after {
        content: '';
        position: absolute;
        top: rem(4px);
        left: rem(2px);
        width: rem(16px);
        height: rem(16px);
        border-radius: $border-radius-round;
        background-color: #fff;
        transition: left 0.1s linear;
      }
    }

    &:checked {
      + label::after {
        left: rem(18px);
      }

      + label::before {
        background-color: $color-tint-blue-primary;
      }
    }

    .theme-dark & {
      + label {
        &::before {
          border-color: #000;
        }
      }

      &:checked {
        + label {
          &::before {
            border-color: #000;
          }
        }
      }
    }
  }

  &:disabled + label {
    opacity: $opacity--disabled;
  }
}

/* ----------------------------------------------*\
      Select
\*---------------------------------------------- */
.select {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23939ab4' fill-rule='evenodd' viewBox='0 0 24 24'%3E%3Cpath d='M11.0673126,19.1021479 L0.386350391,8.10198065 C-0.128783464,7.57145453 -0.128783464,6.71133772 0.386350391,6.18086821 L1.63211366,4.89788139 C2.14636816,4.3682609 2.97982649,4.36724207 3.4952901,4.89561733 L12.0000275,13.6134412 L20.5047099,4.89561733 C21.0201735,4.36724207 21.8536318,4.3682609 22.3678863,4.89788139 L23.6136496,6.18086821 C24.1287835,6.71139433 24.1287835,7.57151113 23.6136496,8.10198065 L12.9327424,19.1021479 C12.4176085,19.6326174 11.5824464,19.6326174 11.0673126,19.1021479 Z' /%3E%3C/svg%3E");
  background-position-x: calc(100% - 8px);
  background-position-y: 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // inherits inset spacing from text input
  &.tco-form-input--large {
    background-position-x: calc(100% - 16px);
    background-size: 16px;
  }

  &.tco-form-input--medium {
    background-position-x: calc(100% - 12px);
    background-size: 14px;
  }
}

/* ----------------------------------------------*\
      Error States
\*---------------------------------------------- */

.tco-form-input-error-msg {
  margin-top: $spacing-stack-4;
  border-radius: $border-radius-xsmall;
  color: $color-tint-red-primary;
  font-weight: 400;
  text-transform: none;

  + .tco-form-row {
    margin-top: rem(8px);
  }

  .theme-dark & {
    color: #000;
  }
}
