$icon-size: 48px;

.tco-social-icons-list {
  padding: 0;
  list-style-type: none;

  > li {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.tco-social-icons-link {
  border-bottom-width: 0;

  .tco-container-wrapper & {
    background-image: none;
  }

  > .tco-icon {
    width: $icon-size;
    height: $icon-size;
  }

  &:hover {
    opacity: 0.8;
  }
}
